.logo_wrap,
.main_content_outer,
.navigation,
.footer_wrap {
    padding-left: 7%;
    padding-right: 7%; 
}

.max_width {
    margin: 0 auto;
    max-width: 1200px;
}

//------------------------------------------------------------------
//Navigation
//------------------------------------------------------------------
.logo_wrap {
    margin: 0 auto;        
    max-width: 1200px;
}

.logo_inner_wrap {
    position: relative;
}

h1 {
    top: 23px;
    left: 0;
    margin-right: 0;
}

.navigation .max_width nav {
    float: right;
    margin-right: -2px;
}

.navigation nav ul.left { 
    margin-left: 0;
    width: 223px; 
}

.navigation nav ul.right { 
    margin-right: 0;
    width: 241px;
}

.navigation .max_width nav ul.left li.nav_1 { margin-right: 7px; width: 65px; }
.navigation .max_width nav ul.left li.nav_2 { margin-right: 7px; width: 71px; }
.navigation .max_width nav ul.left li.nav_3 { width: 66px; }
.navigation .max_width nav ul.right li.nav_4 { margin-right: 7px; width: 74px; }
.navigation .max_width nav ul.right li.nav_5 { margin-right: 7px; width: 61px; } 
.navigation .max_width nav ul.right li.nav_6 { width: 90px; }

.navigation .max_width nav ul.left li.nav_1 a, 
.navigation .max_width nav ul.left li.nav_2 a,
.navigation .max_width nav ul.left li.nav_3 a, 
.navigation .max_width nav ul.right li.nav_4 a,
.navigation .max_width nav ul.right li.nav_5 a,
.navigation .max_width nav ul.right li.nav_6 a {
    float: left;
}

.before_header {
    padding: 0 7%;
    max-width: 1200px;
    margin: 0 auto;
}

.before_header .charter {
    line-height: 16px;   	
}

.before_header ul {
    float: right;
    position: relative;
    margin-right: -2px;
}

.before_header_inner {
    position: relative;
}

.charter {
    font-size: 11px;
    position: absolute;
    left: 63px;
    top: 54px;
}

//------------------------------------------------------------------
//Masonry responsive grid
//------------------------------------------------------------------

.masonry_responsive_grid {
    margin: 0 10px 0 16px;    
}

.masonry_item {
    width: 24.90%;
}