//------------------------------------------------------------------
//Globals
//------------------------------------------------------------------

html {
    background: #eee image-url('bg_light_source.jpg') top no-repeat;
    color: #333;    
    font-family: "Helvetica Neue", Arial, sans-serif;
    overflow-y : scroll;
    
    -webkit-font-smoothing: antialiased;    
}

//Opera Fix for sticky footer
body:before {
    content:"";
    height: 100%;
    float:left;
    width:0;
    margin-top:-32767px;
}

a,
a:visited {
    color: $blue;
}

h2, h3, h4, h5, h6 {
    @include proxima_regular;
    @include white_text_shadow_bottom;
}

h2 { 
    color: #666;
    font-size: 60px;
    line-height: 72px;
    padding: 2.4% 0 0 2.4%; 
}

h5 {
    border-bottom: 1px solid #bbb;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 11px;
    padding-bottom: 5px;
      
    @include proxima_light;
    @include white_box_shadow_bottom;      
}

h6 {
    font-family: "Helvetica Neue", Arial, sans-serif;	
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 9px;
}

p {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 9px;
}

.small_caps {
	font-style: normal;
	font-weight: normal;
	font-variant: small-caps;
}

.main_content_inner {
    overflow: hidden;
}

//------------------------------------------------------------------
//Buttons
//------------------------------------------------------------------

.button,
.button:visited { @include button }

.button:hover { @include button_hover }

//------------------------------------------------------------------
//Sticky Footer
//------------------------------------------------------------------

#page_wrap {
    background: image-url('bg_noise_transparent.png') center;
    min-height: 100%;
}

#page_content {
    overflow: auto;
	padding-bottom: 70px;
}

//------------------------------------------------------------------
//Header / Logo
//------------------------------------------------------------------
.before_header {
    background: #666;
    border-bottom: 1px solid #444;
    display: block;
    color: #f0f0f0;
    font-size: 10px;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 101;

    @include background(linear-gradient(rgba(112,112,112, 1), rgba(92,92,92, 1)));
 	@include black_text_shadow_top;   
}

.before_header .charter {
    font-size: 10px;
    line-height: 14px;
    margin: 0;    
}

.before_header ul {
    display: none;
}

header {
    background: #fff image-url('bg_diagonal_lines.png') center;
    position: relative;
}

h1 {
	cursor: pointer;
    height: 90px;
    left: 50%;
    margin: -50px 0 0 -50px;    
    position: absolute;
    top: 50%;
    width: 90px;
    z-index: 101;
    
	@include border-radius(80px);
	
	@include pie-element(absolute);
}

h1 a {
    background: #fff;
    display: block;
    height: 100px;
    overflow: hidden;
    position: relative;
    text-indent: -6666px;
    width: 100px;
    
	@include background(linear-gradient(rgba(white, 1), rgba(221,221,221, 1)));
	@include border-radius(80px);
	@include box-shadow(rgba(34, 34, 34, .7) 0 5px 5px, rgba(34, 34, 34, .2) 0 0 5px);
	@include transition-property(box-shadow);
  	@include transition-duration(0.3s);
  	@include transition-timing-function(ease-in);
	
	@include pie-element(relative);
}

h1 a:hover,
h1 a:focus {
    background: #f0f0f0;

	@include background(linear-gradient(rgba(255, 255, 255, 1), rgba(200, 200, 200, 1)));
	@include box-shadow(rgba(34, 34, 34, .7) 0 5px 5px, rgba(34, 34, 34, .2) 0 0 5px, rgba(108, 173, 223, .5) 2px 4px 20px, rgba(108, 173, 223, .25) -9px -4px 20px);    


	@include pie-element(relative);
}

h1 a:active {
    margin-top: 1px;

    @include box-shadow(rgba(34, 34, 34, .7) 0 3px 3px, rgba(34, 34, 34, .1) 0 0 5px, rgba(108, 173, 223, .65) 2px 4px 25px, rgba(108, 173, 223, .25) 2px -4px 25px, rgba(108, 173, 223, .1) 0 0 40px, rgba(108, 173, 223, .4) -9px -4px 30px);  
    @include transition-property(box-shadow);
  	@include transition-duration(0.01s);
  	@include transition-timing-function(ease-in);

	@include pie-element(relative);
}

h1 a span {
    background: image-url('png_master_sprite.png') 18px 31px;     
    display: block;
	position: relative;
    height: 100px;
    width: 100px;
    
    @include border-radius(50px);
    
	@include pie-element(relative);
}


//------------------------------------------------------------------
//Navigation
//------------------------------------------------------------------

.navigation {
    border-top: 1px solid #6caddf;
    border-bottom: 1px solid #6caddf;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 50px;
    overflow: hidden;
    text-transform: uppercase;
    z-index: 100;
    
	@include box-shadow(rgba(0, 0, 0, .2) 0 0 2px, rgba(0, 0, 0, .6) 0 0 10px);
	@include proxima_semibold;    
	@include white_text_shadow_bottom;
	
	@include pie-element(relative);
}

.navigation nav ul {
    display: block;
    overflow: hidden;
    width: 50%;
}

.navigation nav .left {
    float: left;
}

.navigation nav .right {
    float: right;
    text-align: right;
}

.navigation nav ul li {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #c9c9c9;
}

.navigation nav .left li {
    border-right: 1px solid #c9c9c9;
}

.navigation nav .right li {
    border-left: 1px solid #fff;
}

.navigation nav ul .nav_1,
.navigation nav ul .nav_4 {
    border-top: 0;
}

.navigation nav ul .nav_3,
.navigation nav ul .nav_6 {
    border-bottom: 0;
}

.navigation nav ul li a,
.navigation nav ul li a:visited {
	background: #f0f0f0;
    display: block;
    height: 50px;

	@include background(linear-gradient(rgba(255, 255, 255, .10), rgba(0, 0, 0, .10)));
	@include white_text_shadow_bottom;
}

.navigation nav ul li a:hover, 
.navigation nav ul li a:focus {
	background-color: #e2e2e2;

	@include background(linear-gradient(rgba(255, 255, 255, .15), rgba(0, 0, 0, .15)));
}

.navigation nav ul li a:active {
    height: 49px;
    padding-top: 1px;
    
	@include background(linear-gradient(rgba(0, 0, 0, .15), rgba(255, 255, 255, .15)));
}

.navigation nav .left li a {
    padding-left: 20px;
}

.navigation nav .right li a {
    padding-right: 20px;
}

body.home .navigation nav .left li.nav_1 a,
body.page-about .navigation nav .left li.nav_2 a,
body.post-type-archive-work .navigation nav .left li.nav_3 a,
body.single-work .navigation nav .left li.nav_3 a,
body.post-type-archive-goods .navigation nav .right li.nav_4 a,
body.single-goods .navigation nav .right li.nav_4 a,
body.post-type-archive-blog .navigation nav .right li.nav_5 a,
body.single-blog .navigation nav .right li.nav_5 a,
body.page-blog .navigation nav .right li.nav_5 a,
body.single-post .navigation nav .right li.nav_5 a,
body.page-contact .navigation nav .right li.nav_6 a,
body.home .navigation nav .left li.nav_1 a:hover,
body.page-about .navigation nav .left li.nav_2 a:hover,
body.post-type-archive-work .navigation nav .left li.nav_3 a:hover,
body.single-work .navigation nav .left li.nav_3 a:hover,
body.post-type-archive-goods .navigation nav .right li.nav_4 a:hover,
body.single-goods .navigation nav .right li.nav_4 a:hover,
body.post-type-archive-blog .navigation nav .right li.nav_5 a:hover,
body.single-blog .navigation nav .right li.nav_5 a:hover,
body.page-blog .navigation nav .right li.nav_5 a:hover,
body.single-post .navigation nav .right li.nav_5 a:hover,
body.page-contact .navigation nav .right li.nav_6 a:hover {
	background: #6caddf;
	color: #fff;
	height: 48px;
    padding-top: 2px;

	@include background(linear-gradient(rgba(134,198,247, .7), rgba(108,173,223, .7)));
	@include box-shadow(inset rgba(72, 110, 140, .8) 0 1px 3px, inset rgba(72, 110, 140, .2) 0 3px 3px);
	@include text-shadow(rgba(51, 93, 125, 1)0 1px 1px, rgba(51, 93, 125, .75) 0 0 10px);
	
	@include pie-element(relative);
}

//------------------------------------------------------------------
//Ribbon New
//------------------------------------------------------------------

.ribbon_new {
    background: image-url('png_master_sprite.png') -118px -100px;
    display: block;
    height: 44px;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 44px;
}

.ribbon_new span {
    color: #fff;
    font-size: 10px;
    position: absolute;
    right: 6px;
    top: 7px;
    text-align: center;
    text-transform: uppercase;
    
    @include rotate(45deg); 
    @include blue_text_shadow_bottom;   
}

//------------------------------------------------------------------
//Global image borders and hover functionality
//------------------------------------------------------------------

//image needs a wrap with a z index. Maybe the shadow can be put on the img_wrap?

.img_border {
    background: #fff;
    //a lot depends on this border, specifically, the "new ribbon" and upper left post icons on blog
    border: 9px solid #fff;  
    display: block; 
    position: relative;  
    
    @include default_container_shadow;
    @include transition_default;
}

.img_border:before,
.img_border:after {
	background: rgba(0, 0, 0, .5);
	content: '';
	z-index: -1;
	position: absolute;
	left: 1px;
	bottom: 5px;
	width: 20%;
	max-width: 300px;
	height: 40%;
	
	@include transform(skew(-20deg) rotate(-16deg));
	@include box-shadow(rgba(0, 0, 0, 1) 0 10px 18px);    
}

.img_border:after {
	left: auto;
	right: 10px;

	@include transform(skew(20deg) rotate(16deg));
}



.img_border .ribbon_new {
    right: -10px;
    top: -10px;	
}

.img_border .img_wrap {
	overflow: hidden;	
	position: relative;
	
    @include default_container_inner_shadow; 
    @include transition_default; 	
}


.img_border .img_wrap img {
    display: block;
    width: 100%;

    @include opacity(0);
}

.img_border .img_wrap em {
    border-top: 1px solid #6f9dc0;    
    bottom: 0;
    color: #fff;
    display: inline-block;
    font-style: normal;    
    font-size: 11px;
    left: 0;   
    padding: 6px;
    position: absolute;
	width: 100%;
    
    @include blue_text_shadow_top;
    @include box-shadow(inset rgba(207, 233, 254, 1) 0 1px 0);            
    @include gradient_solid_standard;
    @include transition_default;    
}

//Hover States, need this because a.img_border may not always be an a tag
a.img_border:hover { @include default_container_shadow_hover; }
a.img_border:hover .img_wrap { @include default_container_inner_shadow_hover; }

//------------------------------------------------------------------
//Hero Slider
//------------------------------------------------------------------

/* this changes the height of the master slideshow.*/
.dummy_slide {
    height: 241px;
    width: 100%;
    visibility: hidden;
}

.hero_slider_wrap {
    position: relative;
}

.hero_slider li {
    display: block;
}

.hero_slider li .slide_wrap,
.hero_slider li .slide_inner_wrap {
    height: 241px;
}

.hero_slider li .slide_wrap {
    border-bottom: 3px #fff solid;
}

.hero_slider li .slide_inner_wrap {
    border-bottom: 1px #ccc solid;      
}

.hero_slider {
  width:auto !important;
  position:relative !important;
  overflow:visible !important;
}
.hero_slider .pane {
  width:auto !important;
  position: relative !important;
  height: 0 !important;
}

.hero_slider .slide_wrap { background: image-url('bg_pattern_square.jpg') center; }

.hero_slider .slide_wrap .slide_inner_wrap { @include background(linear-gradient(rgba(255, 255, 255, .3), rgba(42, 83, 114, .3))); }

.hero_slider .second .slide_wrap { background: image-url('bg_pattern_squiggle.jpg') center; }

.hero_slider .second .slide_wrap .slide_inner_wrap { @include background(linear-gradient(rgba(255, 255, 255, .3), rgba(75, 76, 77, .3))); }

.hero_slider .third .slide_wrap .slide_inner_wrap { @include background(linear-gradient(rgba(255, 255, 255, .3), rgba(75, 76, 77, .3))); }

.hero_slider .third .slide_wrap { background: image-url('bg_noise_transparent.png') center; }

.hero_slider_wrap .slides_nav {
    bottom: 0;
    left: 50%;
    margin-left: -150px;
    position: absolute;
    text-align: center;
    width: 300px;
    z-index: 100;
}

.hero_slider_wrap .slides_nav li {
    background: aqua;
    display: inline;
    text-align: center;
}

.hero_slider_wrap .slides_nav li a {
    text-align: center;
    margin: 0 20px;
}

//------------------------------------------------------------------
//Feed Home
//------------------------------------------------------------------

.feed_home {
    overflow: hidden;
}

.feed_home .hr {
    display: none;
}

.feed_home section {
    margin: 3%;
    width: 94%;
}

.feed_home section img {
   display: block;
   width: 100%;
}

.home_recent_post .home_excerpt {
	margin-bottom: 18px;
}

.home_dribbble_shots ol li {    
    display: block;
    margin-bottom: 18px;
}

.home_tweets ul {
    margin-bottom: 18px;
}

.home_connections .links_social li {
	display: block;
    margin-bottom: 15px; 
	width: 100%;
	
	@include proxima_regular;
}

.home_connections .links_social li a {
    display: block;   
    overflow: visible;
	position: relative;
    width: 100%;    
}

.home_connections .links_social li a .button { 
    display: block;
    font-size: 16px;
    height: 36px;
    line-height: 38px;
    padding: 0 0 0 42px;
    
    @include proxima_regular;
}

.home_connections .links_social li a span {
    background-image: image-url('png_master_sprite.png');
	display: block;
    height: 0;
	left: 11px;
	overflow: hidden;
	padding: 22px 0 0 0;	
	position: absolute;
	top: 8px;
	width: 22px;
	
	@include opacity(0.85);
    @include transition_default;
}

.home_connections .links_social li a:hover span {
	@include opacity(1);
}

.home_connections .links_social .dribbble span { background-position: 0px -95px; }
.home_connections .links_social .facebook span { background-position: -1px -142px; }
.home_connections .links_social .flickr span { background-position: 0px -190px; }
.home_connections .links_social .linkedin span { background-position: -1px -239px; }
.home_connections .links_social .last_fm span { background-position: -1px -285px; }
.home_connections .links_social .twitter span { background-position: 0px -333px; }

//------------------------------------------------------------------
//Blog Cal
//------------------------------------------------------------------

.blog_cal {
    background: image-url('png_master_sprite.png') -65px -100px;    
    height: 49px;
    overflow: hidden;
    width: 44px;
}

.blog_cal strong,
.blog_cal em {
    display: block;
    text-align: center;
    font-weight: normal;
    font-style: normal;
}

.blog_cal strong {
    color: #fff;
    font-size: 14px;
    font-variant: small-caps;
    text-transform: lowercase;
    
    @include blue_text_shadow_bottom;
    @include proxima_semibold;
}

.blog_cal em {
    color: #555;
    font-size: 18px;
    font-weight: bold;
    padding-top: 7px;
    
    @include white_text_shadow_bottom;        
}

.blog_cal p {
      padding-top: 20px;
}

//------------------------------------------------------------------
//Blog Style
//------------------------------------------------------------------

.icon_post_format {
    padding: 2px;
    height: 40px;
    width: 40px;
}

.format-standard .img_border:before {
    background: #fff image-url('png_master_sprite.png') -163px -91px;
    content:"";
    display: block;
    height: 50px;
    position: absolute;
    left: -9px;
    top: -9px;
    width: 50px;
    z-index: 100;
}

.post_wrap {
    position: relative;
    margin: 0 0 40px 0;
}

.post_wrap .blog_cal {
    position: absolute;
    top: 14px;
}

.post_wrap h3 {
    border-top: 1px solid #bbb; 
    font-size: 25px;
    line-height: 25px;    
    padding: 14px 0 13px 55px;
    
    @include proxima_light;
    @include white_box_shadow_top_inset;      
    @include white_text_shadow_bottom;
}

.post_wrap h3 em {
    display: table;
    font-style: normal;
    height: 50px;
    width: 75%;              
}

.post_wrap h3 em span {
    display: table-cell; 
    vertical-align: middle;              
}

.post_wrap h3 em a {  
    color: #333; 
    display: inline;
    
    @include transition_default;    
}

.post_wrap h3 em a:hover {
     color: $blue;   
}

.format-quote {
    background: #fff image-url('bg_diagonal_lines_5_percent.png');
    overflow: visible;
    
    @include default_container_shadow;
}

.format-quote aside {
    background: #fff;
    border-right: 1px solid #afadad;
    bottom: 0;    
    float: left;
    position: absolute;
    top: 0;    
    height: 100%;
    width: 50px;
    
	@include background(linear-gradient(rgba(255, 255, 255, 1), rgba(250, 250, 250, 1)));
    @include box-shadow(rgba(0, 0, 0, .1) 0 0 8px);	    
}

.format-quote aside em {
    background: image-url('png_master_sprite.png') -356px -96px;
    display: block;
    height: 0;
    overflow: hidden;
    margin: 5px 0 5px 5px;
    padding-top: 40px;
    width: 40px;    
}

.quote_content {
    border-left: 1px solid #fff;
    overflow: visible;
    margin-left: 53px;
    padding: 22px 30px 26px 30px;
}

.quote_content p {
    color: #666;
    font-size: 28px;
    line-height: 36px;
    
    @include proxima_light;
    @include white_text_shadow_bottom;
}

.quote_content .ribbon_new {
    right: -1px;
    top: -1px;
}

//------------------------------------------------------------------
//Post separator
//------------------------------------------------------------------

.hr {
    background: #bbb;
    display: block;
    clear: both;
    height: 1px;    
    position: relative;
    
    @include white_box_shadow_bottom;      
}

.hr a {
    background: #c8c8c8 image-url('png_master_sprite.png') 0 -386px;
    display: block;
    height: 0;
    left: 50%;
    margin: -11px 0 0 -11px;
    overflow: hidden;
    padding-top: 22px;    
    position: absolute;
    top: 50%;
    width: 22px;
    
    @include border-radius(20px);
    @include box-shadow(rgba(255, 255, 255, 1) 0 1px 0, inset rgba(0, 0, 0, .3) 0 1px 1px);
    @include transition_default;    
}

.hr a:hover,
.hr a:active {
    background-color: #bbb;
    
    @include box-shadow(rgba(255, 255, 255, 1) 0 2px 1px, inset rgba(0, 0, 0, .5) 0 1px 1px);   
}

//------------------------------------------------------------------
//Footer
//------------------------------------------------------------------

footer {
    background: #fff image-url('bg_diagonal_lines.png') center;
    border-top: 1px solid #6caddf;
    clear: both;
    font-size: 16px;
    height: 70px;
    margin-top: -71px;
    overflow: hidden;
    position: relative;
    
	@include box-shadow(rgba(0, 0, 0, .2) 0 0 2px, rgba(0, 0, 0, .6) 0 0 10px);
	@include white_text_shadow_bottom;    
    
	@include pie-element(absolute);   
}

.footer_wrap {
	background: #f0f0f0;
    height: 70px;
    padding: 0 20px 0 20px;
    
	@include background(linear-gradient(rgba(255, 255, 255, .10), rgba(0, 0, 0, .10)));
}

footer .copyright {
    clear: both;
    color: #666;
    font-size: 12px;
    padding-top: 18px;       

	@include white_text_shadow_bottom;    
}

footer .footer_nav {
    float: left;
    font-size: 11px;  
    padding-top: 6px;          
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1); 
}

footer .footer_nav li {
    float: left;
    border-right: 1px solid #6caddf;
    border-left: 1px solid #fff;
    padding: 0 8px 0 8px;
}

footer .footer_nav li:first-child {
    border-left: 0;
    padding-left: 0;
}

footer .footer_nav li:last-child {
    border-right: 0;
    padding-right: 0;
}

footer .footer_nav li a,
footer .footer_nav li a:visited {
    color: $blue;
}

footer .footer_nav li a:hover,
footer .footer_nav li a:focus,
footer .footer_nav li a:active {
    color: $blue;
    border-bottom: 1px dotted #6caddf;
}

//------------------------------------------------------------------
//Last.fm Icons and functionality.
//------------------------------------------------------------------

.lastFMBody ul {
    border-top: 1px solid #ccc;
}

.lastFMBody ul .itemRow {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff; 
    
    @include background(linear-gradient(rgba(250,250,250, 1), rgba(230,230,230, 1)));        
}

.lastFMBody ul .itemRow a {
    display: block;
    height: 79px;
    overflow: hidden;
    position: relative;
}

.lastFMBody ul .itemRow a .artWrap {
    background-repeat: no-repeat;
    background-size: 60px 60px;
    border: 1px solid #fff;
    color: #fff;
    height: 60px;
    left: 10px;
    position: absolute;
    top: 9px;
    width: 60px; 
    
    @include border-radius(3px);
    @include box-shadow(rgba(0, 0, 0, .2) 1px 0 5px, inset rgba(0, 0, 0, .5) 0 0 2px);
}

.lastFMBody ul .itemRow a .artWrap img {
    display: block;
    height: 60px;
    width: 60px;
    
    @include opacity(0);
}

.lastFMBody ul .itemRow a .track_info {
    display: table;
    height: 79px;  
    width: 100%;
}

.lastFMBody ul .itemRow a .track_info p {
    color: #444;
    display: table-cell;
    height: 79px;
    font-size: 14px;
    padding-left: 88px;
    padding-right: 15%;
    vertical-align: middle;    

    @include white_text_shadow_bottom;
}

.lastFMBody ul .itemRow a .track_info p .itemName,
.lastFMBody ul .itemRow a .track_info p .itemArtist {
    font-style: normal;       
}

.lastFMBody ul .itemRow a .track_info p .itemName {
    font-weight: bold;
}

//------------------------------------------------------------------
//Skillset section and Functionality
//------------------------------------------------------------------

.progress_bar {
    background: rgba(0, 0, 0, .05) image-url('bg_diagonal_lines_5_percent.png') center;
    border: 1px solid #fff;    
    height: 24px;
    position: relative;
    
    @include border-radius(12px);
	@include box-shadow(rgba(0, 0, 0, .55) 0 0 5px, inset rgba(0, 0, 0, .55) 0 0 5px);
}

.progress_bar:after {
    background: #68afe5;
    content: "";   
    display: block;
    height: 20px;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 50%;
    
	@include gradient_solid_standard; 
    @include border-radius(10px);
	@include box-shadow(inset rgba(0, 0, 0, .3) 0 -1px 1px);    
}

.progress_bar em {
    font-size: 10px;
    font-style: normal;
    line-height: 24px;
    margin-left: 10px;
}

//------------------------------------------------------------------
//Work Single
//------------------------------------------------------------------

.single_work_header {
    
}

.work_post aside {
    float: left;
    width: 30%;
    
    @include global_wrap_margin_left_right;
}

.work_post aside h4 {
    font-size: 13px;
    font-variant: small-caps;
    text-transform: lowercase;
}

.work_post aside ul li ol li {
    margin-bottom: 3px;
}

.work_post aside ul li ol li a {
    font-size: 12px;
    line-height: 13px;
}

.work_post section {
    float: left;
    max-width: 800px;
    width: 62.8%;
}

.work_post section ul li img {
    width: 100%;
    
}

//------------------------------------------------------------------
//Masonry responsive grid
//------------------------------------------------------------------

.masonry_responsive_grid {
    margin: 0;
}

.masonry_item {
    float: left;  
    width: 100%;
}

.masonry_item .img_border {
    margin: 10px 20px;  	
}

//------------------------------------------------------------------
//Overrides
//------------------------------------------------------------------

.twitterHeader { display: none; }
