//------------------------------------------------------------------
//Globals
//------------------------------------------------------------------

html {
    background: #eee image-url('bg_light_source.jpg') top no-repeat;    
    font-family: "Helvetica Neue", Arial, sans-serif;
    overflow-y : scroll;
}

//Opera Fix for sticky footer
body:before {
    content:"";
    height: 100%;
    float:left;
    width:0;
    margin-top:-32767px;
}

a,
a:visited {
    color: $blue;
}

//------------------------------------------------------------------
//Sticky Footer
//------------------------------------------------------------------

#page_wrap {
    background: image-url('bg_noise_transparent.png') center;
    min-height: 100%;
}

#page_content {
    overflow: auto;
	padding-bottom: 50px;
}

//------------------------------------------------------------------
//Header / Logo
//------------------------------------------------------------------
.before_header {
    background: #666;
    border-bottom: 1px solid #444;
    display: block;
    color: #f0f0f0;
    font-size: 10px;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 101;

    @include background(linear-gradient(rgba(112,112,112, 1), rgba(92,92,92, 1)));
 	@include text-shadow(rgba(black, 1) 0 -1px 1px);
}

.before_header ul {
    display: none;
}

header {
    background: #fff image-url('bg_diagonal_lines.png') center;
    position: relative;
}

h1 {
	cursor: pointer;
    height: 90px;
    left: 50%;
    margin: -50px 0 0 -50px;    
    position: absolute;
    top: 50%;
    width: 90px;
    z-index: 101;
    
	@include border-radius(80px);
	
	@include pie-element(absolute);
}

h1 a {
    background: #fff;
    display: block;
    height: 100px;
    overflow: hidden;
    position: relative;
    text-indent: -6666px;
    width: 100px;
    
	@include background(linear-gradient(rgba(white, 1), rgba(221,221,221, 1)));
	@include border-radius(80px);
	@include box-shadow(rgba(34, 34, 34, .7) 0 5px 5px, rgba(34, 34, 34, .2) 0 0 5px);
	
	@include pie-element(relative);
}

h1 a:hover,
h1 a:focus {
    background: #f0f0f0;

	@include background(linear-gradient(rgba(255, 255, 255, 1), rgba(200, 200, 200, 1)));
	@include box-shadow(rgba(34, 34, 34, .7) 0 5px 5px, rgba(34, 34, 34, .2) 0 0 5px, rgba(108, 173, 223, .5) 2px 4px 20px, rgba(108, 173, 223, .25) -9px -4px 20px);    
	@include transition-property(box-shadow);
  	@include transition-duration(0.3s);
  	@include transition-timing-function(ease-in);

	@include pie-element(relative);
}

h1 a:active {
    margin-top: 1px;

    @include box-shadow(rgba(34, 34, 34, .7) 0 3px 3px, rgba(34, 34, 34, .1) 0 0 5px, rgba(108, 173, 223, .65) 2px 4px 25px, rgba(108, 173, 223, .25) 2px -4px 25px, rgba(108, 173, 223, .1) 0 0 40px, rgba(108, 173, 223, .4) -9px -4px 30px);  
    @include transition-property(box-shadow);
  	@include transition-duration(0.01s);
  	@include transition-timing-function(ease-in);

	@include pie-element(relative);
}

h1 a span {
    background: image-url('png_master_sprite.png') 18px 31px;     
    display: block;
	position: relative;
    height: 100px;
    width: 100px;
    
    @include border-radius(50px);
    
	@include pie-element(relative);
}


//------------------------------------------------------------------
//Navigation
//------------------------------------------------------------------

.navigation {

    border-top: 1px solid #6caddf;
    border-bottom: 1px solid #6caddf;
    font-family: $proxima_stack;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 50px;
    overflow: hidden;
    text-transform: uppercase;
    z-index: 100;
    
	@include box-shadow(rgba(0, 0, 0, .2) 0 0 2px, rgba(0, 0, 0, .6) 0 0 10px);    
	@include text-shadow(rgba(255, 255, 255, 1) 0 1px 1px);
	
	@include pie-element(relative);
}

.navigation nav ul {
    display: block;
    overflow: hidden;
    width: 50%;
}

.navigation nav .left {
    float: left;
}

.navigation nav .right {
    float: right;
    text-align: right;
}

.navigation nav ul li {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #c9c9c9;
}

.navigation nav .left li {
    border-right: 1px solid #c9c9c9;
}

.navigation nav .right li {
    border-left: 1px solid #fff;
}

.navigation nav ul .nav_1,
.navigation nav ul .nav_4 {
    border-top: 0;
}

.navigation nav ul .nav_3,
.navigation nav ul .nav_6 {
    border-bottom: 0;
}

.navigation nav ul li a,
.navigation nav ul li a:visited {
	background: #f0f0f0;
    display: block;
    height: 50px;

	@include background(linear-gradient(rgba(255, 255, 255, .10), rgba(0, 0, 0, .10)));
	@include text-shadow(rgba(255, 255, 255, 1) 0 1px 1px);
}

.navigation nav ul li a:hover, 
.navigation nav ul li a:focus {
	background-color: #e2e2e2;

	@include background(linear-gradient(rgba(255, 255, 255, .15), rgba(0, 0, 0, .15)));
}

.navigation nav ul li a:active {
    height: 49px;
    padding-top: 1px;
    
	@include background(linear-gradient(rgba(0, 0, 0, .15), rgba(255, 255, 255, .15)));
}

.navigation nav .left li a {
    padding-left: 20px;
}

.navigation nav .right li a {
    padding-right: 20px;
}

body.home .navigation nav .left li.nav_1 a,
body.page-about .navigation nav .left li.nav_2 a,
body.post-type-archive-work .navigation nav .left li.nav_3 a,
body.single-work .navigation nav .left li.nav_3 a,
body.post-type-archive-goods .navigation nav .right li.nav_4 a,
body.single-goods .navigation nav .right li.nav_4 a,
body.page-blog .navigation nav .right li.nav_5 a,
body.single-post .navigation nav .right li.nav_5 a,
body.page-contact .navigation nav .right li.nav_6 a {
	background: #6caddf;
	color: #fff;
	height: 48px;
    padding-top: 2px;

	@include background(linear-gradient(rgba(134,198,247, .8), rgba(108,173,223, .8)));
	@include box-shadow(inset rgba(72, 110, 140, 1) 0 1px 3px, inset rgba(72, 110, 140, .2) 0 3px 3px);
	@include text-shadow(rgba(51, 93, 125, 1)0 1px 1px, rgba(51, 93, 125, .75) 0 0 10px);
	
	@include pie-element(relative);
}

//------------------------------------------------------------------
//Hero Slider
//------------------------------------------------------------------

/* this changes the height of the master slideshow.*/
.dummy_slide {
    height: 400px;
    width: 100%;
    visibility: hidden;
}

.hero_slider_wrap {
    position: relative;
}

.hero_slider li {
    display: block;
}

.hero_slider li .slide_wrap,
.hero_slider li .slide_inner_wrap {
    height: 400px;
}

.hero_slider li .slide_wrap {
    border-bottom: 3px #fff solid;
}

.hero_slider li .slide_inner_wrap {
    border-bottom: 1px #ccc solid;      
}

.hero_slider {
  width:auto !important;
  position:relative !important;
  overflow:visible !important;
}
.hero_slider .pane {
  width:auto !important;
  position: relative !important;
  height: 0 !important;
}

.hero_slider .slide_wrap { background: image-url('bg_pattern_square.jpg') center; }

.hero_slider .slide_wrap .slide_inner_wrap { @include background(linear-gradient(rgba(255, 255, 255, .3), rgba(42, 83, 114, .3))); }

.hero_slider .second .slide_wrap { background: image-url('bg_pattern_squiggle.jpg') center; }

.hero_slider .second .slide_wrap .slide_inner_wrap { @include background(linear-gradient(rgba(255, 255, 255, .3), rgba(75, 76, 77, .3))); }

.hero_slider .third .slide_wrap .slide_inner_wrap { @include background(linear-gradient(rgba(255, 255, 255, .3), rgba(75, 76, 77, .3))); }

.hero_slider .third .slide_wrap { background: image-url('bg_noise_transparent.png') center; }

.hero_slider_wrap .slides_nav {
    bottom: 0;
    left: 50%;
    margin-left: -150px;
    position: absolute;
    text-align: center;
    width: 300px;
    z-index: 100;
}

.hero_slider_wrap .slides_nav li {
    background: aqua;
    display: inline;
    text-align: center;
}

.hero_slider_wrap .slides_nav li a {
    text-align: center;
    margin: 0 20px;
}


//------------------------------------------------------------------
//post_sep
//------------------------------------------------------------------

.post_sep {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    height: 17px;
    position: relative;
}

.post_sep:after {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    content: "";
    display: block;
    height: 17px;
}

.post_sep a,
.post_sep a:visited {
    background: #c8c7c7;
    position: absolute;
    height: 0;
    margin-left: -15px;
    overflow: hidden;
    padding-top: 30px;
    left: 50%;
    top: -8px;
    width: 30px;

	@include border-radius(100px);
	@include box-shadow(inset rgba(68, 68, 68, .75) 0 1px 1px, rgba(238, 238, 238, 1) 0 1px 1px);    
	
	@include pie-element(absolute);
}

.post_sep a:hover,
.post_sep a:focus {
    background: #ccc;

	@include box-shadow(inset rgba(68, 68, 68, .85) 0 1px 1px, rgba(238, 238, 238, 1) 0 1px 1px);    
    
	@include pie-element(absolute);
}

.post_sep_inner a:active {
    margin-top: 1px;
    
	@include box-shadow(inset rgba(68, 68, 68, .85) 0 2px 1px, rgba(238, 238, 238, 1) 0 1px 1px);    
    
	@include pie-element(absolute);
}

/*------------------------------------------------------------------
Footer
------------------------------------------------------------------*/

footer {
    background: #fff image-url('bg_diagonal_lines.png') center;
    border-top: 1px solid #6caddf;
    clear: both;
    font-size: 16px;
    height: 70px;
    margin-top: -71px;
    overflow: hidden;
    position: relative;
    
	@include box-shadow(rgba(0, 0, 0, .2) 0 0 2px, rgba(0, 0, 0, .6) 0 0 10px);
	@include text-shadow(rgba(255, 255, 255, 1) 0 1px 1px);    
    
	@include pie-element(absolute);   
}

.footer_wrap {
	background: #f0f0f0;
    height: 70px;
    padding: 0 20px 0 20px;
    
	@include background(linear-gradient(rgba(255, 255, 255, .10), rgba(0, 0, 0, .10)));
}

.resize_icon { display: none; }

footer .copyright {
    clear: both;
    color: #666;
    font-size: 12px;
    padding-top: 18px;       

	@include text-shadow(rgba(255, 255, 255, 1) 0 1px 1px);    
}

footer .footer_nav {
    float: left;
    font-size: 11px;  
    padding-top: 6px;          
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1); 
}

footer .footer_nav li {
    float: left;
    border-right: 1px solid #6caddf;
    border-left: 1px solid #fff;
    padding: 0 8px 0 8px;
}

footer .footer_nav li:first-child {
    border-left: 0;
    padding-left: 0;
}

footer .footer_nav li:last-child {
    border-right: 0;
    padding-right: 0;
}

footer .footer_nav li a,
footer .footer_nav li a:visited {
    color: $blue;
}

footer .footer_nav li a:hover,
footer .footer_nav li a:focus,
footer .footer_nav li a:active {
    color: $blue;
    border-bottom: 1px dotted #6caddf;
}

//------------------------------------------------------------------
//Individual work
//------------------------------------------------------------------

.FPO_individual_port aside h3 {
    color: #444;
    font-family: $proxima_stack;
    font-weight: 300;
    font-size: 32px;
    line-height: 60px;
    padding-left: 20px;
    text-align: left;

	@include text-shadow(rgba(255, 255, 255, 1) 0 2px 2px);       
}

.FPO_individual_port aside ul {
    border-top: 1px solid #bbb;
    font-size: 14px; 
    margin: 0 20px;

	@include text-shadow(rgba(255, 255, 255, 1) 0 1px 1px);
}

.FPO_individual_port aside ul li {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #bbb;
}

.FPO_individual_port section ul {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.FPO_individual_port section ul li {
    background: rgba(255, 255, 255, .25);
    display: block;
    margin: 20px;
    padding: 1%;
    
	@include box-shadow(rgba(0, 0, 0, .25) 0 0 10px);
	
	@include pie-element(relative);   
}

.FPO_individual_port section ul li img {
    display: block;
    margin: 0 auto; 
    width: 100%;
}