//------------------------------------------------------------------
//Hero Slider
//------------------------------------------------------------------

.dummy_slide,
.hero_slider li .slide_wrap,
.hero_slider li .slide_inner_wrap {
    height: 300px;
}

//------------------------------------------------------------------
//Feed Home
//------------------------------------------------------------------

.feed_home section {
    width: 44%;
}

.feed_home .hr {
    display: block;
}

.feed_home .home_recent_post,
.feed_home .home_tweets {
    float: left;
    margin: 3% 0 3% 3%;
}

.feed_home .home_dribbble_shots,
.feed_home .home_connections {
    float: right;
    margin: 3% 3% 3% 0;    
}

.feed_home .home_dribbble_shots li {
    display: none;
}

.feed_home .home_dribbble_shots li:first-child {
   display: block;
}

//------------------------------------------------------------------
//Footer
//------------------------------------------------------------------

footer .footer_nav {
    display: block;
    float: right;
	font-size: 12px;
    padding-top: 28px;
}

footer .copyright {
    clear: none;
    float: left;
    padding-top: 28px;
}

//------------------------------------------------------------------
//Masonry responsive grid
//------------------------------------------------------------------

.masonry_responsive_grid {
    margin: 0 10px 0 11px;
}

.masonry_item {
    float: left;
    width: 49.9%;
}

.masonry_item .img_border {
    margin: 10px;	
}