#page_content {
	padding-top: 18px;
}

.before_header {
	background: transparent;
	border: 0;
	display: block;
	height: 34px;
	color: #777;
	font-size: 10px;
	font-weight: normal;
	padding-left: 3%;
	position: relative;
	text-align: left;
	text-transform: uppercase;
	
	@include text-shadow(rgba(255, 255, 255, 1) 0 1px 1px);
}

.before_header .charter {
	padding-bottom: 18px;
}

.before_header ul {
	display: block;
	margin-right: 3%;
	position: absolute;
	right: 0;
	top: -18px;
}

.before_header ul li {
	float: left;
	margin-top: -14px;    
}

.before_header ul li a {
	background: url('../images/png_master_sprite.png');    
	display: block;
	height: 0;
	height: 42px;
	position: relative;
	width: 28px;
	
	@include opacity(0.4);
}

.before_header ul li a:hover {
	margin-top: 3px;
	opacity: 1;

	@include transition-property(margin);
	@include transition-duration(0.1s);
	@include transition-timing-function(ease-in); 
}

.before_header ul li.linkedin a { background-position: -75px 0px; }
.before_header ul li.facebook a { background-position: -104px 0px; }
.before_header ul li.flickr a { background-position: -133px 0px; }
.before_header ul li.twitter a { background-position: -162px 0px;}
.before_header ul li.last_fm a { background-position: -191px 0px; }
.before_header ul li.dribbble a { background-position: -220px 0px; }

.before_header ul li.linkedin a:hover { background-position: -75px -48px; }
.before_header ul li.facebook a:hover { background-position: -104px -48px; }
.before_header ul li.flickr a:hover { background-position: -133px -48px; }
.before_header ul li.twitter a:hover { background-position: -162px -48px;}
.before_header ul li.last_fm a:hover { background-position: -191px -48px; }
.before_header ul li.dribbble a:hover { background-position: -220px -48px; }                   

.navigation {
	height: 50px;
	padding: 0 3%;

	@include background(linear-gradient(rgba(white, .10), rgba(black, .10)));

	@include pie-element(relative);
}

.navigation nav .left,
.navigation nav .right {
	text-align: center;
	width: 40%;    
}

.navigation nav .left { margin-left: -2px; }

.navigation nav .right { margin-right: -2px; }

.navigation nav .left li,
.navigation nav .right li {
	border: 0;
	display: inline;        
}

.navigation nav .left .nav_1,
.navigation nav .right .nav_4 {
	display: block;
	float: left;
	text-align: left;
}

.navigation nav .left .nav_3,
.navigation nav .right .nav_6 {
	display: block;
	float: right;
	text-align: right;
}


.navigation nav .left li a,
.navigation nav .right li a,
.navigation nav .left li a:visited,
.navigation nav .right li a:visited,
.navigation nav .left li a:active,
.navigation nav .right li a:active {
	background: #eee;
	border: 1px solid #fff;
	display: inline;
	font-weight: 600;
	font-size: 14px;
	height: auto;
	line-height: 53px;
	letter-spacing: 0;
	padding: 8px 12px 4px 12px;
	position: relative;

	@include background(linear-gradient(rgba(white, 1), rgba(240,240,240, 1)));
	@include border-radius(4px);
	@include box-shadow(inset rgba(162, 162, 162, 1) 0 1px 3px, rgba(240, 240, 240, 1) 0 1px 0px);

	@include pie-element(relative);
}

.navigation nav .left li a:hover,
.navigation nav .right li a:hover,
.navigation nav .left li a:focus,
.navigation nav .right li a:focus,
.navigation nav .left li a:active,
.navigation nav .right li a:active {
	background: #ccc;

	@include background(linear-gradient(rgba(245,245,245, 1.0) 45%, rgba(230,230,230, 1.0) 65%));

	@include pie-element(relative);
}

.navigation nav .left li a:active,
.navigation nav .right li a:active {
	@include background(linear-gradient(rgba(235,235,235, 1.0) 45%, rgba(220,220,220, 1.0) 65%));
}

body.home .navigation nav .left li.nav_1 a,
body.about .navigation nav .left li.nav_2 a,
body.category-work .navigation nav .left li.nav_3 a,
body.goods .navigation nav .right li.nav_4 a,
body.category-blog .navigation nav .right li.nav_5 a,
body.contact .navigation nav .right li.nav_6 a {
	background: #6caddf;
	color: #fff;

	@include background(linear-gradient(rgba(134,198,247, .8) 45%, rgba(108,173,223, .8) 65%));
	@include box-shadow(inset rgba(72, 110, 140, 1) 0 1px 3px, inset rgba(72, 110, 140, .2) 0 3px 3px);
	@include text-shadow(rgba(51, 93, 125, 1)0 1px 1px, rgba(51, 93, 125, .75) 0 0 10px);
	
	@include pie-element(relative);
}

/*------------------------------------------------------------------
Main Content
------------------------------------------------------------------*/

.main_content_outer {
	padding-left: 3%;
	padding-right: 3%;
}

.main_content {
	background: #e2e2e2;
	background: rgba(255, 255, 255, .5);

	@include box-shadow(rgba(0, 0, 0, .2) 0 0 5px);

	@include pie-element(relative);
}

/*------------------------------------------------------------------
Footer
------------------------------------------------------------------*/
.footer_wrap {
	padding: 0 3% 0 3%;
}