//------------------------------------------------------------------
//Globals
//------------------------------------------------------------------

.main_content_inner {
  overflow: visible;
}

#page_content {
  padding-top: 18px;
}

.hr {
  margin: 40px 0;       
}

//------------------------------------------------------------------
//Navigation
//------------------------------------------------------------------

.before_header {
  background: transparent;
  border: 0;
  display: block;
  height: 34px;
  color: #777;
  font-weight: normal;
  padding-left: 3%;
  position: relative;
  text-align: left;
  text-transform: uppercase;

  @include white_text_shadow_bottom;
}

.before_header .charter {
  color: #444;
  font-size: 10px;
  padding-bottom: 18px;    
  margin: 0;	
}

.before_header ul {
  display: block;
  margin-right: 3%;
  position: absolute;
  right: 0;
  top: -18px;
}

.before_header ul li {
  float: left;
  margin-top: -14px;    
}

.before_header ul li a {
  background: image-url('global/png_master_sprite.png');    
  display: block;
  height: 0;
  overflow: hidden;
  padding-top: 42px;
  position: relative;
  width: 28px;

  @include opacity(0.4);
  @include transition-property(margin);
  @include transition-duration(0.1s);
  @include transition-timing-function(ease-in);	
}

.before_header ul li a em {
  display: none;
}


.before_header ul li a:hover {
  margin-top: 3px;
  opacity: 1;
}

.before_header ul li.linkedin a { background-position: -85px 0px; }
.before_header ul li.facebook a { background-position: -114px 0px; }
.before_header ul li.flickr a { background-position: -143px 0px; }
.before_header ul li.twitter a { background-position: -172px 0px;}
.before_header ul li.last_fm a { background-position: -201px 0px; }
.before_header ul li.dribbble a { background-position: -230px 0px; }

.before_header ul li.linkedin a:hover { background-position: -85px -48px; }
.before_header ul li.facebook a:hover { background-position: -114px -48px; }
.before_header ul li.flickr a:hover { background-position: -143px -48px; }
.before_header ul li.twitter a:hover { background-position: -172px -48px;}
.before_header ul li.last_fm a:hover { background-position: -201px -48px; }
.before_header ul li.dribbble a:hover { background-position: -230px -48px; }                   

.navigation {
  height: 50px;
  padding: 0 3%;

  @include background(linear-gradient(rgba(white, .10), rgba(black, .10)));
}

.navigation nav ul.left,
.navigation nav ul.right {
  padding: 10px 0 0 0;
  text-align: center;
  width: 40%;    
}

.navigation nav ul.left { float: left; margin-left: -2px; }

.navigation nav ul.right { float: right; margin-right: -3px; }

.navigation .max_width nav ul.left li.nav_1, 
.navigation .max_width nav ul.left li.nav_2,
.navigation .max_width nav ul.left li.nav_3, 
.navigation .max_width nav ul.right li.nav_4,
.navigation .max_width nav ul.right li.nav_5,
.navigation .max_width nav ul.right li.nav_6 {
  border: 0;
  display: block;
  float: left;
}

.navigation .max_width nav ul.left li.nav_1 { width: 33.33%; }
.navigation .max_width nav ul.left li.nav_2 { width: 33.33%; }
.navigation .max_width nav ul.left li.nav_3 { width: 33.33%; }
.navigation .max_width nav ul.right li.nav_4 { width: 31%; }
.navigation .max_width nav ul.right li.nav_5 { width: 33%; }
.navigation .max_width nav ul.right li.nav_6 { width: 36%; }

.navigation .max_width nav ul.left li.nav_1 a, 
.navigation .max_width nav ul.left li.nav_2 a,
.navigation .max_width nav ul.left li.nav_3 a, 
.navigation .max_width nav ul.right li.nav_4 a,
.navigation .max_width nav ul.right li.nav_5 a,
.navigation .max_width nav ul.right li.nav_6 a {
  background: #eee;
  border: 1px solid #fff;    
  display: block;
  font-size: 14px;       
  height: 30px;
  letter-spacing: 0;     
  line-height: 33px;    
  text-align: center;
  margin: 0 auto;
  padding: 0;

  @include background(linear-gradient(rgba(white, 1) 45%, rgba(240,240,240, 1) 65%));
  @include border-radius(4px);
  @include box-shadow(inset rgba(162, 162, 162, 1) 0 1px 3px, rgba(240, 240, 240, 1) 0 1px 0px);
}

.navigation .max_width nav ul.left li.nav_1 a:hover, 
.navigation .max_width nav ul.left li.nav_2 a:hover,
.navigation .max_width nav ul.left li.nav_3 a:hover, 
.navigation .max_width nav ul.right li.nav_4 a:hover,
.navigation .max_width nav ul.right li.nav_5 a:hover,
.navigation .max_width nav ul.right li.nav_6 a:hover {
  background: #ccc;

  @include background(linear-gradient(rgba(245,245,245, 1.0) 45%, rgba(230,230,230, 1.0) 65%));
}

.navigation .max_width nav ul.left li.nav_1 a:active, 
.navigation .max_width nav ul.left li.nav_2 a:active,
.navigation .max_width nav ul.left li.nav_3 a:active, 
.navigation .max_width nav ul.right li.nav_4 a:active,
.navigation .max_width nav ul.right li.nav_5 a:active,
.navigation .max_width nav ul.right li.nav_6 a:active {
  background: #ddd;

  @include background(linear-gradient(rgba(235,235,235, 1.0) 45%, rgba(220,220,220, 1.0) 65%));
}

.navigation .max_width nav ul.left li.nav_1 a { float:left; width: 65px; }
.navigation .max_width nav ul.left li.nav_2 a { margin: 0 auto; width: 71px; }
.navigation .max_width nav ul.left li.nav_3 a { float:right; width: 66px; }
.navigation .max_width nav ul.right li.nav_4 a { float:left; width: 74px; }
.navigation .max_width nav ul.right li.nav_5 a { margin: 0 auto; width: 61px; } 
.navigation .max_width nav ul.right li.nav_6 a { float: right; width: 90px; }

body.home .navigation nav .left li.nav_1 a,
body.page-about .navigation nav .left li.nav_2 a,
body.post-type-archive-work .navigation nav .left li.nav_3 a,
body.single-work .navigation nav .left li.nav_3 a,
body.post-type-archive-goods .navigation nav .right li.nav_4 a,
body.single-goods .navigation nav .right li.nav_4 a,
body.post-type-archive-blog .navigation nav .right li.nav_5 a,
body.single-blog .navigation nav .right li.nav_5 a,
body.page-blog .navigation nav .right li.nav_5 a,
body.single-post .navigation nav .right li.nav_5 a,
body.page-contact .navigation nav .right li.nav_6 a,
body.home .navigation nav .left li.nav_1 a:hover,
body.page-about .navigation nav .left li.nav_2 a:hover,
body.post-type-archive-work .navigation nav .left li.nav_3 a:hover,
body.single-work .navigation nav .left li.nav_3 a:hover,
body.post-type-archive-goods .navigation nav .right li.nav_4 a:hover,
body.single-goods .navigation nav .right li.nav_4 a:hover,
body.post-type-archive-blog .navigation nav .right li.nav_5 a:hover,
body.single-blog .navigation nav .right li.nav_5 a:hover,
body.page-blog .navigation nav .right li.nav_5 a:hover,
body.single-post .navigation nav .right li.nav_5 a:hover,
body.page-contact .navigation nav .right li.nav_6 a:hover {
  height: 30px;
  padding: 0;

  @include background(linear-gradient(rgba(134,198,247, .8) 45%, rgba(108,173,223, .8) 65%));
  @include box-shadow(inset rgba(72, 110, 140, 1) 0 1px 3px, inset rgba(72, 110, 140, .2) 0 3px 3px);
  @include text-shadow(rgba(51, 93, 125, 1)0 1px 1px, rgba(51, 93, 125, .75) 0 0 10px);
}

//------------------------------------------------------------------
//Main Content
//------------------------------------------------------------------

.main_content_outer {
  padding-left: 3%;
  padding-right: 3%;
}

.main_content {
  background: #e2e2e2;
  background: rgba(255, 255, 255, .5);

  @include box-shadow(rgba(0, 0, 0, .2) 0 0 5px);
}

//------------------------------------------------------------------
//Section Headers
//------------------------------------------------------------------

.page_explainer {
  color: #444;
  font-size: 20px;  
  padding: 0 40px 0 40px;
  line-height: 27px;
}

//------------------------------------------------------------------
//Page Headers
//------------------------------------------------------------------

.page_heading {
  margin-bottom: 40px;
  padding: 40px 40px 32px 40px;
  h2 {
    color: #666;
    display: inline;
    font-size: 30px;
    line-height: 30px;
    @include proxima_regular; 
  }
  p {
    color: #666;
    display: inline;
    font-size: 30px;
    line-height: 30px;
    margin-left: 6px;
    @include proxima_light_italic;  
  }
}

//------------------------------------------------------------------
//Global post_wrap
//------------------------------------------------------------------


.post_wrap {
  .blog_cal {
    left: 40px;
  }
  h3 {
    font-size: 25px;
    line-height: 25px;
    padding: 0 0 40px 95px; 
    @include proxima_light;         
  }
  h4, h5, h6 {
    color: #333;
    font-size: 22px;
    margin: 0 40px 18px 40px;
  }
  ul, ol {
    font-size: 14px;
    margin: 0 40px 0 40px;
    li {
      margin-bottom: 9px;
    }
  }
}

.post_wrap {
  .post_wrap_inner{
    .img_border {
       margin: 0 20px 40px 20px;
    }
    .continue_reading {
      font-size: 13px;
      margin: 0 40px 18px 40px;
    }
    p {
       font-size: 14px;
       line-height: 18px;
       margin: 0 40px 18px 40px;
     }
     blockquote {
       margin: 0 40px 18px 40px;
       padding: 9px 0 1px 0;
       @include proxima_regular_italic;
       p {
         color: #666;
         font-size: 22px;
         line-height: 25px; 
         margin: 2px 40px 14px 20px; 
       }
     }
  }
}

//------------------------------------------------------------------
//Specific post format styling
//------------------------------------------------------------------

.format-gallery {
  .img_list {
    margin: 0 10px;
    li {
      width: 25%;
      .img_border {
        margin: 10px;
      }
    }
  }
}

.single-format-gallery {
  .img_list {
    margin: 0 40px;
    li {
      float: none;
      max-width: 640px;
      margin-bottom: 20px;
      width: 100%;
    }
  }
}

.format-link {
  a {
    margin: 0 40px;
    em {
      line-height: 27px;
      padding: 20px 20px 20px 72px;
      font-size: 25px;
      @include proxima_regular;
    }
  }
}

.format-quote {
  margin: 0 20px;
  .quote_content {
    p {
      color: #666;
      font-size: 26px;
      line-height: 28px;
      padding: 30px 30px 20px 36px;
      margin: 0;
      @include proxima_light_italic;
      em {
        color: #666;
        font-style: normal;
        font-size: 18px;
        padding-top: 16px;
        @include proxima_regular;
      }
    }
  }
}

.single-format-quote .quote_content p a {
  font-size: 18px;
  display: block;
  padding-top: 18px;
}

.format-video {
 .video_wrap {
    margin: 0 20px;
   } 
}

//------------------------------------------------------------------
//Workplaces
//------------------------------------------------------------------

.workplaces{
  li {
    padding: 40px 40px 40px 190px;
    margin: 0 40px 20px 40px;
    min-height: 90px;
    .workplace_logo_wrap {
      background: #fff;
      border-right: 1px solid #bebebe;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 150px;
    }
    img {
      height: 100px;
      left: 25px;
      top: 50%;
      margin-top: -50px;
      position: absolute;
      width: 100px;
    }
    a {
      display: inline-block;
      padding: 0 0 20px 0;
      h4 {
        color: #444;
        display: inline;
        font-size: 18px;
        @include proxima_semibold;
        @include transition_default;
      }
      em {
        color: #333;
        font-size: 12px;
        font-weight: normal;
        @include proxima_regular;
        @include transition_default;
      }
    }
    p {
      margin-bottom: 0;
    }
  }
}

//------------------------------------------------------------------
//About Page Styling
//------------------------------------------------------------------

.page-about h3 {
  margin: 0 0 20px 40px;
}

//------------------------------------------------------------------
//Skillset section and Functionality
//------------------------------------------------------------------

.skills_graph {
  padding: 0;
  margin: 0 40px;
  li {
    position: relative;
    margin-bottom: 20px;
    padding: 0 0 0 180px;
  }
  p {
    font-size: 16px;
    position: absolute;
    padding: 0;
    left: 0;
    top: 3px;
  }
}


//------------------------------------------------------------------
//Hero Slider
//------------------------------------------------------------------

.dummy_slide,
.hero_slider li .slide_wrap,
.hero_slider li .slide_inner_wrap {
  height: 400px;
}

.hero_slider li .slide_inner_wrap { overflow: visible; }

.slide_inner_wrap .slide_ribbon {
  bottom: 10%; 
  display: block;
  position: absolute;
  right: -8px;       
}

.slide_inner_wrap .slide_ribbon a {
  background: image-url('global/png_master_sprite.png') -56px -160px no-repeat;
  color: #fff;
  display: block;
  font-size: 18px;
  height: 64px;
  letter-spacing: 0.5px;
  line-height: 70px;
  margin-right: 8px;
  padding: 0 12px 0 50px;
  text-transform: uppercase;

  @include proxima_regular;
  @include blue_text_shadow_top;
}

.slide_inner_wrap .slide_ribbon a:after,
.slide_inner_wrap .slide_ribbon a:before {
  position: absolute;    
  content:"";
}

.slide_inner_wrap .slide_ribbon a:after {
  background: image-url('global/png_master_sprite.png') -950px -160px no-repeat;    
  height: 64px;
  right: -10px;
  width: 18px;
}

.slide_inner_wrap .slide_ribbon a:before {
  background: image-url('global/png_master_sprite.png') -496px -122px no-repeat;
  bottom: -4px;
  position: absolute;
  right: -2px;
  height: 10px;
  width: 10px;
}

.slide_inner_wrap .slide_ribbon a:hover {
  background-position: -56px -224px;    
}

.slide_inner_wrap .slide_ribbon a:hover:after {
  background-position: -950px -224px;
}

.slide_inner_wrap .slide_ribbon a:active {
  background-position: -56px -290px;    
}

.slide_inner_wrap .slide_ribbon a:active:after {
  background-position: -950px -290px;
}

//------------------------------------------------------------------
//Feed Home
//------------------------------------------------------------------

.home_connections .links_social li {
  margin-bottom: 4%;
  width: 48%;
}

.home_connections .links_social .dribbble,
.home_connections .links_social .flickr,
.home_connections .links_social .last_fm {
  float: left;
}

.home_connections .links_social .facebook,
.home_connections .links_social .linkedin,
.home_connections .links_social .twitter {
  float: right;
}
//------------------------------------------------------------------
//Footer
//------------------------------------------------------------------

.footer_wrap {
  padding: 0 3% 0 3%;
}

//------------------------------------------------------------------
//About Feed
//------------------------------------------------------------------

.col_left {
  
}

//------------------------------------------------------------------
//Last.fm Icons and functionality.
//------------------------------------------------------------------

.feed_lastfm {
  overflow: hidden;
}

.lastFMBody ul {
  border-top: none;
  margin: 0 0 0 35px; 
}

.lastFMBody ul .itemRow {
  background: none;
  border: none;
  float: left;
  height: 132px;
  margin-bottom: 20px;
  position: relative;
  width: 24%;
}

.lastFMBody ul .itemRow a {
  display: block;
  height: 122px;
  left: 5px;
  overflow: visible;
  position: relative;
  top: 5px;
  width: 122px;
}

.lastFMBody ul .itemRow a .artWrap {
  background-repeat: no-repeat;
  background-size: 120px 120px;
  border: 1px solid #fff;
  color: #fff;
  height: 120px;
  top: 0;
  left: 0;
  position: relative;
  width: 120px; 

  @include border-radius(3px);
  @include box-shadow(rgba(0, 0, 0, .2) 1px 0 5px, inset rgba(0, 0, 0, .5) 0 0 2px);
}

.lastFMBody ul .itemRow a .artWrap:before {
  background: image-url('global/overlay_album_shine.png');
  content: "";
  height: 120px;
  left: 0;
  position: absolute;
  top: 0;    
  width: 120px;    
  z-index: 1;
}

.lastFMBody ul .itemRow a .artWrap img {
  height: 120px;
  width: 120px;
}

.lastFMBody ul .itemRow a .track_info {
  background: rgba(0, 0, 0, .7);
  left: 6px;
  overflow: hidden;
  position: absolute;
  top: 6px;
  height: 120px;  
  width: 120px;

  @include opacity(0);
}

.lastFMBody ul .itemRow a .track_info p {
  color: #fff;
  height: 120px;
  padding: 0;
  text-align: center;
  width: 120px;
}

.lastFMBody ul .itemRow a .track_info p .itemName,
.lastFMBody ul .itemRow a .track_info p .itemArtist {
  display: block;
  font-size: 11px;
  font-weight: normal;
  overflow: hidden;
  padding: 0 12px;
  text-align: center;   

  @include black_text_shadow_bottom;         
}

.lastFMBody ul .itemRow a .track_info p .itemName {
  height: 50px;
}


.lastFMBody ul .itemRow a:hover {
  left: 0;
  top: 0;
}

.lastFMBody ul .itemRow a:hover .artWrap {
  border: 6px solid #4ab0ff;

  @include box-shadow(rgba(0, 0, 0, .5) 1px 0 5px, rgba(108, 173, 223, 1) 0 0 1px);   
}

.lastFMBody ul .itemRow a:hover .track_info {
  @include opacity(1);
  @include transition-property(opacity);
  @include transition-duration(0.5s);
}

//------------------------------------------------------------------
//Masonry responsive grid
//------------------------------------------------------------------

.masonry_responsive_grid {
  margin: 0 10px 0 11px; 
}

.masonry_item {
  width: 33.29%;
}


