#page_content {
	padding-top: 18px;
}

.before_header {
	background: transparent;
	border: 0;
	display: block;
	height: 34px;
	color: #777;
	font-weight: normal;
	padding-left: 3%;
	position: relative;
	text-align: left;
	text-transform: uppercase;
	
	@include white_text_shadow_bottom;
}

.before_header .charter {
    font-size: 10px;
	padding-bottom: 18px;    
    margin: 0;	
}

.before_header ul {
	display: block;
	margin-right: 3%;
	position: absolute;
	right: 0;
	top: -18px;
}

.before_header ul li {
	float: left;
	margin-top: -14px;    
}

.before_header ul li a {
	background: url('../images/png_master_sprite.png');    
	display: block;
	height: 0;
	overflow: hidden;
	padding-top: 42px;
	position: relative;
	width: 28px;
	
	@include opacity(0.4);
	@include transition-property(margin);
	@include transition-duration(0.1s);
	@include transition-timing-function(ease-in);	
}

.before_header ul li a em {
	display: none;
}


.before_header ul li a:hover {
	margin-top: 3px;
	opacity: 1;
}

.before_header ul li.linkedin a { background-position: -85px 0px; }
.before_header ul li.facebook a { background-position: -114px 0px; }
.before_header ul li.flickr a { background-position: -143px 0px; }
.before_header ul li.twitter a { background-position: -172px 0px;}
.before_header ul li.last_fm a { background-position: -201px 0px; }
.before_header ul li.dribbble a { background-position: -230px 0px; }

.before_header ul li.linkedin a:hover { background-position: -85px -48px; }
.before_header ul li.facebook a:hover { background-position: -114px -48px; }
.before_header ul li.flickr a:hover { background-position: -143px -48px; }
.before_header ul li.twitter a:hover { background-position: -172px -48px;}
.before_header ul li.last_fm a:hover { background-position: -201px -48px; }
.before_header ul li.dribbble a:hover { background-position: -230px -48px; }                   

.navigation {
	height: 50px;
	padding: 0 3%;

	@include background(linear-gradient(rgba(white, .10), rgba(black, .10)));

	@include pie-element(relative);
}

.navigation nav ul.left,
.navigation nav ul.right {
    padding: 10px 0 0 0;
	text-align: center;
	width: 40%;    
}

.navigation nav ul.left { float: left; margin-left: -2px; }

.navigation nav ul.right { float: right; margin-right: -3px; }

.navigation .max_width nav ul.left li.nav_1, 
.navigation .max_width nav ul.left li.nav_2,
.navigation .max_width nav ul.left li.nav_3, 
.navigation .max_width nav ul.right li.nav_4,
.navigation .max_width nav ul.right li.nav_5,
.navigation .max_width nav ul.right li.nav_6 {
    border: 0;
    display: block;
    float: left;
}

.navigation .max_width nav ul.left li.nav_1 { width: 33.33%; }
.navigation .max_width nav ul.left li.nav_2 { width: 33.33%; }
.navigation .max_width nav ul.left li.nav_3 { width: 33.33%; }
.navigation .max_width nav ul.right li.nav_4 { width: 31%; }
.navigation .max_width nav ul.right li.nav_5 { width: 33%; }
.navigation .max_width nav ul.right li.nav_6 { width: 36%; }

.navigation .max_width nav ul.left li.nav_1 a, 
.navigation .max_width nav ul.left li.nav_2 a,
.navigation .max_width nav ul.left li.nav_3 a, 
.navigation .max_width nav ul.right li.nav_4 a,
.navigation .max_width nav ul.right li.nav_5 a,
.navigation .max_width nav ul.right li.nav_6 a {
    background: #eee;
    border: 1px solid #fff;    
    display: block;
    font-size: 14px;       
    height: 30px;
    letter-spacing: 0;     
    line-height: 33px;    
    text-align: center;
    margin: 0 auto;
    padding: 0;
    
    @include background(linear-gradient(rgba(white, 1) 45%, rgba(240,240,240, 1) 65%));
    @include border-radius(4px);
    @include box-shadow(inset rgba(162, 162, 162, 1) 0 1px 3px, rgba(240, 240, 240, 1) 0 1px 0px);

    @include pie-element(relative);
}

.navigation .max_width nav ul.left li.nav_1 a:hover, 
.navigation .max_width nav ul.left li.nav_2 a:hover,
.navigation .max_width nav ul.left li.nav_3 a:hover, 
.navigation .max_width nav ul.right li.nav_4 a:hover,
.navigation .max_width nav ul.right li.nav_5 a:hover,
.navigation .max_width nav ul.right li.nav_6 a:hover {
    background: #ccc;

    @include background(linear-gradient(rgba(245,245,245, 1.0) 45%, rgba(230,230,230, 1.0) 65%));

    @include pie-element(relative);
}

.navigation .max_width nav ul.left li.nav_1 a:active, 
.navigation .max_width nav ul.left li.nav_2 a:active,
.navigation .max_width nav ul.left li.nav_3 a:active, 
.navigation .max_width nav ul.right li.nav_4 a:active,
.navigation .max_width nav ul.right li.nav_5 a:active,
.navigation .max_width nav ul.right li.nav_6 a:active {
    background: #ddd;
        
    @include background(linear-gradient(rgba(235,235,235, 1.0) 45%, rgba(220,220,220, 1.0) 65%));
    
    @include pie-element(relative);
}

.navigation .max_width nav ul.left li.nav_1 a { float:left; width: 65px; }
.navigation .max_width nav ul.left li.nav_2 a { margin: 0 auto; width: 71px; }
.navigation .max_width nav ul.left li.nav_3 a { float:right; width: 66px; }
.navigation .max_width nav ul.right li.nav_4 a { float:left; width: 74px; }
.navigation .max_width nav ul.right li.nav_5 a { margin: 0 auto; width: 61px; } 
.navigation .max_width nav ul.right li.nav_6 a { float: right; width: 90px; }

body.home .navigation nav .left li.nav_1 a,
body.page-about .navigation nav .left li.nav_2 a,
body.post-type-archive-work .navigation nav .left li.nav_3 a,
body.single-work .navigation nav .left li.nav_3 a,
body.post-type-archive-goods .navigation nav .right li.nav_4 a,
body.single-goods .navigation nav .right li.nav_4 a,
body.post-type-archive-blog .navigation nav .right li.nav_5 a,
body.single-blog .navigation nav .right li.nav_5 a,
body.page-blog .navigation nav .right li.nav_5 a,
body.single-post .navigation nav .right li.nav_5 a,
body.page-contact .navigation nav .right li.nav_6 a,
body.home .navigation nav .left li.nav_1 a:hover,
body.page-about .navigation nav .left li.nav_2 a:hover,
body.post-type-archive-work .navigation nav .left li.nav_3 a:hover,
body.single-work .navigation nav .left li.nav_3 a:hover,
body.post-type-archive-goods .navigation nav .right li.nav_4 a:hover,
body.single-goods .navigation nav .right li.nav_4 a:hover,
body.post-type-archive-blog .navigation nav .right li.nav_5 a:hover,
body.single-blog .navigation nav .right li.nav_5 a:hover,
body.page-blog .navigation nav .right li.nav_5 a:hover,
body.single-post .navigation nav .right li.nav_5 a:hover,
body.page-contact .navigation nav .right li.nav_6 a:hover {
    height: 30px;
    padding: 0;
    
    @include background(linear-gradient(rgba(134,198,247, .8) 45%, rgba(108,173,223, .8) 65%));
	@include box-shadow(inset rgba(72, 110, 140, 1) 0 1px 3px, inset rgba(72, 110, 140, .2) 0 3px 3px);
	@include text-shadow(rgba(51, 93, 125, 1)0 1px 1px, rgba(51, 93, 125, .75) 0 0 10px);
}

/*------------------------------------------------------------------
Main Content
------------------------------------------------------------------*/

.main_content_outer {
	padding-left: 3%;
	padding-right: 3%;
}

.main_content {
	background: #e2e2e2;
	background: rgba(255, 255, 255, .5);

	@include box-shadow(rgba(0, 0, 0, .2) 0 0 5px);

	@include pie-element(relative);
}

//------------------------------------------------------------------
//Feed Home
//------------------------------------------------------------------

.home_connections .links_social li {
	margin-bottom: 4%;
	width: 48%;
}

.home_connections .links_social .dribbble,
.home_connections .links_social .flickr,
.home_connections .links_social .last_fm {
	float: left;
}

.home_connections .links_social .facebook,
.home_connections .links_social .linkedin,
.home_connections .links_social .twitter {
	float: right;
}

/*.home_dribbble_shots ol li {
    float: right;
    width: 48%;
}

.home_dribbble_shots ol li:first-child {
    float: left;
}
*/
/*------------------------------------------------------------------
Footer
------------------------------------------------------------------*/

.footer_wrap {
	padding: 0 3% 0 3%;
}

//------------------------------------------------------------------
//About Feed
//------------------------------------------------------------------

.col_left {
    margin: 0 2.4%;
	max-width: 700px;
}

//------------------------------------------------------------------
//Last.fm Icons and functionality.
//------------------------------------------------------------------

.feed_lastfm {
	overflow: hidden;
}

.lastFMBody ul {
    border-top: none; 
}

.lastFMBody ul .itemRow {
    background: none;
    border: none;
    float: left;
    height: 132px;
    margin: 10px;
    position: relative;
    width: 132px;
}

.lastFMBody ul .itemRow a {
    display: block;
    height: 122px;
    left: 5px;
    overflow: visible;
    position: relative;
    top: 5px;
    width: 122px;
}

.lastFMBody ul .itemRow a .artWrap {
    background-repeat: no-repeat;
    background-size: 120px 120px;
    border: 1px solid #fff;
    color: #fff;
    height: 120px;
    top: 0;
    left: 0;
    position: relative;
    width: 120px; 
    
    @include border-radius(3px);
    @include box-shadow(rgba(0, 0, 0, .2) 1px 0 5px, inset rgba(0, 0, 0, .5) 0 0 2px);
}

.lastFMBody ul .itemRow a .artWrap:before {
    background: image-url('overlay_album_shine.png');
    content: "";
    height: 120px;
    left: 0;
    position: absolute;
    top: 0;    
    width: 120px;    
    z-index: 1;
}

.lastFMBody ul .itemRow a .artWrap img {
    height: 120px;
    width: 120px;
}

.lastFMBody ul .itemRow a .track_info {
    background: rgba(0, 0, 0, .7);
    left: 6px;
	overflow: hidden;
    position: absolute;
    top: 6px;
    height: 120px;  
    width: 120px;
    
    @include opacity(0);
}

.lastFMBody ul .itemRow a .track_info p {
    color: #fff;
    height: 120px;
    padding: 0;
    text-align: center;
    width: 120px;
}

.lastFMBody ul .itemRow a .track_info p .itemName,
.lastFMBody ul .itemRow a .track_info p .itemArtist {
    display: block;
    font-size: 11px;
    font-weight: normal;
    overflow: hidden;
    padding: 0 12px;
    text-align: center;   
    
	@include black_text_shadow_bottom;         
}

.lastFMBody ul .itemRow a .track_info p .itemName {
    height: 50px;
}


.lastFMBody ul .itemRow a:hover {
    left: 0;
    top: 0;
}

.lastFMBody ul .itemRow a:hover .artWrap {
    border: 6px solid #4ab0ff;
    
    @include box-shadow(rgba(0, 0, 0, .5) 1px 0 5px, rgba(108, 173, 223, 1) 0 0 1px);   
}

.lastFMBody ul .itemRow a:hover .track_info {
    @include opacity(1);
    @include transition-property(opacity);
    @include transition-duration(0.5s);
}


