.main_content_outer,
.before_header,
.navigation,
.footer_wrap {
  padding-left: 5%;
  padding-right: 5%; 
}

.before_header ul { margin-right: 5%; }

//------------------------------------------------------------------
//Global image borders and hover functionality
//------------------------------------------------------------------

a.img_border .img_wrap em  { @include opacity(0); bottom: -30px; }

a.img_border:hover .img_wrap em { @include opacity(100); bottom: 0; }

//------------------------------------------------------------------
//Feed Home
//------------------------------------------------------------------

.feed_home .home_recent_post,
.feed_home .home_tweets,
.feed_home .home_dribbble_shots,
.feed_home .home_connections,
.feed_home section {
  float: left;
  margin: 2.4% 0 2.4% 2.4%;
  width: 22%;
}

.feed_home .home_dribbble_shots li {
  display: block;
}

.feed_home .hr {
  display: none;
}

.home_connections .links_social .dribbble,
.home_connections .links_social .flickr,
.home_connections .links_social .last_fm,
.home_connections .links_social .facebook,
.home_connections .links_social .linkedin,
.home_connections .links_social .twitter {
  float: none;
}

.home_connections .links_social li {
  height: 34px;
  float: none;
  margin-bottom: 15px;
  padding: 0;
  position: relative;
  width: 100%;
}

.home_connections .links_social li a {
  display: table;
  height: 34px; 
}

.home_connections .links_social li a .button { 
  height: 0;
  left: 0;
  overflow: hidden;
  padding: 34px 0 0 0;
  position: absolute;
  top: 0;
  width: 34px;
}

.home_connections .links_social li a:hover .button { 
  @include button_hover
}

.home_connections .links_social li a .button:after { 
  background-image: image-url('global/png_master_sprite.png');    
  content: "";
  height: 34px;
  left: 0;
  position: absolute;
  top: 0;
  width: 34px;
  z-index: 2;

  @include opacity(0.85);
  @include transition_default;
}

.home_connections .links_social li a:hover .button:after { 
  @include opacity(1);
}

.home_connections .links_social .dribbble a .button:after { background-position: 6px -90px; }
.home_connections .links_social .flickr a .button:after  { background-position: 6px -185px; }
.home_connections .links_social .last_fm a .button:after { background-position: 5px -279px; }
.home_connections .links_social .facebook a .button:after { background-position: 6px -137px; }
.home_connections .links_social .linkedin a .button:after { background-position: 5px -234px; }
.home_connections .links_social .twitter a .button:after { background-position: 6px -327px; }

.home_connections .links_social .dribbble span,
.home_connections .links_social .flickr span,
.home_connections .links_social .last_fm span,
.home_connections .links_social .facebook span,
.home_connections .links_social .linkedin span,
.home_connections .links_social .twitter span {
  background: none;
  color: #555;
  display: table-cell;    
  font-size: 16px;
  height: 36px;
  left: 0;
  padding: 0 0 0 46px;
  position: relative;
  top: 0;
  vertical-align: middle;
  width: 100%;

  @include white_text_shadow_bottom    
}





