html,body{height:100%}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1em}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}a{text-decoration:none}input,textarea{border:none;outline:none;margin:0;padding:0}

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

abbr[title] { 
border-bottom : 1px dotted; 
cursor : help; }

* { -webkit-appearance:none; 
	-webkit-text-size-adjust:none;
}

/*------------------------------------------------------------------
Notes

PROXIMA NOVA WEIGHTS

Thin                100     normal
Thin Italic         100     italic
Light               300     normal
Light Italic        300     italic
Regular             400     normal
Regular Italic      400     italic
Semibold            600     normal
Semibold Italic     600     italic
Bold                700     normal
Bold Italic         700     italic
Extrabold           800     normal
Extrabold Italic    800     italic
Black               900     normal
Black Italic        900     italic

------------------------------------------------------------------*/

/*------------------------------------------------------------------
Globals
------------------------------------------------------------------*/
html, body {height: 100%;}

html {
    background: #eee url('../images/bg_light_source.jpg') top no-repeat;    
    font-family: "Helvetica Neue", Arial, sans-serif;
    overflow-y : scroll;
}

/*Opera Fix for sticky footer*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}

a,
a:visited {
    color: #6caddf;
}

/*------------------------------------------------------------------
Sticky Footer
------------------------------------------------------------------*/

#page_wrap {
    background: url('../images/bg_noise_transparent.png') center;
    min-height: 100%;
}

#page_content {
    overflow: auto;
	padding-bottom: 150px;
}

/*------------------------------------------------------------------
Header / Logo
------------------------------------------------------------------*/
.before_header {
    background: #666;
    border-bottom: 1px solid #444;
    display: block;
    color: #f0f0f0;
    font-size: 10px;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .9);
    position: relative;
    z-index: 1;
    
    background: -moz-linear-gradient(
        center top,
        rgba(112, 112, 112, 1),
        rgba(92, 92, 92, 1)
    );
    
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgba(112,112,112, 1)),
        color-stop(1, rgba(92,92,92, 1))
    );

	background-image: -o-linear-gradient(rgba(112,112,112, 1),rgba(92,92,92, 1));
	-pie-background: linear-gradient(rgba(112,112,112, 1), rgba(92,92,92, 1));
	
    behavior: url(/PIE.htc);
}

.before_header ul {
    display: none;
}

header {
    background: #fff url('../images/bg_diagonal_lines.png') center;
    position: relative;
}

h1 {
	cursor: pointer;
    height: 90px;
    left: 50%;
    margin: -45px 0 0 -45px;    
    position: absolute;
    top: 50%;
    width: 90px;
    z-index: 1;
    border-radius: 80px;
    
    -moz-border-radius: 80px;
    -webkit-border-radius: 80px;

    behavior: url(/PIE.htc);
}

h1 a {
    background: #fff;
    box-shadow: 0 5px 5px rgba(34, 34, 34, .7), 0 0 5px rgba(34, 34, 34, .2);
    border-radius: 45px;
    display: block;
    height: 90px;
    overflow: hidden;
    position: relative;
    text-indent: -6666px;
    width: 90px;
    
    background: -moz-linear-gradient(
        center bottom,
        rgba(221, 221, 221, 1),
        rgba(255, 255, 255, 1)
    );
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(221,221,221)),
        color-stop(1, rgb(255,255,255))
    );

	background-image: -o-linear-gradient(rgba(255, 255, 255, 1),rgba(221, 221, 221, 1));
	-pie-background: linear-gradient(rgba(255, 255, 255, 1),rgba(221, 221, 221, 1));
	-moz-border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-box-shadow: 0 5px 5px rgba(34, 34, 34, .7), 0 0 5px rgba(34, 34, 34, .2);
    -o-box-shadow: 0 5px 5px rgba(34, 34, 34, .7), 0 0 5px rgba(34, 34, 34, .2);
    -webkit-box-shadow: 0 5px 5px rgba(34, 34, 34, .7), 0 0 5px rgba(34, 34, 34, .2);
    
    behavior: url(/PIE.htc);
}

h1 a:hover,
h1 a:focus {
    background: #f0f0f0;
    box-shadow: 
    0 5px 5px rgba(34, 34, 34, .7), 
    0 0 5px rgba(34, 34, 34, .2), 
    2px 4px 20px rgba(108, 173, 223, .5), 
    -9px -4px 20px rgba(108, 173, 223, .25);
    
    background: -moz-linear-gradient(
        center bottom,
        rgba(200, 200, 200, 1),
        rgba(255, 255, 255, 1)
    );
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(200,200,200)),
        color-stop(1, rgb(255,255,255))
    );
    -webkit-box-shadow: 
    0 5px 5px rgba(34, 34, 34, .7), 
    0 0 5px rgba(34, 34, 34, .2), 
    2px 4px 20px rgba(108, 173, 223, .5), 
    -9px -4px 20px rgba(108, 173, 223, .25);
    -moz-transition: all 0.3s ease-in 0s;

	background-image: -o-linear-gradient(rgb(255,255,255),rgb(200,200,200));
	-pie-background: linear-gradient(rgb(255,255,255), rgb(200,200,200));
    
    behavior: url(/PIE.htc);
}

h1 a:active {
    margin-top: 1px;
    box-shadow: 
    0 3px 3px rgba(34, 34, 34, .7), 
    0 0 5px rgba(34, 34, 34, .1), 
    2px 4px 25px rgba(108, 173, 223, .65),
    2px -4px 25px rgba(108, 173, 223, .25),
    0 0 40px rgba(108, 173, 223, .1),    
    -9px -4px 30px rgba(108, 173, 223, .4);
    
    -webkit-box-shadow: 
    0 3px 3px rgba(34, 34, 34, .7), 
    0 0 5px rgba(34, 34, 34, .1), 
    2px 4px 25px rgba(108, 173, 223, .65),
    2px -4px 25px rgba(108, 173, 223, .25),
    0 0 40px rgba(108, 173, 223, .1),    
    -9px -4px 30px rgba(108, 173, 223, .4);
    
    behavior: url(/PIE.htc);
}

h1 a span {
    background: url('../images/png_master_sprite.png') 17px 28px;     
    border-radius: 45px;
    display: block;
	position: relative;
    height: 90px;
    width: 90px;
    
    behavior: url(/PIE.htc); 
}


/*------------------------------------------------------------------
Navigation
------------------------------------------------------------------*/

.navigation {
    border-top: 1px solid #6caddf;
    border-bottom: 1px solid #6caddf;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2), 0 0 10px rgba(0, 0, 0, .6);
    font-family: "proxima-nova-1","proxima-nova-2", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 50px;
    overflow: hidden;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
    
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .2), 0 0 10px rgba(0, 0, 0, .6);
    
    behavior: url(/PIE.htc); 
}

.navigation nav ul {
    display: block;
    overflow: hidden;
    width: 50%;
}

.navigation nav .left {
    float: left;
}

.navigation nav .right {
    float: right;
    text-align: right;
}

.navigation nav ul li {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #c9c9c9;
}

.navigation nav .left li {
    border-right: 1px solid #c9c9c9;
}

.navigation nav .right li {
    border-left: 1px solid #fff;
}

.navigation nav ul .nav_1,
.navigation nav ul .nav_4 {
    border-top: 0;
}

.navigation nav ul .nav_3,
.navigation nav ul .nav_6 {
    border-bottom: 0;
}

.navigation nav ul li a,
.navigation nav ul li a:visited {
	background: #f0f0f0;
    display: block;
    height: 50px;
    text-shadow: 0 1px 1px #fff;
    
    background: -moz-linear-gradient(
        center top,
        rgba(255, 255, 255, .10),
        rgba(0, 0, 0, .10)
    );
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(1, rgba(255,255,255, .10)),
        color-stop(0, rgba(0,0,0, .10))
    );
	background-image: -o-linear-gradient(rgba(255,255,255, .10),rgba(0,0,0, .10));
}

.navigation nav ul li a:hover, 
.navigation nav ul li a:focus {
	background-color: #f0f0f0;
    background: -moz-linear-gradient(
        center top,
        rgba(255, 255, 255, .15),
        rgba(0, 0, 0, .15)
    );
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(1, rgba(255,255,255, .15)),
        color-stop(0, rgba(0,0,0, .15))
    );

}

.navigation nav ul li a:active {
    padding-top: 1px;
    height: 49px;
    
    background: -moz-linear-gradient(
        center bottom,
        rgba(200, 200, 200, .15),
        rgba(55, 55, 55, .15)
    );
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgba(200,200,200, .15)),
        color-stop(1, rgba(55,55,55, .15))
    );
    
    behavior: url(/PIE.htc); 
}

.navigation nav .left li a {
    padding-left: 20px;
}

.navigation nav .right li a {
    padding-right: 20px;
}

/*------------------------------------------------------------------
post_sep
------------------------------------------------------------------*/

.post_sep {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    height: 17px;
    position: relative;
}

.post_sep:after {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    content: "";
    display: block;
    height: 17px;
}

.post_sep a,
.post_sep a:visited {
    background: #c8c7c7;
    border-radius: 100px;
    box-shadow: inset 0 1px 1px rgba(68, 68, 68, .75), 0 1px 1px rgba(238, 238, 238, 1);
    position: absolute;
    height: 0;
    margin-left: -15px;
    overflow: hidden;
    padding-top: 30px;
    left: 50%;
    top: -8px;
    width: 30px;
    
    -webkit-box-shadow: inset 0 1px 1px rgba(68, 68, 68, .75), 0 1px 1px rgba(238, 238, 238, 1);
    
    behavior: url(/PIE.htc); 
}

.post_sep a:hover,
.post_sep a:focus {
    background: #ccc;
    box-shadow: inset 0 1px 1px rgba(68, 68, 68, .75), 0 1px 1px rgba(238, 238, 238, 1);
    
    -webkit-box-shadow: inset 0 1px 1px rgba(68, 68, 68, .75), 0 1px 1px rgba(238, 238, 238, 1);
    
    behavior: url(/PIE.htc); 
}

.post_sep_inner a:active {
    margin-top: 1px;
    box-shadow: inset 0 2px 1px rgba(68, 68, 68, .75), 0 1px 1px rgba(238, 238, 238, 1);
    
    -webkit-box-shadow: inset 0 2px 1px rgba(68, 68, 68, .75), 0 1px 1px rgba(238, 238, 238, 1);
    
    behavior: url(/PIE.htc); 
}

/*------------------------------------------------------------------
Footer
------------------------------------------------------------------*/

footer {
    background: #fff url('../images/bg_diagonal_lines.png') center;
    border-top: 1px solid #6caddf;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2), 0 0 10px rgba(0, 0, 0, .6);
    clear: both;
    font-size: 16px;
    height: 70px;
    margin-top: -71px;
    overflow: hidden;
    position: relative;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
    
    webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .2), 0 0 10px rgba(0, 0, 0, .6);    
	
	behavior: url(PIE.htc);     
}

.footer_wrap {
    height: 70px;
    padding: 0 20px 0 20px;
    background: -moz-linear-gradient(
        center bottom,
        rgba(0, 0, 0, .10),
        rgba(255, 255, 255, .10)
    );
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgba(0,0,0, .10)),
        color-stop(1, rgba(255,255,255, .10))
    );
    
    behavior: url(/PIE.htc);
}

.resize_icon { display: none; }

footer .copyright {
    clear: both;
    color: #666;
    font-size: 12px;
    padding-top: 18px;       
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
}

footer .footer_nav {
    float: left;
    font-size: 11px;  
    padding-top: 6px;          
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1); 
}

footer .footer_nav li {
    float: left;
    border-right: 1px solid #6caddf;
    border-left: 1px solid #fff;
    padding: 0 8px 0 8px;
}

footer .footer_nav li:first-child {
    border-left: 0;
    padding-left: 0;
}

footer .footer_nav li:last-child {
    border-right: 0;
    padding-right: 0;
}

footer .footer_nav li a,
footer .footer_nav li a:visited {
    color: #6caddf;
}

footer .footer_nav li a:hover,
footer .footer_nav li a:focus,
footer .footer_nav li a:active {
    color: #6caddf;
    border-bottom: 1px dotted #6caddf;
}

/*------------------------------------------------------------------
Individual work
------------------------------------------------------------------*/

.FPO_individual_port aside h3 {
    color: #444;
    font-family: "proxima-nova-1","proxima-nova-2", "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 60px;
    padding-left: 20px;
    text-align: left;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 1);        
}

.FPO_individual_port aside ul {
    border-top: 1px solid #bbb;
    font-size: 14px; 
    margin: 0 20px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1); 
}

.FPO_individual_port aside ul li {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #bbb;
}

.FPO_individual_port section ul {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.FPO_individual_port section ul li {
    background: rgba(255, 255, 255, .25);
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    display: block;
    margin: 20px;
    padding: 1%;
    
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .25);    
}

.FPO_individual_port section ul li img {
    display: block;
    margin: 0 auto; 
    width: 100%;
}


/*480px __________________________________________________________________________________________________________ */
@media only screen and (min-width: 480px) {
    
    /*------------------------------------------------------------------
    Footer
    ------------------------------------------------------------------*/
    .syntax-purpose-for-tetmate-mediaquery {}
    
    .resize_icon {
        display: block;
        cursor: help;
        position: fixed;
        right: 0;
        bottom: 0;
    }

    .resize_icon p {
        border-radius: 2px 0 0 0;
        background: #6caddf;
        box-shadow: 0 0 5px rgba(0, 0, 0, .25);
        color: #fff;
        font-size: 10px;
        padding: 1px 3px 1px 4px;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, .25);
        
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    }
    
    footer .footer_nav {
        display: block;
        float: right;
		font-size: 12px;
        padding-top: 28px;
    }
    
    footer .copyright {
        clear: none;
        float: left;
        padding-top: 28px;
    }

}/*/mediaquery*/

/*768px __________________________________________________________________________________________________________ */
@media only screen and (min-width: 768px) {

    /*------------------------------------------------------------------
    Navigation
    ------------------------------------------------------------------*/
    .syntax-purpose-for-tetmate-mediaquery {}
    
    #page_content {
        padding-top: 18px;
    }
    
    .before_header {
        background: transparent;
        border: 0;
        display: block;
        height: 34px;
        color: #777;
        font-size: 10px;
        font-weight: normal;
        padding-left: 3%;
        position: relative;
        text-align: left;
        text-transform: uppercase;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
    }
    
    .before_header .charter {
        padding-bottom: 18px;
    }
    
    .before_header ul {
        display: block;
        margin-right: 3%;
        position: absolute;
        right: 0;
        top: -18px;
    }
    
    .before_header ul li {
        float: left;
        margin-top: -14px;    
    }
    
    .before_header ul li a {
        background: url('../images/png_master_sprite.png');    
        display: block;
        height: 0;
        height: 42px;
        opacity: .4;    
        position: relative;
        width: 28px;
    }
    
    .before_header ul li a:hover {
        margin-top: 3px;
                opacity: 1;
        -moz-transition: margin .1s ease-in, opacity .2s ease-in;
        -webkit-transition: margin .1s ease-in, opacity .2s ease-in;
        -o-transition: margin .1s ease-in, opacity .2s ease-in;
        transition: margin .1s ease-in, opacity .2s ease-in;        
    }
    
    .before_header ul li.linkedin a { background-position: -200px 0px; }
    .before_header ul li.facebook a { background-position: -104px 0px; }
    .before_header ul li.flickr a { background-position: -133px 0px; }
    .before_header ul li.twitter a { background-position: -162px 0px;}
    .before_header ul li.last_fm a { background-position: -191px 0px; }
    .before_header ul li.dribbble a { background-position: -220px 0px; }
    
    .before_header ul li.linkedin a:hover { background-position: -75px -48px; }
    .before_header ul li.facebook a:hover { background-position: -104px -48px; }
    .before_header ul li.flickr a:hover { background-position: -133px -48px; }
    .before_header ul li.twitter a:hover { background-position: -162px -48px;}
    .before_header ul li.last_fm a:hover { background-position: -191px -48px; }
    .before_header ul li.dribbble a:hover { background-position: -220px -48px; }                   
    
    .navigation {
        height: 50px;
        padding: 0 3%;
        
        background: -moz-linear-gradient(
            center bottom,
            rgba(0, 0, 0, .10),
            rgba(255, 255, 255, .10)
        );
        background: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgba(0,0,0, .10)),
            color-stop(1, rgba(255,255,255, .10))
        );
        
        behavior: url(/PIE.htc);
    }

    .navigation nav .left,
    .navigation nav .right {
        text-align: center;
        width: 40%;    
    }
    
    .navigation nav .left { margin-left: -2px; }
    
    .navigation nav .right { margin-right: -2px; }
    
    .navigation nav .left li,
    .navigation nav .right li {
        border: 0;
        display: inline;        
    }
    
    .navigation nav .left .nav_1,
    .navigation nav .right .nav_4 {
        display: block;
        float: left;
        text-align: left;
    }
    
    .navigation nav .left .nav_3,
    .navigation nav .right .nav_6 {
        display: block;
        float: right;
        text-align: right;
    }

    
    .navigation nav .left li a,
    .navigation nav .right li a,
    .navigation nav .left li a:visited,
    .navigation nav .right li a:visited,
    .navigation nav .left li a:active,
    .navigation nav .right li a:active {
        background: #eee;
		border-radius: 4px;
        border: 1px solid #fff;
        box-shadow: inset 0 1px 3px rgba(162, 162, 162, 1), 0 1px 0px rgba(240, 240, 240, 1);
        display: inline;
        font-weight: 600;
        font-size: 14px;
        height: auto;
        line-height: 53px;
        letter-spacing: 0;
        padding: 8px 12px 4px 12px;
		position: relative;

        background: -moz-linear-gradient(
            center top,
            rgba(255, 255, 255, 1) 45%,
            rgba(240, 240, 240, 1) 65%   
        );
        background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0.45, rgba(255,255,255, 1)),
            color-stop(0.65, rgba(240,240,240, 1))
        );
        
        -webkit-box-shadow: inset 0 1px 3px rgba(162, 162, 162, 1), 0 1px 0px rgba(240, 240, 240, 1);
		
		background-image: -o-linear-gradient(rgba(255,255,255, 1),rgba(240,240,240, 1));
		-pie-background: linear-gradient(rgba(255,255,255, 1), rgba(240,240,240, 1));
        
        behavior: url(/PIE.htc);
    }
    
    .navigation nav .left li a:hover,
    .navigation nav .right li a:hover,
    .navigation nav .left li a:focus,
    .navigation nav .right li a:focus,
    .navigation nav .left li a:active,
    .navigation nav .right li a:active {
		background: #ccc;
		
        background: -moz-linear-gradient(
            center top,
            rgba(245, 245, 245, 1) 45%,
            rgba(230, 230, 230, 1) 65%   
        );
        background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0.45, rgba(245,245,245, 1)),
            color-stop(0.65, rgba(230,230,230, 1))
        );

		background-image: -o-linear-gradient(rgba(245,245,245, 1),rgba(230,230,230, 1));
		-pie-background: linear-gradient(rgba(245,245,245, 1), rgba(230,230,230, 1));
        
        behavior: url(/PIE.htc);
    }
    
    .navigation nav .left li a:active,
    .navigation nav .right li a:active {
/*        THIS NEEDS SOMETING*/
    }
    
    body.home .navigation nav .left li.nav_1 a,
    body.about .navigation nav .left li.nav_2 a,
    body.category-work .navigation nav .left li.nav_3 a,
    body.goods .navigation nav .right li.nav_4 a,
    body.category-blog .navigation nav .right li.nav_5 a,
    body.contact .navigation nav .right li.nav_6 a {
        box-shadow: inset 0 1px 3px rgba(72, 110, 140, 1), inset 0 3px 3px rgba(72, 110, 140, .2);
        color: #fff;
        text-shadow: 0 1px 1px rgba(51, 93, 125, 1), 0 0 10px rgba(51, 93, 125, .75);
        
		background: #6caddf;

        background: -moz-linear-gradient(
            rgba(134, 198, 247, .8) 45%,
            rgba(108, 173, 223, .8) 65%
        );
        background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0.45, rgba(134,198,247, .8)),
            color-stop(0.65, rgba(108,173,223, .8))
        );

        -webkit-box-shadow: inset 0 1px 3px rgba(72, 110, 140, 1), inset 0 3px 3px rgba(72, 110, 140, .2);

		background-image: -o-linear-gradient(rgba(134, 198, 247, .8),rgba(108, 173, 223, .8)));
		-pie-background: linear-gradient(rgba(134, 198, 247, .8), rgba(108, 173, 223, .8)));


        behavior: url(/PIE.htc);
    }
    
    /*------------------------------------------------------------------
    Main Content
    ------------------------------------------------------------------*/

    .main_content_outer {
        padding-left: 3%;
        padding-right: 3%;
    }

    .main_content {
		background: #e2e2e2;
        background: rgba(255, 255, 255, .5);
        box-shadow: 0 0 5px rgba(0, 0, 0, .2);
        
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .2);  
        
        behavior: url(/PIE.htc);
    }
    
    /*------------------------------------------------------------------
    Footer
    ------------------------------------------------------------------*/
    .footer_wrap {
        padding: 0 3% 0 3%;
    }

}/*/mediaquery*/

/*992px __________________________________________________________________________________________________________ */
@media only screen and (min-width: 992px) {
    .syntax-purpose-for-tetmate-mediaquery {}
    
    .main_content_outer,
    .before_header,
    .navigation,
    .footer_wrap {
        padding-left: 5%;
        padding-right: 5%; 
    }
    
    .before_header ul { margin-right: 5%; }
     
}/*/mediaquery*/

/*1150px it changes, max width is 1382 forreal __________________________________________________________________________________________________________ */
@media only screen and (min-width: 1150px) {
    .syntax-purpose-for-tetmate-mediaquery {}
    
    .logo_wrap,
    .main_content_outer,
    .navigation,
    .footer_wrap {
        padding-left: 7%;
        padding-right: 7%; 
    }
    
    .max_width {
        margin: 0 auto;
        max-width: 1382px;
    }
    
    /*------------------------------------------------------------------
    Navigation
    ------------------------------------------------------------------*/
    .logo_wrap {
        margin: 0 auto;        
        max-width: 1382px;
    }
    
    .logo_inner_wrap {
        position: relative;
    }
    
    h1 {
        top: 23px;
        left: 0;
        margin-right: 0;
    }

    nav {
        margin-right: -2px;
    }

    .navigation .max_width nav {
        float: right;
        display: block;
        overflow: visible;
    }
    
    .navigation .max_width nav ul,
    .navigation .max_width nav .left,
    .navigation .max_width nav .right {
        float: left;
        margin: 0;
        overflow: visible;
        width: auto;
    }
    
    .navigation .max_width nav ul.left {
        width: 223px;
    }
    
    .navigation .max_width nav ul.right {
        width: 241px;
    }

    .navigation .max_width nav ul.left li.nav_1, 
    .navigation .max_width nav ul.left li.nav_2,
    .navigation .max_width nav ul.left li.nav_3,
    .navigation .max_width nav ul.right li.nav_4,
    .navigation .max_width nav ul.right li.nav_5, 
    .navigation .max_width nav ul.right li.nav_6 {
        float: left;
        text-align: center;
    }
    
    .navigation .max_width nav ul.left li.nav_1 { margin-right: 5px; }
    .navigation .max_width nav ul.left li.nav_2 { margin-right: 5px; }
    .navigation .max_width nav ul.left li.nav_3 {}
    .navigation .max_width nav ul.right li.nav_4 {margin-right: 5px;}
    .navigation .max_width nav ul.right li.nav_5 {margin-right: 5px;}
    .navigation .max_width nav ul.right li.nav_6 {}
    
    .navigation .max_width nav ul.left li.nav_1 a, 
    .navigation .max_width nav ul.left li.nav_2 a,
    .navigation .max_width nav ul.left li.nav_3 a,
    .navigation .max_width nav ul.right li.nav_4 a,
    .navigation .max_width nav ul.right li.nav_5 a, 
    .navigation .max_width nav ul.right li.nav_6 a {
        display: block;
        line-height: 32px;
        margin-top: 9px;
        padding: 0;
        height: 29px;
    }
    
    .navigation .max_width nav ul.left li.nav_1 a { width: 65px; }
    .navigation .max_width nav ul.left li.nav_2 a { width: 71px; }
    .navigation .max_width nav ul.left li.nav_3 a { width: 66px; }
    .navigation .max_width nav ul.right li.nav_4 a { width: 74px; }
    .navigation .max_width nav ul.right li.nav_5 a { width: 61px; } 
    .navigation .max_width nav ul.right li.nav_6 a { width: 90px; }    
    
    .before_header {
        padding: 0 7%;
        max-width: 1382px;
        margin: 0 auto;
    }

    .before_header ul {
        float: right;
        position: relative;
        margin-right: -2px;
    }

    .before_header_inner {
        position: relative;
    }

    .charter {
        font-size: 11px;
        position: absolute;
        left: 58px;
        top: 54px;
    }
      


}/*/mediaquery*/

/*2x __________________________________________________________________________________________________________ */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .syntax-purpose-for-tetmate-mediaquery {}


}/*/mediaquery*/
