/* line 1, ../sass/_reset.scss */
html, body {
  height: 100%;
}

/* line 1, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 1, ../sass/_reset.scss */
body {
  line-height: 1em;
}

/* line 1, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 1, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 1, ../sass/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 1, ../sass/_reset.scss */
:focus {
  outline: 0;
}

/* line 1, ../sass/_reset.scss */
ins {
  text-decoration: none;
}

/* line 1, ../sass/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 1, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/_reset.scss */
a {
  text-decoration: none;
}

/* line 1, ../sass/_reset.scss */
input, textarea {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

/* line 3, ../sass/_reset.scss */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 5, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 9, ../sass/_reset.scss */
* {
  -webkit-appearance: none;
  -webkit-text-size-adjust: none;
}

/* line 5, ../sass/_320.scss */
html {
  background: #eeeeee url('../images/bg_light_source.jpg?1313758269') top no-repeat;
  color: #333;
  font-family: "Helvetica Neue", Arial, sans-serif;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

/* line 15, ../sass/_320.scss */
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

/* line 24, ../sass/_320.scss */
a,
a:visited {
  color: #6caddf;
}

/* line 28, ../sass/_320.scss */
h2, h3, h4, h5, h6 {
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: white 0 1px 0;
}

/* line 33, ../sass/_320.scss */
h2 {
  color: #666;
  font-size: 60px;
  line-height: 72px;
  padding: 40px 0 0 40px;
}

/* line 40, ../sass/_320.scss */
h5 {
  border-bottom: 1px solid #bbb;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 11px;
  padding-bottom: 5px;
  -moz-box-shadow: white 0 1px 0;
  -webkit-box-shadow: white 0 1px 0;
  -o-box-shadow: white 0 1px 0;
  box-shadow: white 0 1px 0;
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* line 51, ../sass/_320.scss */
h6 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 9px;
}

/* line 58, ../sass/_320.scss */
p {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 9px;
}

/* line 64, ../sass/_320.scss */
.small_caps {
  font-style: normal;
  font-weight: normal;
  font-variant: small-caps;
}

/* line 75, ../sass/_320.scss */
.button,
.button:visited {
  border: 1px solid #6f9dc0;
  background: #6caddf;
  color: #fff;
  font-size: 14px;
  padding: 7px 12px 6px 12px;
  line-height: 34px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px, inset #cfe9fe 0 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px, inset #cfe9fe 0 1px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px, inset #cfe9fe 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px, inset #cfe9fe 0 1px 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99ccf5), color-stop(100%, #81b5dc));
  background: -webkit-linear-gradient(#99ccf5, #81b5dc);
  background: -moz-linear-gradient(#99ccf5, #81b5dc);
  background: -o-linear-gradient(#99ccf5, #81b5dc);
  background: -ms-linear-gradient(#99ccf5, #81b5dc);
  -pie-background: linear-gradient(#99ccf5, #81b5dc);
  background: linear-gradient(#99ccf5, #81b5dc);
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: #4c88b6 0 -1px 1px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 91, ../sass/_320.scss */
.button:hover {
  background: #8acbfc;
  -moz-box-shadow: rgba(0, 0, 0, 0.35) 0 0 8px, inset #dcf3ff 0 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 0 8px, inset #dcf3ff 0 1px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.35) 0 0 8px, inset #dcf3ff 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0 8px, inset #dcf3ff 0 1px 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a3d6ff), color-stop(100%, #8bbfe6));
  background: -webkit-linear-gradient(#a3d6ff, #8bbfe6);
  background: -moz-linear-gradient(#a3d6ff, #8bbfe6);
  background: -o-linear-gradient(#a3d6ff, #8bbfe6);
  background: -ms-linear-gradient(#a3d6ff, #8bbfe6);
  -pie-background: linear-gradient(#a3d6ff, #8bbfe6);
  background: linear-gradient(#a3d6ff, #8bbfe6);
}

/* line 102, ../sass/_320.scss */
#page_wrap {
  background: url('../images/bg_noise_transparent.png?1313758269') center;
  min-height: 100%;
}

/* line 107, ../sass/_320.scss */
#page_content {
  overflow: auto;
  padding-bottom: 50px;
}

/* line 115, ../sass/_320.scss */
.before_header {
  background: #666;
  border-bottom: 1px solid #444;
  display: block;
  color: #f0f0f0;
  font-size: 10px;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 101;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #707070), color-stop(100%, #5c5c5c));
  background: -webkit-linear-gradient(#707070, #5c5c5c);
  background: -moz-linear-gradient(#707070, #5c5c5c);
  background: -o-linear-gradient(#707070, #5c5c5c);
  background: -ms-linear-gradient(#707070, #5c5c5c);
  -pie-background: linear-gradient(#707070, #5c5c5c);
  background: linear-gradient(#707070, #5c5c5c);
  text-shadow: black 0 -1px 0;
}

/* line 133, ../sass/_320.scss */
.before_header .charter {
  font-size: 10px;
  line-height: 14px;
  margin: 0;
}

/* line 139, ../sass/_320.scss */
.before_header ul {
  display: none;
}

/* line 143, ../sass/_320.scss */
header {
  background: white url('../images/bg_diagonal_lines.png?1313758269') center;
  position: relative;
}

/* line 148, ../sass/_320.scss */
h1 {
  cursor: pointer;
  height: 90px;
  left: 50%;
  margin: -50px 0 0 -50px;
  position: absolute;
  top: 50%;
  width: 90px;
  z-index: 101;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  -o-border-radius: 80px;
  -ms-border-radius: 80px;
  -khtml-border-radius: 80px;
  border-radius: 80px;
  behavior: url("/PIE.htc");
}

/* line 163, ../sass/_320.scss */
h1 a {
  background: #fff;
  display: block;
  height: 100px;
  overflow: hidden;
  position: relative;
  text-indent: -6666px;
  width: 100px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(#ffffff, #dddddd);
  background: -moz-linear-gradient(#ffffff, #dddddd);
  background: -o-linear-gradient(#ffffff, #dddddd);
  background: -ms-linear-gradient(#ffffff, #dddddd);
  -pie-background: linear-gradient(#ffffff, #dddddd);
  background: linear-gradient(#ffffff, #dddddd);
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  -o-border-radius: 80px;
  -ms-border-radius: 80px;
  -khtml-border-radius: 80px;
  border-radius: 80px;
  -moz-box-shadow: rgba(34, 34, 34, 0.7) 0 5px 5px, rgba(34, 34, 34, 0.2) 0 0 5px;
  -webkit-box-shadow: rgba(34, 34, 34, 0.7) 0 5px 5px, rgba(34, 34, 34, 0.2) 0 0 5px;
  -o-box-shadow: rgba(34, 34, 34, 0.7) 0 5px 5px, rgba(34, 34, 34, 0.2) 0 0 5px;
  box-shadow: rgba(34, 34, 34, 0.7) 0 5px 5px, rgba(34, 34, 34, 0.2) 0 0 5px;
  -moz-transition-property: box-shadow;
  -webkit-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  behavior: url("/PIE.htc");
  position: relative;
}

/* line 183, ../sass/_320.scss */
h1 a:hover,
h1 a:focus {
  background: #f0f0f0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #c8c8c8));
  background: -webkit-linear-gradient(#ffffff, #c8c8c8);
  background: -moz-linear-gradient(#ffffff, #c8c8c8);
  background: -o-linear-gradient(#ffffff, #c8c8c8);
  background: -ms-linear-gradient(#ffffff, #c8c8c8);
  -pie-background: linear-gradient(#ffffff, #c8c8c8);
  background: linear-gradient(#ffffff, #c8c8c8);
  -moz-box-shadow: rgba(34, 34, 34, 0.7) 0 5px 5px, rgba(34, 34, 34, 0.2) 0 0 5px, rgba(108, 173, 223, 0.5) 2px 4px 20px, rgba(108, 173, 223, 0.25) -9px -4px 20px;
  -webkit-box-shadow: rgba(34, 34, 34, 0.7) 0 5px 5px, rgba(34, 34, 34, 0.2) 0 0 5px, rgba(108, 173, 223, 0.5) 2px 4px 20px, rgba(108, 173, 223, 0.25) -9px -4px 20px;
  -o-box-shadow: rgba(34, 34, 34, 0.7) 0 5px 5px, rgba(34, 34, 34, 0.2) 0 0 5px, rgba(108, 173, 223, 0.5) 2px 4px 20px, rgba(108, 173, 223, 0.25) -9px -4px 20px;
  box-shadow: rgba(34, 34, 34, 0.7) 0 5px 5px, rgba(34, 34, 34, 0.2) 0 0 5px, rgba(108, 173, 223, 0.5) 2px 4px 20px, rgba(108, 173, 223, 0.25) -9px -4px 20px;
  behavior: url("/PIE.htc");
  position: relative;
}

/* line 193, ../sass/_320.scss */
h1 a:active {
  margin-top: 1px;
  -moz-box-shadow: rgba(34, 34, 34, 0.7) 0 3px 3px, rgba(34, 34, 34, 0.1) 0 0 5px, rgba(108, 173, 223, 0.65) 2px 4px 25px, rgba(108, 173, 223, 0.25) 2px -4px 25px, rgba(108, 173, 223, 0.1) 0 0 40px, rgba(108, 173, 223, 0.4) -9px -4px 30px;
  -webkit-box-shadow: rgba(34, 34, 34, 0.7) 0 3px 3px, rgba(34, 34, 34, 0.1) 0 0 5px, rgba(108, 173, 223, 0.65) 2px 4px 25px, rgba(108, 173, 223, 0.25) 2px -4px 25px, rgba(108, 173, 223, 0.1) 0 0 40px, rgba(108, 173, 223, 0.4) -9px -4px 30px;
  -o-box-shadow: rgba(34, 34, 34, 0.7) 0 3px 3px, rgba(34, 34, 34, 0.1) 0 0 5px, rgba(108, 173, 223, 0.65) 2px 4px 25px, rgba(108, 173, 223, 0.25) 2px -4px 25px, rgba(108, 173, 223, 0.1) 0 0 40px, rgba(108, 173, 223, 0.4) -9px -4px 30px;
  box-shadow: rgba(34, 34, 34, 0.7) 0 3px 3px, rgba(34, 34, 34, 0.1) 0 0 5px, rgba(108, 173, 223, 0.65) 2px 4px 25px, rgba(108, 173, 223, 0.25) 2px -4px 25px, rgba(108, 173, 223, 0.1) 0 0 40px, rgba(108, 173, 223, 0.4) -9px -4px 30px;
  -moz-transition-property: box-shadow;
  -webkit-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  -moz-transition-duration: 0.01s;
  -webkit-transition-duration: 0.01s;
  -o-transition-duration: 0.01s;
  transition-duration: 0.01s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  behavior: url("/PIE.htc");
  position: relative;
}

/* line 204, ../sass/_320.scss */
h1 a span {
  background: url('../images/png_master_sprite.png?1313758269') 18px 31px;
  display: block;
  position: relative;
  height: 100px;
  width: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  -khtml-border-radius: 50px;
  border-radius: 50px;
  behavior: url("/PIE.htc");
  position: relative;
}

/* line 221, ../sass/_320.scss */
.navigation {
  border-top: 1px solid #6caddf;
  border-bottom: 1px solid #6caddf;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 50px;
  overflow: hidden;
  text-transform: uppercase;
  z-index: 100;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px, rgba(0, 0, 0, 0.6) 0 0 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px, rgba(0, 0, 0, 0.6) 0 0 10px;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px, rgba(0, 0, 0, 0.6) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px, rgba(0, 0, 0, 0.6) 0 0 10px;
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-shadow: white 0 1px 0;
  behavior: url("/PIE.htc");
  position: relative;
}

/* line 238, ../sass/_320.scss */
.navigation nav ul {
  display: block;
  overflow: hidden;
  width: 50%;
}

/* line 244, ../sass/_320.scss */
.navigation nav .left {
  float: left;
}

/* line 248, ../sass/_320.scss */
.navigation nav .right {
  float: right;
  text-align: right;
}

/* line 253, ../sass/_320.scss */
.navigation nav ul li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #c9c9c9;
}

/* line 258, ../sass/_320.scss */
.navigation nav .left li {
  border-right: 1px solid #c9c9c9;
}

/* line 262, ../sass/_320.scss */
.navigation nav .right li {
  border-left: 1px solid #fff;
}

/* line 267, ../sass/_320.scss */
.navigation nav ul .nav_1,
.navigation nav ul .nav_4 {
  border-top: 0;
}

/* line 272, ../sass/_320.scss */
.navigation nav ul .nav_3,
.navigation nav ul .nav_6 {
  border-bottom: 0;
}

/* line 277, ../sass/_320.scss */
.navigation nav ul li a,
.navigation nav ul li a:visited {
  background: #f0f0f0;
  display: block;
  height: 50px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background: -ms-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  -pie-background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  text-shadow: white 0 1px 0;
}

/* line 287, ../sass/_320.scss */
.navigation nav ul li a:hover,
.navigation nav ul li a:focus {
  background-color: #e2e2e2;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.15));
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.15));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.15));
  background: -ms-linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.15));
  -pie-background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.15));
  background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.15));
}

/* line 293, ../sass/_320.scss */
.navigation nav ul li a:active {
  height: 49px;
  padding-top: 1px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(255, 255, 255, 0.15)));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.15));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.15));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.15));
  background: -ms-linear-gradient(rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.15));
  -pie-background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.15));
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.15));
}

/* line 300, ../sass/_320.scss */
.navigation nav .left li a {
  padding-left: 20px;
}

/* line 304, ../sass/_320.scss */
.navigation nav .right li a {
  padding-right: 20px;
}

/* line 329, ../sass/_320.scss */
body.home .navigation nav .left li.nav_1 a,
body.page-about .navigation nav .left li.nav_2 a,
body.post-type-archive-work .navigation nav .left li.nav_3 a,
body.single-work .navigation nav .left li.nav_3 a,
body.post-type-archive-goods .navigation nav .right li.nav_4 a,
body.single-goods .navigation nav .right li.nav_4 a,
body.post-type-archive-blog .navigation nav .right li.nav_5 a,
body.single-blog .navigation nav .right li.nav_5 a,
body.page-blog .navigation nav .right li.nav_5 a,
body.single-post .navigation nav .right li.nav_5 a,
body.page-contact .navigation nav .right li.nav_6 a,
body.home .navigation nav .left li.nav_1 a:hover,
body.page-about .navigation nav .left li.nav_2 a:hover,
body.post-type-archive-work .navigation nav .left li.nav_3 a:hover,
body.single-work .navigation nav .left li.nav_3 a:hover,
body.post-type-archive-goods .navigation nav .right li.nav_4 a:hover,
body.single-goods .navigation nav .right li.nav_4 a:hover,
body.post-type-archive-blog .navigation nav .right li.nav_5 a:hover,
body.single-blog .navigation nav .right li.nav_5 a:hover,
body.page-blog .navigation nav .right li.nav_5 a:hover,
body.single-post .navigation nav .right li.nav_5 a:hover,
body.page-contact .navigation nav .right li.nav_6 a:hover {
  background: #6caddf;
  color: #fff;
  height: 48px;
  padding-top: 2px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(134, 198, 247, 0.7)), color-stop(100%, rgba(108, 173, 223, 0.7)));
  background: -webkit-linear-gradient(rgba(134, 198, 247, 0.7), rgba(108, 173, 223, 0.7));
  background: -moz-linear-gradient(rgba(134, 198, 247, 0.7), rgba(108, 173, 223, 0.7));
  background: -o-linear-gradient(rgba(134, 198, 247, 0.7), rgba(108, 173, 223, 0.7));
  background: -ms-linear-gradient(rgba(134, 198, 247, 0.7), rgba(108, 173, 223, 0.7));
  -pie-background: linear-gradient(rgba(134, 198, 247, 0.7), rgba(108, 173, 223, 0.7));
  background: linear-gradient(rgba(134, 198, 247, 0.7), rgba(108, 173, 223, 0.7));
  -moz-box-shadow: inset rgba(72, 110, 140, 0.8) 0 1px 3px, inset rgba(72, 110, 140, 0.2) 0 3px 3px;
  -webkit-box-shadow: inset rgba(72, 110, 140, 0.8) 0 1px 3px, inset rgba(72, 110, 140, 0.2) 0 3px 3px;
  -o-box-shadow: inset rgba(72, 110, 140, 0.8) 0 1px 3px, inset rgba(72, 110, 140, 0.2) 0 3px 3px;
  box-shadow: inset rgba(72, 110, 140, 0.8) 0 1px 3px, inset rgba(72, 110, 140, 0.2) 0 3px 3px;
  text-shadow: #335d7d 0 1px 1px, rgba(51, 93, 125, 0.75) 0 0 10px;
  behavior: url("/PIE.htc");
  position: relative;
}

/* this changes the height of the master slideshow.*/
/* line 347, ../sass/_320.scss */
.dummy_slide {
  height: 400px;
  width: 100%;
  visibility: hidden;
}

/* line 353, ../sass/_320.scss */
.hero_slider_wrap {
  position: relative;
}

/* line 357, ../sass/_320.scss */
.hero_slider li {
  display: block;
}

/* line 362, ../sass/_320.scss */
.hero_slider li .slide_wrap,
.hero_slider li .slide_inner_wrap {
  height: 400px;
}

/* line 366, ../sass/_320.scss */
.hero_slider li .slide_wrap {
  border-bottom: 3px #fff solid;
}

/* line 370, ../sass/_320.scss */
.hero_slider li .slide_inner_wrap {
  border-bottom: 1px #ccc solid;
}

/* line 374, ../sass/_320.scss */
.hero_slider {
  width: auto !important;
  position: relative !important;
  overflow: visible !important;
}

/* line 379, ../sass/_320.scss */
.hero_slider .pane {
  width: auto !important;
  position: relative !important;
  height: 0 !important;
}

/* line 385, ../sass/_320.scss */
.hero_slider .slide_wrap {
  background: url('../images/bg_pattern_square.jpg?1313758269') center;
}

/* line 387, ../sass/_320.scss */
.hero_slider .slide_wrap .slide_inner_wrap {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(42, 83, 114, 0.3)));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(42, 83, 114, 0.3));
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.3), rgba(42, 83, 114, 0.3));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(42, 83, 114, 0.3));
  background: -ms-linear-gradient(rgba(255, 255, 255, 0.3), rgba(42, 83, 114, 0.3));
  -pie-background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(42, 83, 114, 0.3));
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(42, 83, 114, 0.3));
}

/* line 389, ../sass/_320.scss */
.hero_slider .second .slide_wrap {
  background: url('../images/bg_pattern_squiggle.jpg?1313758269') center;
}

/* line 391, ../sass/_320.scss */
.hero_slider .second .slide_wrap .slide_inner_wrap {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(75, 76, 77, 0.3)));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(75, 76, 77, 0.3));
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.3), rgba(75, 76, 77, 0.3));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(75, 76, 77, 0.3));
  background: -ms-linear-gradient(rgba(255, 255, 255, 0.3), rgba(75, 76, 77, 0.3));
  -pie-background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(75, 76, 77, 0.3));
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(75, 76, 77, 0.3));
}

/* line 393, ../sass/_320.scss */
.hero_slider .third .slide_wrap .slide_inner_wrap {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(75, 76, 77, 0.3)));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(75, 76, 77, 0.3));
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.3), rgba(75, 76, 77, 0.3));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(75, 76, 77, 0.3));
  background: -ms-linear-gradient(rgba(255, 255, 255, 0.3), rgba(75, 76, 77, 0.3));
  -pie-background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(75, 76, 77, 0.3));
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(75, 76, 77, 0.3));
}

/* line 395, ../sass/_320.scss */
.hero_slider .third .slide_wrap {
  background: url('../images/bg_noise_transparent.png?1313758269') center;
}

/* line 397, ../sass/_320.scss */
.hero_slider_wrap .slides_nav {
  bottom: 0;
  left: 50%;
  margin-left: -150px;
  position: absolute;
  text-align: center;
  width: 300px;
  z-index: 100;
}

/* line 407, ../sass/_320.scss */
.hero_slider_wrap .slides_nav li {
  background: aqua;
  display: inline;
  text-align: center;
}

/* line 413, ../sass/_320.scss */
.hero_slider_wrap .slides_nav li a {
  text-align: center;
  margin: 0 20px;
}

/* line 422, ../sass/_320.scss */
.feed_home {
  overflow: hidden;
}

/* line 426, ../sass/_320.scss */
.feed_home section {
  float: left;
  margin: 2.4% 0 2.4% 2.4%;
  width: 22%;
}

/* line 432, ../sass/_320.scss */
.feed_home section img {
  display: block;
  width: 100%;
}

/* line 437, ../sass/_320.scss */
.home_recent_post .home_excerpt {
  margin-bottom: 18px;
}

/* line 441, ../sass/_320.scss */
.home_dribbble_shots ol li {
  display: block;
  margin-bottom: 18px;
}

/* line 446, ../sass/_320.scss */
.home_dribbble_shots ol li a {
  background: #fff;
  display: block;
  padding: 3%;
  width: 94%;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 8px;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 0 0 8px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 8px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 456, ../sass/_320.scss */
.home_dribbble_shots ol li a:hover {
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 0 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 0 8px;
  -o-box-shadow: rgba(0, 0, 0, 0.6) 0 0 8px;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 8px;
}

/* line 460, ../sass/_320.scss */
.home_dribbble_shots ol li a .dribbble_img_wrap {
  position: relative;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.3) 0 0 6px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.3) 0 0 6px;
  -o-box-shadow: inset rgba(0, 0, 0, 0.3) 0 0 6px;
  box-shadow: inset rgba(0, 0, 0, 0.3) 0 0 6px;
}

/* line 465, ../sass/_320.scss */
.home_dribbble_shots ol li a .dribbble_img_wrap span {
  border-top: 1px solid #6f9dc0;
  bottom: 0;
  color: #fff;
  display: block;
  font-size: 11px;
  left: 0;
  position: absolute;
  width: 100%;
  text-shadow: #4c88b6 0 -1px 1px;
  -moz-box-shadow: inset #cfe9fe 0 1px 0;
  -webkit-box-shadow: inset #cfe9fe 0 1px 0;
  -o-box-shadow: inset #cfe9fe 0 1px 0;
  box-shadow: inset #cfe9fe 0 1px 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99ccf5), color-stop(100%, #81b5dc));
  background: -webkit-linear-gradient(#99ccf5, #81b5dc);
  background: -moz-linear-gradient(#99ccf5, #81b5dc);
  background: -o-linear-gradient(#99ccf5, #81b5dc);
  background: -ms-linear-gradient(#99ccf5, #81b5dc);
  -pie-background: linear-gradient(#99ccf5, #81b5dc);
  background: linear-gradient(#99ccf5, #81b5dc);
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 482, ../sass/_320.scss */
.home_dribbble_shots ol li a .dribbble_img_wrap span em {
  display: block;
  font-style: normal;
  padding: 6px;
}

/* line 488, ../sass/_320.scss */
.home_dribbble_shots ol li a:hover .dribbble_img_wrap span {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10000);
  opacity: 100;
}

/* line 492, ../sass/_320.scss */
.home_dribbble_shots ol li a .dribbble_img_wrap img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 496, ../sass/_320.scss */
.home_tweets ul {
  margin-bottom: 18px;
}

/* line 504, ../sass/_320.scss */
.post_sep {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  height: 17px;
  position: relative;
}

/* line 511, ../sass/_320.scss */
.post_sep:after {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  content: "";
  display: block;
  height: 17px;
}

/* line 520, ../sass/_320.scss */
.post_sep a,
.post_sep a:visited {
  background: #c8c7c7;
  position: absolute;
  height: 0;
  margin-left: -15px;
  overflow: hidden;
  padding-top: 30px;
  left: 50%;
  top: -8px;
  width: 30px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: inset rgba(68, 68, 68, 0.75) 0 1px 1px, #eeeeee 0 1px 1px;
  -webkit-box-shadow: inset rgba(68, 68, 68, 0.75) 0 1px 1px, #eeeeee 0 1px 1px;
  -o-box-shadow: inset rgba(68, 68, 68, 0.75) 0 1px 1px, #eeeeee 0 1px 1px;
  box-shadow: inset rgba(68, 68, 68, 0.75) 0 1px 1px, #eeeeee 0 1px 1px;
  behavior: url("/PIE.htc");
}

/* line 538, ../sass/_320.scss */
.post_sep a:hover,
.post_sep a:focus {
  background: #ccc;
  -moz-box-shadow: inset rgba(68, 68, 68, 0.85) 0 1px 1px, #eeeeee 0 1px 1px;
  -webkit-box-shadow: inset rgba(68, 68, 68, 0.85) 0 1px 1px, #eeeeee 0 1px 1px;
  -o-box-shadow: inset rgba(68, 68, 68, 0.85) 0 1px 1px, #eeeeee 0 1px 1px;
  box-shadow: inset rgba(68, 68, 68, 0.85) 0 1px 1px, #eeeeee 0 1px 1px;
  behavior: url("/PIE.htc");
}

/* line 546, ../sass/_320.scss */
.post_sep_inner a:active {
  margin-top: 1px;
  -moz-box-shadow: inset rgba(68, 68, 68, 0.85) 0 2px 1px, #eeeeee 0 1px 1px;
  -webkit-box-shadow: inset rgba(68, 68, 68, 0.85) 0 2px 1px, #eeeeee 0 1px 1px;
  -o-box-shadow: inset rgba(68, 68, 68, 0.85) 0 2px 1px, #eeeeee 0 1px 1px;
  box-shadow: inset rgba(68, 68, 68, 0.85) 0 2px 1px, #eeeeee 0 1px 1px;
  behavior: url("/PIE.htc");
}

/*------------------------------------------------------------------
Footer
------------------------------------------------------------------*/
/* line 558, ../sass/_320.scss */
footer {
  background: white url('../images/bg_diagonal_lines.png?1313758269') center;
  border-top: 1px solid #6caddf;
  clear: both;
  font-size: 16px;
  height: 70px;
  margin-top: -50px;
  overflow: hidden;
  position: relative;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px, rgba(0, 0, 0, 0.6) 0 0 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px, rgba(0, 0, 0, 0.6) 0 0 10px;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px, rgba(0, 0, 0, 0.6) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px, rgba(0, 0, 0, 0.6) 0 0 10px;
  text-shadow: white 0 1px 0;
  behavior: url("/PIE.htc");
}

/* line 574, ../sass/_320.scss */
.footer_wrap {
  background: #f0f0f0;
  height: 70px;
  padding: 0 20px 0 20px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background: -ms-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  -pie-background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
}

/* line 582, ../sass/_320.scss */
footer .copyright {
  clear: both;
  color: #666;
  font-size: 12px;
  padding-top: 18px;
  text-shadow: white 0 1px 0;
}

/* line 591, ../sass/_320.scss */
footer .footer_nav {
  float: left;
  font-size: 11px;
  padding-top: 6px;
  text-shadow: 0 1px 1px white;
}

/* line 598, ../sass/_320.scss */
footer .footer_nav li {
  float: left;
  border-right: 1px solid #6caddf;
  border-left: 1px solid #fff;
  padding: 0 8px 0 8px;
}

/* line 605, ../sass/_320.scss */
footer .footer_nav li:first-child {
  border-left: 0;
  padding-left: 0;
}

/* line 610, ../sass/_320.scss */
footer .footer_nav li:last-child {
  border-right: 0;
  padding-right: 0;
}

/* line 616, ../sass/_320.scss */
footer .footer_nav li a,
footer .footer_nav li a:visited {
  color: #6caddf;
}

/* line 622, ../sass/_320.scss */
footer .footer_nav li a:hover,
footer .footer_nav li a:focus,
footer .footer_nav li a:active {
  color: #6caddf;
  border-bottom: 1px dotted #6caddf;
}

/* line 631, ../sass/_320.scss */
.lastFMBody ul {
  border-top: 1px solid #ccc;
}

/* line 635, ../sass/_320.scss */
.lastFMBody ul .itemRow {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #fff;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #e6e6e6));
  background: -webkit-linear-gradient(#fafafa, #e6e6e6);
  background: -moz-linear-gradient(#fafafa, #e6e6e6);
  background: -o-linear-gradient(#fafafa, #e6e6e6);
  background: -ms-linear-gradient(#fafafa, #e6e6e6);
  -pie-background: linear-gradient(#fafafa, #e6e6e6);
  background: linear-gradient(#fafafa, #e6e6e6);
}

/* line 642, ../sass/_320.scss */
.lastFMBody ul .itemRow a {
  display: block;
  height: 79px;
  overflow: hidden;
  position: relative;
}

/* line 649, ../sass/_320.scss */
.lastFMBody ul .itemRow a .artWrap {
  background-repeat: no-repeat;
  background-size: 60px 60px;
  border: 1px solid #fff;
  color: #fff;
  height: 60px;
  left: 10px;
  position: absolute;
  top: 9px;
  width: 60px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 0 5px, inset rgba(0, 0, 0, 0.5) 0 0 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 0 5px, inset rgba(0, 0, 0, 0.5) 0 0 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 1px 0 5px, inset rgba(0, 0, 0, 0.5) 0 0 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 0 5px, inset rgba(0, 0, 0, 0.5) 0 0 2px;
}

/* line 664, ../sass/_320.scss */
.lastFMBody ul .itemRow a .artWrap img {
  display: block;
  height: 60px;
  width: 60px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 672, ../sass/_320.scss */
.lastFMBody ul .itemRow a .track_info {
  display: table;
  height: 79px;
  width: 100%;
}

/* line 678, ../sass/_320.scss */
.lastFMBody ul .itemRow a .track_info p {
  color: #444;
  display: table-cell;
  height: 79px;
  font-size: 14px;
  padding-left: 88px;
  padding-right: 15%;
  vertical-align: middle;
  text-shadow: white 0 1px 0;
}

/* line 691, ../sass/_320.scss */
.lastFMBody ul .itemRow a .track_info p .itemName,
.lastFMBody ul .itemRow a .track_info p .itemArtist {
  font-style: normal;
}

/* line 695, ../sass/_320.scss */
.lastFMBody ul .itemRow a .track_info p .itemName {
  font-weight: bold;
}

/* line 703, ../sass/_320.scss */
.progress_bar {
  background: #f2f2f2 url('../images/bg_noise_transparent.png?1313758269') center;
  border: 1px solid #fff;
  height: 24px;
  position: relative;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.55) 0 0 5px, inset rgba(0, 0, 0, 0.55) 0 0 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.55) 0 0 5px, inset rgba(0, 0, 0, 0.55) 0 0 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.55) 0 0 5px, inset rgba(0, 0, 0, 0.55) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.55) 0 0 5px, inset rgba(0, 0, 0, 0.55) 0 0 5px;
}

/* line 713, ../sass/_320.scss */
.progress_bar:after {
  background: #68afe5;
  content: "";
  display: block;
  height: 20px;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 50%;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99ccf5), color-stop(100%, #81b5dc));
  background: -webkit-linear-gradient(#99ccf5, #81b5dc);
  background: -moz-linear-gradient(#99ccf5, #81b5dc);
  background: -o-linear-gradient(#99ccf5, #81b5dc);
  background: -ms-linear-gradient(#99ccf5, #81b5dc);
  -pie-background: linear-gradient(#99ccf5, #81b5dc);
  background: linear-gradient(#99ccf5, #81b5dc);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.3) 0 -1px 1px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.3) 0 -1px 1px;
  -o-box-shadow: inset rgba(0, 0, 0, 0.3) 0 -1px 1px;
  box-shadow: inset rgba(0, 0, 0, 0.3) 0 -1px 1px;
}

/* line 728, ../sass/_320.scss */
.progress_bar em {
  font-size: 10px;
  font-style: normal;
  line-height: 24px;
  margin-left: 10px;
}

/* line 739, ../sass/_320.scss */
.twitterHeader {
  display: none;
}

@media only screen and (min-width: 480px) {
  /* line 1, ../sass/_480.scss */
  footer .footer_nav {
    display: block;
    float: right;
    font-size: 12px;
    padding-top: 28px;
  }

  /* line 8, ../sass/_480.scss */
  footer .copyright {
    clear: none;
    float: left;
    padding-top: 28px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 1, ../sass/_768.scss */
  #page_content {
    padding-top: 18px;
  }

  /* line 5, ../sass/_768.scss */
  .before_header {
    background: transparent;
    border: 0;
    display: block;
    height: 34px;
    color: #777;
    font-weight: normal;
    padding-left: 3%;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    text-shadow: white 0 1px 0;
  }

  /* line 20, ../sass/_768.scss */
  .before_header .charter {
    font-size: 10px;
    padding-bottom: 18px;
    margin: 0;
  }

  /* line 26, ../sass/_768.scss */
  .before_header ul {
    display: block;
    margin-right: 3%;
    position: absolute;
    right: 0;
    top: -18px;
  }

  /* line 34, ../sass/_768.scss */
  .before_header ul li {
    float: left;
    margin-top: -14px;
  }

  /* line 39, ../sass/_768.scss */
  .before_header ul li a {
    background: url("../images/png_master_sprite.png");
    display: block;
    height: 0;
    overflow: hidden;
    padding-top: 42px;
    position: relative;
    width: 28px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
    -moz-transition-property: margin;
    -webkit-transition-property: margin;
    -o-transition-property: margin;
    transition-property: margin;
    -moz-transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  /* line 54, ../sass/_768.scss */
  .before_header ul li a:hover {
    margin-top: 3px;
    opacity: 1;
  }

  /* line 59, ../sass/_768.scss */
  .before_header ul li.linkedin a {
    background-position: -85px 0px;
  }

  /* line 60, ../sass/_768.scss */
  .before_header ul li.facebook a {
    background-position: -114px 0px;
  }

  /* line 61, ../sass/_768.scss */
  .before_header ul li.flickr a {
    background-position: -143px 0px;
  }

  /* line 62, ../sass/_768.scss */
  .before_header ul li.twitter a {
    background-position: -172px 0px;
  }

  /* line 63, ../sass/_768.scss */
  .before_header ul li.last_fm a {
    background-position: -201px 0px;
  }

  /* line 64, ../sass/_768.scss */
  .before_header ul li.dribbble a {
    background-position: -230px 0px;
  }

  /* line 66, ../sass/_768.scss */
  .before_header ul li.linkedin a:hover {
    background-position: -85px -48px;
  }

  /* line 67, ../sass/_768.scss */
  .before_header ul li.facebook a:hover {
    background-position: -114px -48px;
  }

  /* line 68, ../sass/_768.scss */
  .before_header ul li.flickr a:hover {
    background-position: -143px -48px;
  }

  /* line 69, ../sass/_768.scss */
  .before_header ul li.twitter a:hover {
    background-position: -172px -48px;
  }

  /* line 70, ../sass/_768.scss */
  .before_header ul li.last_fm a:hover {
    background-position: -201px -48px;
  }

  /* line 71, ../sass/_768.scss */
  .before_header ul li.dribbble a:hover {
    background-position: -230px -48px;
  }

  /* line 73, ../sass/_768.scss */
  .navigation {
    height: 50px;
    padding: 0 3%;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    background: -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    background: -o-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    background: -ms-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    -pie-background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    behavior: url("/PIE.htc");
    position: relative;
  }

  /* line 83, ../sass/_768.scss */
  .navigation nav ul.left,
  .navigation nav ul.right {
    padding: 10px 0 0 0;
    text-align: center;
    width: 40%;
  }

  /* line 89, ../sass/_768.scss */
  .navigation nav ul.left {
    float: left;
    margin-left: -2px;
  }

  /* line 91, ../sass/_768.scss */
  .navigation nav ul.right {
    float: right;
    margin-right: -3px;
  }

  /* line 98, ../sass/_768.scss */
  .navigation .max_width nav ul.left li.nav_1,
  .navigation .max_width nav ul.left li.nav_2,
  .navigation .max_width nav ul.left li.nav_3,
  .navigation .max_width nav ul.right li.nav_4,
  .navigation .max_width nav ul.right li.nav_5,
  .navigation .max_width nav ul.right li.nav_6 {
    border: 0;
    display: block;
    float: left;
  }

  /* line 104, ../sass/_768.scss */
  .navigation .max_width nav ul.left li.nav_1 {
    width: 33.33%;
  }

  /* line 105, ../sass/_768.scss */
  .navigation .max_width nav ul.left li.nav_2 {
    width: 33.33%;
  }

  /* line 106, ../sass/_768.scss */
  .navigation .max_width nav ul.left li.nav_3 {
    width: 33.33%;
  }

  /* line 107, ../sass/_768.scss */
  .navigation .max_width nav ul.right li.nav_4 {
    width: 31%;
  }

  /* line 108, ../sass/_768.scss */
  .navigation .max_width nav ul.right li.nav_5 {
    width: 33%;
  }

  /* line 109, ../sass/_768.scss */
  .navigation .max_width nav ul.right li.nav_6 {
    width: 36%;
  }

  /* line 116, ../sass/_768.scss */
  .navigation .max_width nav ul.left li.nav_1 a,
  .navigation .max_width nav ul.left li.nav_2 a,
  .navigation .max_width nav ul.left li.nav_3 a,
  .navigation .max_width nav ul.right li.nav_4 a,
  .navigation .max_width nav ul.right li.nav_5 a,
  .navigation .max_width nav ul.right li.nav_6 a {
    background: #eee;
    border: 1px solid #fff;
    display: block;
    font-size: 14px;
    height: 30px;
    letter-spacing: 0;
    line-height: 33px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(45%, #ffffff), color-stop(65%, #f0f0f0));
    background: -webkit-linear-gradient(#ffffff 45%, #f0f0f0 65%);
    background: -moz-linear-gradient(#ffffff 45%, #f0f0f0 65%);
    background: -o-linear-gradient(#ffffff 45%, #f0f0f0 65%);
    background: -ms-linear-gradient(#ffffff 45%, #f0f0f0 65%);
    -pie-background: linear-gradient(#ffffff 45%, #f0f0f0 65%);
    background: linear-gradient(#ffffff 45%, #f0f0f0 65%);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: inset #a2a2a2 0 1px 3px, #f0f0f0 0 1px 0px;
    -webkit-box-shadow: inset #a2a2a2 0 1px 3px, #f0f0f0 0 1px 0px;
    -o-box-shadow: inset #a2a2a2 0 1px 3px, #f0f0f0 0 1px 0px;
    box-shadow: inset #a2a2a2 0 1px 3px, #f0f0f0 0 1px 0px;
    behavior: url("/PIE.htc");
    position: relative;
  }

  /* line 140, ../sass/_768.scss */
  .navigation .max_width nav ul.left li.nav_1 a:hover,
  .navigation .max_width nav ul.left li.nav_2 a:hover,
  .navigation .max_width nav ul.left li.nav_3 a:hover,
  .navigation .max_width nav ul.right li.nav_4 a:hover,
  .navigation .max_width nav ul.right li.nav_5 a:hover,
  .navigation .max_width nav ul.right li.nav_6 a:hover {
    background: #ccc;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(45%, #f5f5f5), color-stop(65%, #e6e6e6));
    background: -webkit-linear-gradient(#f5f5f5 45%, #e6e6e6 65%);
    background: -moz-linear-gradient(#f5f5f5 45%, #e6e6e6 65%);
    background: -o-linear-gradient(#f5f5f5 45%, #e6e6e6 65%);
    background: -ms-linear-gradient(#f5f5f5 45%, #e6e6e6 65%);
    -pie-background: linear-gradient(#f5f5f5 45%, #e6e6e6 65%);
    background: linear-gradient(#f5f5f5 45%, #e6e6e6 65%);
    behavior: url("/PIE.htc");
    position: relative;
  }

  /* line 153, ../sass/_768.scss */
  .navigation .max_width nav ul.left li.nav_1 a:active,
  .navigation .max_width nav ul.left li.nav_2 a:active,
  .navigation .max_width nav ul.left li.nav_3 a:active,
  .navigation .max_width nav ul.right li.nav_4 a:active,
  .navigation .max_width nav ul.right li.nav_5 a:active,
  .navigation .max_width nav ul.right li.nav_6 a:active {
    background: #ddd;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(45%, #ebebeb), color-stop(65%, #dcdcdc));
    background: -webkit-linear-gradient(#ebebeb 45%, #dcdcdc 65%);
    background: -moz-linear-gradient(#ebebeb 45%, #dcdcdc 65%);
    background: -o-linear-gradient(#ebebeb 45%, #dcdcdc 65%);
    background: -ms-linear-gradient(#ebebeb 45%, #dcdcdc 65%);
    -pie-background: linear-gradient(#ebebeb 45%, #dcdcdc 65%);
    background: linear-gradient(#ebebeb 45%, #dcdcdc 65%);
    behavior: url("/PIE.htc");
    position: relative;
  }

  /* line 161, ../sass/_768.scss */
  .navigation .max_width nav ul.left li.nav_1 a {
    float: left;
    width: 65px;
  }

  /* line 162, ../sass/_768.scss */
  .navigation .max_width nav ul.left li.nav_2 a {
    margin: 0 auto;
    width: 71px;
  }

  /* line 163, ../sass/_768.scss */
  .navigation .max_width nav ul.left li.nav_3 a {
    float: right;
    width: 66px;
  }

  /* line 164, ../sass/_768.scss */
  .navigation .max_width nav ul.right li.nav_4 a {
    float: left;
    width: 74px;
  }

  /* line 165, ../sass/_768.scss */
  .navigation .max_width nav ul.right li.nav_5 a {
    margin: 0 auto;
    width: 61px;
  }

  /* line 166, ../sass/_768.scss */
  .navigation .max_width nav ul.right li.nav_6 a {
    float: right;
    width: 90px;
  }

  /* line 189, ../sass/_768.scss */
  body.home .navigation nav .left li.nav_1 a,
  body.page-about .navigation nav .left li.nav_2 a,
  body.post-type-archive-work .navigation nav .left li.nav_3 a,
  body.single-work .navigation nav .left li.nav_3 a,
  body.post-type-archive-goods .navigation nav .right li.nav_4 a,
  body.single-goods .navigation nav .right li.nav_4 a,
  body.post-type-archive-blog .navigation nav .right li.nav_5 a,
  body.single-blog .navigation nav .right li.nav_5 a,
  body.page-blog .navigation nav .right li.nav_5 a,
  body.single-post .navigation nav .right li.nav_5 a,
  body.page-contact .navigation nav .right li.nav_6 a,
  body.home .navigation nav .left li.nav_1 a:hover,
  body.page-about .navigation nav .left li.nav_2 a:hover,
  body.post-type-archive-work .navigation nav .left li.nav_3 a:hover,
  body.single-work .navigation nav .left li.nav_3 a:hover,
  body.post-type-archive-goods .navigation nav .right li.nav_4 a:hover,
  body.single-goods .navigation nav .right li.nav_4 a:hover,
  body.post-type-archive-blog .navigation nav .right li.nav_5 a:hover,
  body.single-blog .navigation nav .right li.nav_5 a:hover,
  body.page-blog .navigation nav .right li.nav_5 a:hover,
  body.single-post .navigation nav .right li.nav_5 a:hover,
  body.page-contact .navigation nav .right li.nav_6 a:hover {
    height: 30px;
    padding: 0;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(45%, rgba(134, 198, 247, 0.8)), color-stop(65%, rgba(108, 173, 223, 0.8)));
    background: -webkit-linear-gradient(rgba(134, 198, 247, 0.8) 45%, rgba(108, 173, 223, 0.8) 65%);
    background: -moz-linear-gradient(rgba(134, 198, 247, 0.8) 45%, rgba(108, 173, 223, 0.8) 65%);
    background: -o-linear-gradient(rgba(134, 198, 247, 0.8) 45%, rgba(108, 173, 223, 0.8) 65%);
    background: -ms-linear-gradient(rgba(134, 198, 247, 0.8) 45%, rgba(108, 173, 223, 0.8) 65%);
    -pie-background: linear-gradient(rgba(134, 198, 247, 0.8) 45%, rgba(108, 173, 223, 0.8) 65%);
    background: linear-gradient(rgba(134, 198, 247, 0.8) 45%, rgba(108, 173, 223, 0.8) 65%);
    -moz-box-shadow: inset #486e8c 0 1px 3px, inset rgba(72, 110, 140, 0.2) 0 3px 3px;
    -webkit-box-shadow: inset #486e8c 0 1px 3px, inset rgba(72, 110, 140, 0.2) 0 3px 3px;
    -o-box-shadow: inset #486e8c 0 1px 3px, inset rgba(72, 110, 140, 0.2) 0 3px 3px;
    box-shadow: inset #486e8c 0 1px 3px, inset rgba(72, 110, 140, 0.2) 0 3px 3px;
    text-shadow: #335d7d 0 1px 1px, rgba(51, 93, 125, 0.75) 0 0 10px;
  }

  /*------------------------------------------------------------------
  Main Content
  ------------------------------------------------------------------*/
  /* line 202, ../sass/_768.scss */
  .main_content_outer {
    padding-left: 3%;
    padding-right: 3%;
  }

  /* line 207, ../sass/_768.scss */
  .main_content {
    background: #e2e2e2;
    background: rgba(255, 255, 255, 0.5);
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
    behavior: url("/PIE.htc");
    position: relative;
  }

  /*------------------------------------------------------------------
  Footer
  ------------------------------------------------------------------*/
  /* line 220, ../sass/_768.scss */
  .footer_wrap {
    padding: 0 3% 0 3%;
  }

  /* line 228, ../sass/_768.scss */
  .lastFMBody ul {
    border-top: none;
  }

  /* line 232, ../sass/_768.scss */
  .lastFMBody ul .itemRow {
    background: none;
    border: none;
    float: left;
    height: 132px;
    margin: 50px;
    position: relative;
    width: 132px;
  }

  /* line 242, ../sass/_768.scss */
  .lastFMBody ul .itemRow a {
    display: block;
    height: 122px;
    left: 5px;
    overflow: visible;
    position: relative;
    top: 5px;
    width: 122px;
  }

  /* line 252, ../sass/_768.scss */
  .lastFMBody ul .itemRow a .artWrap {
    background-repeat: no-repeat;
    background-size: 120px 120px;
    border: 1px solid #fff;
    color: #fff;
    height: 120px;
    top: 0;
    left: 0;
    position: relative;
    width: 120px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 0 5px, inset rgba(0, 0, 0, 0.5) 0 0 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 0 5px, inset rgba(0, 0, 0, 0.5) 0 0 2px;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 1px 0 5px, inset rgba(0, 0, 0, 0.5) 0 0 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 0 5px, inset rgba(0, 0, 0, 0.5) 0 0 2px;
  }

  /* line 267, ../sass/_768.scss */
  .lastFMBody ul .itemRow a .artWrap:before {
    background: url('../images/overlay_album_shine.png?1313758269');
    content: "";
    height: 120px;
    left: 0;
    position: absolute;
    top: 0;
    width: 120px;
    z-index: 1;
  }

  /* line 278, ../sass/_768.scss */
  .lastFMBody ul .itemRow a .artWrap img {
    height: 120px;
    width: 120px;
  }

  /* line 283, ../sass/_768.scss */
  .lastFMBody ul .itemRow a .track_info {
    background: rgba(0, 0, 0, 0.7);
    left: 6px;
    overflow: hidden;
    position: absolute;
    top: 6px;
    height: 120px;
    width: 120px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  /* line 295, ../sass/_768.scss */
  .lastFMBody ul .itemRow a .track_info p {
    color: #fff;
    height: 120px;
    padding: 0;
    text-align: center;
    width: 120px;
  }

  /* line 304, ../sass/_768.scss */
  .lastFMBody ul .itemRow a .track_info p .itemName,
  .lastFMBody ul .itemRow a .track_info p .itemArtist {
    display: block;
    font-size: 11px;
    font-weight: normal;
    overflow: hidden;
    padding: 0 12px;
    text-align: center;
    text-shadow: black 0 1px 0;
  }

  /* line 315, ../sass/_768.scss */
  .lastFMBody ul .itemRow a .track_info p .itemName {
    height: 50px;
  }

  /* line 320, ../sass/_768.scss */
  .lastFMBody ul .itemRow a:hover {
    left: 0;
    top: 0;
  }

  /* line 325, ../sass/_768.scss */
  .lastFMBody ul .itemRow a:hover .artWrap {
    border: 6px solid #4ab0ff;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 0 5px, #6caddf 0 0 1px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 1px 0 5px, #6caddf 0 0 1px;
    -o-box-shadow: rgba(0, 0, 0, 0.5) 1px 0 5px, #6caddf 0 0 1px;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 0 5px, #6caddf 0 0 1px;
  }

  /* line 331, ../sass/_768.scss */
  .lastFMBody ul .itemRow a:hover .track_info {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -moz-transition-property: opacity;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
}
@media only screen and (min-width: 992px) {
  /* line 4, ../sass/_992.scss */
  .main_content_outer,
  .before_header,
  .navigation,
  .footer_wrap {
    padding-left: 5%;
    padding-right: 5%;
  }

  /* line 9, ../sass/_992.scss */
  .before_header ul {
    margin-right: 5%;
  }
}
@media only screen and (min-width: 1150px) {
  /* line 4, ../sass/_1150.scss */
  .logo_wrap,
  .main_content_outer,
  .navigation,
  .footer_wrap {
    padding-left: 7%;
    padding-right: 7%;
  }

  /* line 9, ../sass/_1150.scss */
  .max_width {
    margin: 0 auto;
    max-width: 1200px;
  }

  /* line 17, ../sass/_1150.scss */
  .logo_wrap {
    margin: 0 auto;
    max-width: 1200px;
  }

  /* line 22, ../sass/_1150.scss */
  .logo_inner_wrap {
    position: relative;
  }

  /* line 26, ../sass/_1150.scss */
  h1 {
    top: 23px;
    left: 0;
    margin-right: 0;
  }

  /* line 32, ../sass/_1150.scss */
  .navigation .max_width nav {
    float: right;
    margin-right: -2px;
  }

  /* line 37, ../sass/_1150.scss */
  .navigation nav ul.left {
    margin-left: 0;
    width: 223px;
  }

  /* line 42, ../sass/_1150.scss */
  .navigation nav ul.right {
    margin-right: 0;
    width: 241px;
  }

  /* line 47, ../sass/_1150.scss */
  .navigation .max_width nav ul.left li.nav_1 {
    margin-right: 7px;
    width: 65px;
  }

  /* line 48, ../sass/_1150.scss */
  .navigation .max_width nav ul.left li.nav_2 {
    margin-right: 7px;
    width: 71px;
  }

  /* line 49, ../sass/_1150.scss */
  .navigation .max_width nav ul.left li.nav_3 {
    width: 66px;
  }

  /* line 50, ../sass/_1150.scss */
  .navigation .max_width nav ul.right li.nav_4 {
    margin-right: 7px;
    width: 74px;
  }

  /* line 51, ../sass/_1150.scss */
  .navigation .max_width nav ul.right li.nav_5 {
    margin-right: 7px;
    width: 61px;
  }

  /* line 52, ../sass/_1150.scss */
  .navigation .max_width nav ul.right li.nav_6 {
    width: 90px;
  }

  /* line 59, ../sass/_1150.scss */
  .navigation .max_width nav ul.left li.nav_1 a,
  .navigation .max_width nav ul.left li.nav_2 a,
  .navigation .max_width nav ul.left li.nav_3 a,
  .navigation .max_width nav ul.right li.nav_4 a,
  .navigation .max_width nav ul.right li.nav_5 a,
  .navigation .max_width nav ul.right li.nav_6 a {
    float: left;
  }

  /* line 63, ../sass/_1150.scss */
  .before_header {
    padding: 0 7%;
    max-width: 1200px;
    margin: 0 auto;
  }

  /* line 69, ../sass/_1150.scss */
  .before_header .charter {
    line-height: 16px;
  }

  /* line 73, ../sass/_1150.scss */
  .before_header ul {
    float: right;
    position: relative;
    margin-right: -2px;
  }

  /* line 79, ../sass/_1150.scss */
  .before_header_inner {
    position: relative;
  }

  /* line 83, ../sass/_1150.scss */
  .charter {
    font-size: 11px;
    position: absolute;
    left: 63px;
    top: 54px;
  }
}
