/* line 1, ../sass/_reset.scss */
html, body {
  height: 100%;
}

/* line 1, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 1, ../sass/_reset.scss */
body {
  line-height: 1em;
}

/* line 1, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 1, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 1, ../sass/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 1, ../sass/_reset.scss */
:focus {
  outline: 0;
}

/* line 1, ../sass/_reset.scss */
ins {
  text-decoration: none;
}

/* line 1, ../sass/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 1, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/_reset.scss */
a {
  text-decoration: none;
}

/* line 1, ../sass/_reset.scss */
input, textarea {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

/* line 3, ../sass/_reset.scss */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 5, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 9, ../sass/_reset.scss */
* {
  -webkit-appearance: none;
  -webkit-text-size-adjust: none;
}

/* line 5, ../sass/_320.scss */
html {
  background: #eeeeee url('../images/bg_light_source.jpg?1311391074') top no-repeat;
  font-family: "Helvetica Neue", Arial, sans-serif;
  overflow-y: scroll;
}

/* line 12, ../sass/_320.scss */
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

/* line 21, ../sass/_320.scss */
a,
a:visited {
  color: #6caddf;
}

/* line 29, ../sass/_320.scss */
#page_wrap {
  background: url('../images/bg_noise_transparent.png?1311391074') center;
  min-height: 100%;
}

/* line 34, ../sass/_320.scss */
#page_content {
  overflow: auto;
  padding-bottom: 50px;
}

/* line 42, ../sass/_320.scss */
.before_header {
  background: #666;
  border-bottom: 1px solid #444;
  display: block;
  color: #f0f0f0;
  font-size: 10px;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 101;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #707070), color-stop(100%, #5c5c5c));
  background: -webkit-linear-gradient(#707070, #5c5c5c);
  background: -moz-linear-gradient(#707070, #5c5c5c);
  background: -o-linear-gradient(#707070, #5c5c5c);
  background: -ms-linear-gradient(#707070, #5c5c5c);
  -pie-background: linear-gradient(#707070, #5c5c5c);
  background: linear-gradient(#707070, #5c5c5c);
  text-shadow: black 0 -1px 1px;
}

/* line 60, ../sass/_320.scss */
.before_header ul {
  display: none;
}

/* line 64, ../sass/_320.scss */
header {
  background: white url('../images/bg_diagonal_lines.png?1311391074') center;
  position: relative;
}

/* line 69, ../sass/_320.scss */
h1 {
  cursor: pointer;
  height: 90px;
  left: 50%;
  margin: -50px 0 0 -50px;
  position: absolute;
  top: 50%;
  width: 90px;
  z-index: 101;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  -o-border-radius: 80px;
  -ms-border-radius: 80px;
  -khtml-border-radius: 80px;
  border-radius: 80px;
  behavior: url("/PIE.htc");
}

/* line 84, ../sass/_320.scss */
h1 a {
  background: #fff;
  display: block;
  height: 100px;
  overflow: hidden;
  position: relative;
  text-indent: -6666px;
  width: 100px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(#ffffff, #dddddd);
  background: -moz-linear-gradient(#ffffff, #dddddd);
  background: -o-linear-gradient(#ffffff, #dddddd);
  background: -ms-linear-gradient(#ffffff, #dddddd);
  -pie-background: linear-gradient(#ffffff, #dddddd);
  background: linear-gradient(#ffffff, #dddddd);
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  -o-border-radius: 80px;
  -ms-border-radius: 80px;
  -khtml-border-radius: 80px;
  border-radius: 80px;
  -moz-box-shadow: rgba(34, 34, 34, 0.7) 0 5px 5px, rgba(34, 34, 34, 0.2) 0 0 5px;
  -webkit-box-shadow: rgba(34, 34, 34, 0.7) 0 5px 5px, rgba(34, 34, 34, 0.2) 0 0 5px;
  -o-box-shadow: rgba(34, 34, 34, 0.7) 0 5px 5px, rgba(34, 34, 34, 0.2) 0 0 5px;
  box-shadow: rgba(34, 34, 34, 0.7) 0 5px 5px, rgba(34, 34, 34, 0.2) 0 0 5px;
  behavior: url("/PIE.htc");
  position: relative;
}

/* line 101, ../sass/_320.scss */
h1 a:hover,
h1 a:focus {
  background: #f0f0f0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #c8c8c8));
  background: -webkit-linear-gradient(#ffffff, #c8c8c8);
  background: -moz-linear-gradient(#ffffff, #c8c8c8);
  background: -o-linear-gradient(#ffffff, #c8c8c8);
  background: -ms-linear-gradient(#ffffff, #c8c8c8);
  -pie-background: linear-gradient(#ffffff, #c8c8c8);
  background: linear-gradient(#ffffff, #c8c8c8);
  -moz-box-shadow: rgba(34, 34, 34, 0.7) 0 5px 5px, rgba(34, 34, 34, 0.2) 0 0 5px, rgba(108, 173, 223, 0.5) 2px 4px 20px, rgba(108, 173, 223, 0.25) -9px -4px 20px;
  -webkit-box-shadow: rgba(34, 34, 34, 0.7) 0 5px 5px, rgba(34, 34, 34, 0.2) 0 0 5px, rgba(108, 173, 223, 0.5) 2px 4px 20px, rgba(108, 173, 223, 0.25) -9px -4px 20px;
  -o-box-shadow: rgba(34, 34, 34, 0.7) 0 5px 5px, rgba(34, 34, 34, 0.2) 0 0 5px, rgba(108, 173, 223, 0.5) 2px 4px 20px, rgba(108, 173, 223, 0.25) -9px -4px 20px;
  box-shadow: rgba(34, 34, 34, 0.7) 0 5px 5px, rgba(34, 34, 34, 0.2) 0 0 5px, rgba(108, 173, 223, 0.5) 2px 4px 20px, rgba(108, 173, 223, 0.25) -9px -4px 20px;
  -moz-transition-property: box-shadow;
  -webkit-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  behavior: url("/PIE.htc");
  position: relative;
}

/* line 113, ../sass/_320.scss */
h1 a:active {
  margin-top: 1px;
  -moz-box-shadow: rgba(34, 34, 34, 0.7) 0 3px 3px, rgba(34, 34, 34, 0.1) 0 0 5px, rgba(108, 173, 223, 0.65) 2px 4px 25px, rgba(108, 173, 223, 0.25) 2px -4px 25px, rgba(108, 173, 223, 0.1) 0 0 40px, rgba(108, 173, 223, 0.4) -9px -4px 30px;
  -webkit-box-shadow: rgba(34, 34, 34, 0.7) 0 3px 3px, rgba(34, 34, 34, 0.1) 0 0 5px, rgba(108, 173, 223, 0.65) 2px 4px 25px, rgba(108, 173, 223, 0.25) 2px -4px 25px, rgba(108, 173, 223, 0.1) 0 0 40px, rgba(108, 173, 223, 0.4) -9px -4px 30px;
  -o-box-shadow: rgba(34, 34, 34, 0.7) 0 3px 3px, rgba(34, 34, 34, 0.1) 0 0 5px, rgba(108, 173, 223, 0.65) 2px 4px 25px, rgba(108, 173, 223, 0.25) 2px -4px 25px, rgba(108, 173, 223, 0.1) 0 0 40px, rgba(108, 173, 223, 0.4) -9px -4px 30px;
  box-shadow: rgba(34, 34, 34, 0.7) 0 3px 3px, rgba(34, 34, 34, 0.1) 0 0 5px, rgba(108, 173, 223, 0.65) 2px 4px 25px, rgba(108, 173, 223, 0.25) 2px -4px 25px, rgba(108, 173, 223, 0.1) 0 0 40px, rgba(108, 173, 223, 0.4) -9px -4px 30px;
  -moz-transition-property: box-shadow;
  -webkit-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  -moz-transition-duration: 0.01s;
  -webkit-transition-duration: 0.01s;
  -o-transition-duration: 0.01s;
  transition-duration: 0.01s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  behavior: url("/PIE.htc");
  position: relative;
}

/* line 124, ../sass/_320.scss */
h1 a span {
  background: url('../images/png_master_sprite.png?1311391074') 18px 31px;
  display: block;
  position: relative;
  height: 100px;
  width: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  -khtml-border-radius: 50px;
  border-radius: 50px;
  behavior: url("/PIE.htc");
  position: relative;
}

/* line 141, ../sass/_320.scss */
.navigation {
  border-top: 1px solid #6caddf;
  border-bottom: 1px solid #6caddf;
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 50px;
  overflow: hidden;
  text-transform: uppercase;
  z-index: 100;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px, rgba(0, 0, 0, 0.6) 0 0 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px, rgba(0, 0, 0, 0.6) 0 0 10px;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px, rgba(0, 0, 0, 0.6) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px, rgba(0, 0, 0, 0.6) 0 0 10px;
  text-shadow: white 0 1px 1px;
  behavior: url("/PIE.htc");
  position: relative;
}

/* line 160, ../sass/_320.scss */
.navigation nav ul {
  display: block;
  overflow: hidden;
  width: 50%;
}

/* line 166, ../sass/_320.scss */
.navigation nav .left {
  float: left;
}

/* line 170, ../sass/_320.scss */
.navigation nav .right {
  float: right;
  text-align: right;
}

/* line 175, ../sass/_320.scss */
.navigation nav ul li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #c9c9c9;
}

/* line 180, ../sass/_320.scss */
.navigation nav .left li {
  border-right: 1px solid #c9c9c9;
}

/* line 184, ../sass/_320.scss */
.navigation nav .right li {
  border-left: 1px solid #fff;
}

/* line 189, ../sass/_320.scss */
.navigation nav ul .nav_1,
.navigation nav ul .nav_4 {
  border-top: 0;
}

/* line 194, ../sass/_320.scss */
.navigation nav ul .nav_3,
.navigation nav ul .nav_6 {
  border-bottom: 0;
}

/* line 199, ../sass/_320.scss */
.navigation nav ul li a,
.navigation nav ul li a:visited {
  background: #f0f0f0;
  display: block;
  height: 50px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background: -ms-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  -pie-background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  text-shadow: white 0 1px 1px;
}

/* line 209, ../sass/_320.scss */
.navigation nav ul li a:hover,
.navigation nav ul li a:focus {
  background-color: #e2e2e2;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.15));
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.15));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.15));
  background: -ms-linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.15));
  -pie-background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.15));
  background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.15));
}

/* line 215, ../sass/_320.scss */
.navigation nav ul li a:active {
  height: 49px;
  padding-top: 1px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(255, 255, 255, 0.15)));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.15));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.15));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.15));
  background: -ms-linear-gradient(rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.15));
  -pie-background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.15));
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.15));
}

/* line 222, ../sass/_320.scss */
.navigation nav .left li a {
  padding-left: 20px;
}

/* line 226, ../sass/_320.scss */
.navigation nav .right li a {
  padding-right: 20px;
}

/* line 251, ../sass/_320.scss */
body.home .navigation nav .left li.nav_1 a,
body.page-about .navigation nav .left li.nav_2 a,
body.post-type-archive-work .navigation nav .left li.nav_3 a,
body.single-work .navigation nav .left li.nav_3 a,
body.post-type-archive-goods .navigation nav .right li.nav_4 a,
body.single-goods .navigation nav .right li.nav_4 a,
body.post-type-archive-blog .navigation nav .right li.nav_5 a,
body.single-blog .navigation nav .right li.nav_5 a,
body.page-blog .navigation nav .right li.nav_5 a,
body.single-post .navigation nav .right li.nav_5 a,
body.page-contact .navigation nav .right li.nav_6 a,
body.home .navigation nav .left li.nav_1 a:hover,
body.page-about .navigation nav .left li.nav_2 a:hover,
body.post-type-archive-work .navigation nav .left li.nav_3 a:hover,
body.single-work .navigation nav .left li.nav_3 a:hover,
body.post-type-archive-goods .navigation nav .right li.nav_4 a:hover,
body.single-goods .navigation nav .right li.nav_4 a:hover,
body.post-type-archive-blog .navigation nav .right li.nav_5 a:hover,
body.single-blog .navigation nav .right li.nav_5 a:hover,
body.page-blog .navigation nav .right li.nav_5 a:hover,
body.single-post .navigation nav .right li.nav_5 a:hover,
body.page-contact .navigation nav .right li.nav_6 a:hover {
  background: #6caddf;
  color: #fff;
  height: 48px;
  padding-top: 2px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(134, 198, 247, 0.7)), color-stop(100%, rgba(108, 173, 223, 0.7)));
  background: -webkit-linear-gradient(rgba(134, 198, 247, 0.7), rgba(108, 173, 223, 0.7));
  background: -moz-linear-gradient(rgba(134, 198, 247, 0.7), rgba(108, 173, 223, 0.7));
  background: -o-linear-gradient(rgba(134, 198, 247, 0.7), rgba(108, 173, 223, 0.7));
  background: -ms-linear-gradient(rgba(134, 198, 247, 0.7), rgba(108, 173, 223, 0.7));
  -pie-background: linear-gradient(rgba(134, 198, 247, 0.7), rgba(108, 173, 223, 0.7));
  background: linear-gradient(rgba(134, 198, 247, 0.7), rgba(108, 173, 223, 0.7));
  -moz-box-shadow: inset rgba(72, 110, 140, 0.8) 0 1px 3px, inset rgba(72, 110, 140, 0.2) 0 3px 3px;
  -webkit-box-shadow: inset rgba(72, 110, 140, 0.8) 0 1px 3px, inset rgba(72, 110, 140, 0.2) 0 3px 3px;
  -o-box-shadow: inset rgba(72, 110, 140, 0.8) 0 1px 3px, inset rgba(72, 110, 140, 0.2) 0 3px 3px;
  box-shadow: inset rgba(72, 110, 140, 0.8) 0 1px 3px, inset rgba(72, 110, 140, 0.2) 0 3px 3px;
  text-shadow: #335d7d 0 1px 1px, rgba(51, 93, 125, 0.75) 0 0 10px;
  behavior: url("/PIE.htc");
  position: relative;
}

/* this changes the height of the master slideshow.*/
/* line 269, ../sass/_320.scss */
.dummy_slide {
  height: 400px;
  width: 100%;
  visibility: hidden;
}

/* line 275, ../sass/_320.scss */
.hero_slider_wrap {
  position: relative;
}

/* line 279, ../sass/_320.scss */
.hero_slider li {
  display: block;
}

/* line 284, ../sass/_320.scss */
.hero_slider li .slide_wrap,
.hero_slider li .slide_inner_wrap {
  height: 400px;
}

/* line 288, ../sass/_320.scss */
.hero_slider li .slide_wrap {
  border-bottom: 3px #fff solid;
}

/* line 292, ../sass/_320.scss */
.hero_slider li .slide_inner_wrap {
  border-bottom: 1px #ccc solid;
}

/* line 296, ../sass/_320.scss */
.hero_slider {
  width: auto !important;
  position: relative !important;
  overflow: visible !important;
}

/* line 301, ../sass/_320.scss */
.hero_slider .pane {
  width: auto !important;
  position: relative !important;
  height: 0 !important;
}

/* line 307, ../sass/_320.scss */
.hero_slider .slide_wrap {
  background: url('../images/bg_pattern_square.jpg?1311391074') center;
}

/* line 309, ../sass/_320.scss */
.hero_slider .slide_wrap .slide_inner_wrap {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(42, 83, 114, 0.3)));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(42, 83, 114, 0.3));
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.3), rgba(42, 83, 114, 0.3));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(42, 83, 114, 0.3));
  background: -ms-linear-gradient(rgba(255, 255, 255, 0.3), rgba(42, 83, 114, 0.3));
  -pie-background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(42, 83, 114, 0.3));
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(42, 83, 114, 0.3));
}

/* line 311, ../sass/_320.scss */
.hero_slider .second .slide_wrap {
  background: url('../images/bg_pattern_squiggle.jpg?1311391074') center;
}

/* line 313, ../sass/_320.scss */
.hero_slider .second .slide_wrap .slide_inner_wrap {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(75, 76, 77, 0.3)));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(75, 76, 77, 0.3));
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.3), rgba(75, 76, 77, 0.3));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(75, 76, 77, 0.3));
  background: -ms-linear-gradient(rgba(255, 255, 255, 0.3), rgba(75, 76, 77, 0.3));
  -pie-background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(75, 76, 77, 0.3));
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(75, 76, 77, 0.3));
}

/* line 315, ../sass/_320.scss */
.hero_slider .third .slide_wrap .slide_inner_wrap {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(75, 76, 77, 0.3)));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(75, 76, 77, 0.3));
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.3), rgba(75, 76, 77, 0.3));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(75, 76, 77, 0.3));
  background: -ms-linear-gradient(rgba(255, 255, 255, 0.3), rgba(75, 76, 77, 0.3));
  -pie-background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(75, 76, 77, 0.3));
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(75, 76, 77, 0.3));
}

/* line 317, ../sass/_320.scss */
.hero_slider .third .slide_wrap {
  background: url('../images/bg_noise_transparent.png?1311391074') center;
}

/* line 319, ../sass/_320.scss */
.hero_slider_wrap .slides_nav {
  bottom: 0;
  left: 50%;
  margin-left: -150px;
  position: absolute;
  text-align: center;
  width: 300px;
  z-index: 100;
}

/* line 329, ../sass/_320.scss */
.hero_slider_wrap .slides_nav li {
  background: aqua;
  display: inline;
  text-align: center;
}

/* line 335, ../sass/_320.scss */
.hero_slider_wrap .slides_nav li a {
  text-align: center;
  margin: 0 20px;
}

/* line 345, ../sass/_320.scss */
.post_sep {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  height: 17px;
  position: relative;
}

/* line 352, ../sass/_320.scss */
.post_sep:after {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  content: "";
  display: block;
  height: 17px;
}

/* line 361, ../sass/_320.scss */
.post_sep a,
.post_sep a:visited {
  background: #c8c7c7;
  position: absolute;
  height: 0;
  margin-left: -15px;
  overflow: hidden;
  padding-top: 30px;
  left: 50%;
  top: -8px;
  width: 30px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: inset rgba(68, 68, 68, 0.75) 0 1px 1px, #eeeeee 0 1px 1px;
  -webkit-box-shadow: inset rgba(68, 68, 68, 0.75) 0 1px 1px, #eeeeee 0 1px 1px;
  -o-box-shadow: inset rgba(68, 68, 68, 0.75) 0 1px 1px, #eeeeee 0 1px 1px;
  box-shadow: inset rgba(68, 68, 68, 0.75) 0 1px 1px, #eeeeee 0 1px 1px;
  behavior: url("/PIE.htc");
}

/* line 379, ../sass/_320.scss */
.post_sep a:hover,
.post_sep a:focus {
  background: #ccc;
  -moz-box-shadow: inset rgba(68, 68, 68, 0.85) 0 1px 1px, #eeeeee 0 1px 1px;
  -webkit-box-shadow: inset rgba(68, 68, 68, 0.85) 0 1px 1px, #eeeeee 0 1px 1px;
  -o-box-shadow: inset rgba(68, 68, 68, 0.85) 0 1px 1px, #eeeeee 0 1px 1px;
  box-shadow: inset rgba(68, 68, 68, 0.85) 0 1px 1px, #eeeeee 0 1px 1px;
  behavior: url("/PIE.htc");
}

/* line 387, ../sass/_320.scss */
.post_sep_inner a:active {
  margin-top: 1px;
  -moz-box-shadow: inset rgba(68, 68, 68, 0.85) 0 2px 1px, #eeeeee 0 1px 1px;
  -webkit-box-shadow: inset rgba(68, 68, 68, 0.85) 0 2px 1px, #eeeeee 0 1px 1px;
  -o-box-shadow: inset rgba(68, 68, 68, 0.85) 0 2px 1px, #eeeeee 0 1px 1px;
  box-shadow: inset rgba(68, 68, 68, 0.85) 0 2px 1px, #eeeeee 0 1px 1px;
  behavior: url("/PIE.htc");
}

/*------------------------------------------------------------------
Footer
------------------------------------------------------------------*/
/* line 399, ../sass/_320.scss */
footer {
  background: white url('../images/bg_diagonal_lines.png?1311391074') center;
  border-top: 1px solid #6caddf;
  clear: both;
  font-size: 16px;
  height: 70px;
  margin-top: -71px;
  overflow: hidden;
  position: relative;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px, rgba(0, 0, 0, 0.6) 0 0 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px, rgba(0, 0, 0, 0.6) 0 0 10px;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px, rgba(0, 0, 0, 0.6) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px, rgba(0, 0, 0, 0.6) 0 0 10px;
  text-shadow: white 0 1px 1px;
  behavior: url("/PIE.htc");
}

/* line 415, ../sass/_320.scss */
.footer_wrap {
  background: #f0f0f0;
  height: 70px;
  padding: 0 20px 0 20px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background: -ms-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  -pie-background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
}

/* line 423, ../sass/_320.scss */
.resize_icon {
  display: none;
}

/* line 425, ../sass/_320.scss */
footer .copyright {
  clear: both;
  color: #666;
  font-size: 12px;
  padding-top: 18px;
  text-shadow: white 0 1px 1px;
}

/* line 434, ../sass/_320.scss */
footer .footer_nav {
  float: left;
  font-size: 11px;
  padding-top: 6px;
  text-shadow: 0 1px 1px white;
}

/* line 441, ../sass/_320.scss */
footer .footer_nav li {
  float: left;
  border-right: 1px solid #6caddf;
  border-left: 1px solid #fff;
  padding: 0 8px 0 8px;
}

/* line 448, ../sass/_320.scss */
footer .footer_nav li:first-child {
  border-left: 0;
  padding-left: 0;
}

/* line 453, ../sass/_320.scss */
footer .footer_nav li:last-child {
  border-right: 0;
  padding-right: 0;
}

/* line 459, ../sass/_320.scss */
footer .footer_nav li a,
footer .footer_nav li a:visited {
  color: #6caddf;
}

/* line 465, ../sass/_320.scss */
footer .footer_nav li a:hover,
footer .footer_nav li a:focus,
footer .footer_nav li a:active {
  color: #6caddf;
  border-bottom: 1px dotted #6caddf;
}

/*.lastFMBody {
    border-top: 1px solid #bbb; 
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}

.lastFMBody .itemRow {
    overflow: hidden;
    height: 73px;
}

.lastFMBody .itemRowWrap {
    border-bottom: 1px solid #bbb;
    display: block;
    padding: 5px;    
    position: relative;
    
    @include background(linear-gradient(rgba(255,255,255, 1), rgba(238,238,238, 1)));     
}

.lastFMBody .artWrap {
    display: block;
    position: relative;
}

.lastFMBody ul li a {
    background-size: 60px 60px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    border: 1px solid #fff;  
    display: block;  
    height: 60px;
    overflow: hidden;
    width: 60px;
    
    @include border-radius(3px);
    @include box-shadow(rgba(0, 0, 0, .2) 1px 0 5px, inset rgba(0, 0, 0, .5) 0 0 2px);
}


.lastFMBody ul li a img {
    height: 60px;
    width: 60px;
    
    @include opacity(0);
}

.lastFMBody .itemName {
    border: none;
    font-size: 10px;
    line-height: 12px; 
    text-align: left;   
}

.lastFMBody .itemName a {
    border: none;
    color: #fff;  
    display: block;
    height: 73px;   
    position: absolute;
    width: 100%; 
    
    @include box-shadow(rgba(0, 0, 0, 0) 0 0 0, inset rgba(0, 0, 0, 0) 0 0 0);
    @include text-shadow(rgba(0, 0, 0, 1) 0 1px 1px);        
}

.lastFMBody .itemName a em {
    font-style: normal;
}

.lastFMBody .itemArtist {
    color: #fff;
    font-size: 13px;
    overflow: hidden;
    text-align: left;
    
    @include text-shadow(rgba(0, 0, 0, 1) 0 1px 1px);        
}*/
/*.lastFMBody .itemArtist,
.lastFMBody .itemName {
    color: #666;
    position: absolute;
    left: 80px;
    top: 0;
}*/
/* line 562, ../sass/_320.scss */
.lastFMBody ul {
  border-top: 1px solid #ccc;
}

/* line 566, ../sass/_320.scss */
.lastFMBody ul .itemRow {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #fff;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #e6e6e6));
  background: -webkit-linear-gradient(#fafafa, #e6e6e6);
  background: -moz-linear-gradient(#fafafa, #e6e6e6);
  background: -o-linear-gradient(#fafafa, #e6e6e6);
  background: -ms-linear-gradient(#fafafa, #e6e6e6);
  -pie-background: linear-gradient(#fafafa, #e6e6e6);
  background: linear-gradient(#fafafa, #e6e6e6);
}

/* line 573, ../sass/_320.scss */
.lastFMBody ul .itemRow a {
  display: block;
  height: 79px;
  overflow: hidden;
  position: relative;
}

/* line 580, ../sass/_320.scss */
.lastFMBody ul .itemRow a .artWrap {
  background-repeat: no-repeat;
  background-size: 60px 60px;
  border: 1px solid #fff;
  color: #fff;
  height: 60px;
  left: 10px;
  position: absolute;
  top: 9px;
  width: 60px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 0 5px, inset rgba(0, 0, 0, 0.5) 0 0 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 0 5px, inset rgba(0, 0, 0, 0.5) 0 0 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 1px 0 5px, inset rgba(0, 0, 0, 0.5) 0 0 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 0 5px, inset rgba(0, 0, 0, 0.5) 0 0 2px;
}

/* line 595, ../sass/_320.scss */
.lastFMBody ul .itemRow a .artWrap img {
  display: block;
  height: 60px;
  width: 60px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 603, ../sass/_320.scss */
.lastFMBody ul .itemRow a .track_info {
  display: table;
  height: 79px;
  width: 100%;
}

/* line 609, ../sass/_320.scss */
.lastFMBody ul .itemRow a .track_info p {
  color: #444;
  display: table-cell;
  height: 79px;
  font-size: 14px;
  padding-left: 88px;
  padding-right: 15%;
  vertical-align: middle;
  text-shadow: white 0 1px 1px;
}

/* line 622, ../sass/_320.scss */
.lastFMBody ul .itemRow a .track_info p .itemName,
.lastFMBody ul .itemRow a .track_info p .itemArtist {
  font-style: normal;
}

/* line 626, ../sass/_320.scss */
.lastFMBody ul .itemRow a .track_info p .itemName {
  font-weight: bold;
}

/* line 634, ../sass/_320.scss */
.FPO_individual_port aside h3 {
  color: #444;
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 60px;
  padding-left: 20px;
  text-align: left;
  text-shadow: white 0 2px 2px;
}

/* line 646, ../sass/_320.scss */
.FPO_individual_port aside ul {
  border-top: 1px solid #bbb;
  font-size: 14px;
  margin: 0 20px;
  text-shadow: white 0 1px 1px;
}

/* line 654, ../sass/_320.scss */
.FPO_individual_port aside ul li {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #bbb;
}

/* line 659, ../sass/_320.scss */
.FPO_individual_port section ul {
  display: block;
  margin: 0 auto;
  width: 100%;
}

/* line 665, ../sass/_320.scss */
.FPO_individual_port section ul li {
  background: rgba(255, 255, 255, 0.25);
  display: block;
  margin: 20px;
  padding: 1%;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px;
  -o-box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px;
  behavior: url("/PIE.htc");
  position: relative;
}

/* line 676, ../sass/_320.scss */
.FPO_individual_port section ul li img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

@media only screen and (min-width: 480px) {
  /* line 1, ../sass/_480.scss */
  .resize_icon {
    bottom: 0;
    cursor: help;
    display: block;
    position: fixed;
    right: 0;
  }

  /* line 9, ../sass/_480.scss */
  .resize_icon p {
    background: #6caddf;
    color: #fff;
    font-size: 10px;
    padding: 1px 3px 1px 4px;
    -moz-border-radius: 2px 0 0 0;
    -webkit-border-radius: 2px 0 0 0;
    -o-border-radius: 2px 0 0 0;
    -ms-border-radius: 2px 0 0 0;
    -khtml-border-radius: 2px 0 0 0;
    border-radius: 2px 0 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px;
    -o-box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px;
    text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 1px;
  }

  /* line 20, ../sass/_480.scss */
  footer .footer_nav {
    display: block;
    float: right;
    font-size: 12px;
    padding-top: 28px;
  }

  /* line 27, ../sass/_480.scss */
  footer .copyright {
    clear: none;
    float: left;
    padding-top: 28px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 1, ../sass/_768.scss */
  #page_content {
    padding-top: 18px;
  }

  /* line 5, ../sass/_768.scss */
  .before_header {
    background: transparent;
    border: 0;
    display: block;
    height: 34px;
    color: #777;
    font-size: 10px;
    font-weight: normal;
    padding-left: 3%;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    text-shadow: white 0 1px 1px;
  }

  /* line 21, ../sass/_768.scss */
  .before_header .charter {
    padding-bottom: 18px;
  }

  /* line 25, ../sass/_768.scss */
  .before_header ul {
    display: block;
    margin-right: 3%;
    position: absolute;
    right: 0;
    top: -18px;
  }

  /* line 33, ../sass/_768.scss */
  .before_header ul li {
    float: left;
    margin-top: -14px;
  }

  /* line 38, ../sass/_768.scss */
  .before_header ul li a {
    background: url("../images/png_master_sprite.png");
    display: block;
    height: 0;
    height: 42px;
    position: relative;
    width: 28px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
  }

  /* line 49, ../sass/_768.scss */
  .before_header ul li a:hover {
    margin-top: 3px;
    opacity: 1;
    -moz-transition-property: margin;
    -webkit-transition-property: margin;
    -o-transition-property: margin;
    transition-property: margin;
    -moz-transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  /* line 58, ../sass/_768.scss */
  .before_header ul li.linkedin a {
    background-position: -85px 0px;
  }

  /* line 59, ../sass/_768.scss */
  .before_header ul li.facebook a {
    background-position: -114px 0px;
  }

  /* line 60, ../sass/_768.scss */
  .before_header ul li.flickr a {
    background-position: -143px 0px;
  }

  /* line 61, ../sass/_768.scss */
  .before_header ul li.twitter a {
    background-position: -172px 0px;
  }

  /* line 62, ../sass/_768.scss */
  .before_header ul li.last_fm a {
    background-position: -201px 0px;
  }

  /* line 63, ../sass/_768.scss */
  .before_header ul li.dribbble a {
    background-position: -230px 0px;
  }

  /* line 65, ../sass/_768.scss */
  .before_header ul li.linkedin a:hover {
    background-position: -85px -48px;
  }

  /* line 66, ../sass/_768.scss */
  .before_header ul li.facebook a:hover {
    background-position: -114px -48px;
  }

  /* line 67, ../sass/_768.scss */
  .before_header ul li.flickr a:hover {
    background-position: -143px -48px;
  }

  /* line 68, ../sass/_768.scss */
  .before_header ul li.twitter a:hover {
    background-position: -172px -48px;
  }

  /* line 69, ../sass/_768.scss */
  .before_header ul li.last_fm a:hover {
    background-position: -201px -48px;
  }

  /* line 70, ../sass/_768.scss */
  .before_header ul li.dribbble a:hover {
    background-position: -230px -48px;
  }

  /* line 72, ../sass/_768.scss */
  .navigation {
    height: 50px;
    padding: 0 3%;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    background: -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    background: -o-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    background: -ms-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    -pie-background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    behavior: url("/PIE.htc");
    position: relative;
  }

  /* line 82, ../sass/_768.scss */
  .navigation nav ul.left,
  .navigation nav ul.right {
    padding: 10px 0 0 0;
    text-align: center;
    width: 40%;
  }

  /* line 88, ../sass/_768.scss */
  .navigation nav ul.left {
    float: left;
    margin-left: -2px;
  }

  /* line 90, ../sass/_768.scss */
  .navigation nav ul.right {
    float: right;
    margin-right: -3px;
  }

  /* line 97, ../sass/_768.scss */
  .navigation .max_width nav ul.left li.nav_1,
  .navigation .max_width nav ul.left li.nav_2,
  .navigation .max_width nav ul.left li.nav_3,
  .navigation .max_width nav ul.right li.nav_4,
  .navigation .max_width nav ul.right li.nav_5,
  .navigation .max_width nav ul.right li.nav_6 {
    border: 0;
    display: block;
    float: left;
  }

  /* line 103, ../sass/_768.scss */
  .navigation .max_width nav ul.left li.nav_1 {
    width: 33.33%;
  }

  /* line 104, ../sass/_768.scss */
  .navigation .max_width nav ul.left li.nav_2 {
    width: 33.33%;
  }

  /* line 105, ../sass/_768.scss */
  .navigation .max_width nav ul.left li.nav_3 {
    width: 33.33%;
  }

  /* line 106, ../sass/_768.scss */
  .navigation .max_width nav ul.right li.nav_4 {
    width: 31%;
  }

  /* line 107, ../sass/_768.scss */
  .navigation .max_width nav ul.right li.nav_5 {
    width: 33%;
  }

  /* line 108, ../sass/_768.scss */
  .navigation .max_width nav ul.right li.nav_6 {
    width: 36%;
  }

  /* line 115, ../sass/_768.scss */
  .navigation .max_width nav ul.left li.nav_1 a,
  .navigation .max_width nav ul.left li.nav_2 a,
  .navigation .max_width nav ul.left li.nav_3 a,
  .navigation .max_width nav ul.right li.nav_4 a,
  .navigation .max_width nav ul.right li.nav_5 a,
  .navigation .max_width nav ul.right li.nav_6 a {
    background: #eee;
    border: 1px solid #fff;
    display: block;
    font-size: 14px;
    font-weight: 600;
    height: 30px;
    letter-spacing: 0;
    line-height: 33px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(45%, #ffffff), color-stop(65%, #f0f0f0));
    background: -webkit-linear-gradient(#ffffff 45%, #f0f0f0 65%);
    background: -moz-linear-gradient(#ffffff 45%, #f0f0f0 65%);
    background: -o-linear-gradient(#ffffff 45%, #f0f0f0 65%);
    background: -ms-linear-gradient(#ffffff 45%, #f0f0f0 65%);
    -pie-background: linear-gradient(#ffffff 45%, #f0f0f0 65%);
    background: linear-gradient(#ffffff 45%, #f0f0f0 65%);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: inset #a2a2a2 0 1px 3px, #f0f0f0 0 1px 0px;
    -webkit-box-shadow: inset #a2a2a2 0 1px 3px, #f0f0f0 0 1px 0px;
    -o-box-shadow: inset #a2a2a2 0 1px 3px, #f0f0f0 0 1px 0px;
    box-shadow: inset #a2a2a2 0 1px 3px, #f0f0f0 0 1px 0px;
    behavior: url("/PIE.htc");
    position: relative;
  }

  /* line 140, ../sass/_768.scss */
  .navigation .max_width nav ul.left li.nav_1 a:hover,
  .navigation .max_width nav ul.left li.nav_2 a:hover,
  .navigation .max_width nav ul.left li.nav_3 a:hover,
  .navigation .max_width nav ul.right li.nav_4 a:hover,
  .navigation .max_width nav ul.right li.nav_5 a:hover,
  .navigation .max_width nav ul.right li.nav_6 a:hover {
    background: #ccc;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(45%, #f5f5f5), color-stop(65%, #e6e6e6));
    background: -webkit-linear-gradient(#f5f5f5 45%, #e6e6e6 65%);
    background: -moz-linear-gradient(#f5f5f5 45%, #e6e6e6 65%);
    background: -o-linear-gradient(#f5f5f5 45%, #e6e6e6 65%);
    background: -ms-linear-gradient(#f5f5f5 45%, #e6e6e6 65%);
    -pie-background: linear-gradient(#f5f5f5 45%, #e6e6e6 65%);
    background: linear-gradient(#f5f5f5 45%, #e6e6e6 65%);
    behavior: url("/PIE.htc");
    position: relative;
  }

  /* line 153, ../sass/_768.scss */
  .navigation .max_width nav ul.left li.nav_1 a:active,
  .navigation .max_width nav ul.left li.nav_2 a:active,
  .navigation .max_width nav ul.left li.nav_3 a:active,
  .navigation .max_width nav ul.right li.nav_4 a:active,
  .navigation .max_width nav ul.right li.nav_5 a:active,
  .navigation .max_width nav ul.right li.nav_6 a:active {
    background: #ddd;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(45%, #ebebeb), color-stop(65%, #dcdcdc));
    background: -webkit-linear-gradient(#ebebeb 45%, #dcdcdc 65%);
    background: -moz-linear-gradient(#ebebeb 45%, #dcdcdc 65%);
    background: -o-linear-gradient(#ebebeb 45%, #dcdcdc 65%);
    background: -ms-linear-gradient(#ebebeb 45%, #dcdcdc 65%);
    -pie-background: linear-gradient(#ebebeb 45%, #dcdcdc 65%);
    background: linear-gradient(#ebebeb 45%, #dcdcdc 65%);
    behavior: url("/PIE.htc");
    position: relative;
  }

  /* line 161, ../sass/_768.scss */
  .navigation .max_width nav ul.left li.nav_1 a {
    float: left;
    width: 65px;
  }

  /* line 162, ../sass/_768.scss */
  .navigation .max_width nav ul.left li.nav_2 a {
    margin: 0 auto;
    width: 71px;
  }

  /* line 163, ../sass/_768.scss */
  .navigation .max_width nav ul.left li.nav_3 a {
    float: right;
    width: 66px;
  }

  /* line 164, ../sass/_768.scss */
  .navigation .max_width nav ul.right li.nav_4 a {
    float: left;
    width: 74px;
  }

  /* line 165, ../sass/_768.scss */
  .navigation .max_width nav ul.right li.nav_5 a {
    margin: 0 auto;
    width: 61px;
  }

  /* line 166, ../sass/_768.scss */
  .navigation .max_width nav ul.right li.nav_6 a {
    float: right;
    width: 90px;
  }

  /* line 189, ../sass/_768.scss */
  body.home .navigation nav .left li.nav_1 a,
  body.page-about .navigation nav .left li.nav_2 a,
  body.post-type-archive-work .navigation nav .left li.nav_3 a,
  body.single-work .navigation nav .left li.nav_3 a,
  body.post-type-archive-goods .navigation nav .right li.nav_4 a,
  body.single-goods .navigation nav .right li.nav_4 a,
  body.post-type-archive-blog .navigation nav .right li.nav_5 a,
  body.single-blog .navigation nav .right li.nav_5 a,
  body.page-blog .navigation nav .right li.nav_5 a,
  body.single-post .navigation nav .right li.nav_5 a,
  body.page-contact .navigation nav .right li.nav_6 a,
  body.home .navigation nav .left li.nav_1 a:hover,
  body.page-about .navigation nav .left li.nav_2 a:hover,
  body.post-type-archive-work .navigation nav .left li.nav_3 a:hover,
  body.single-work .navigation nav .left li.nav_3 a:hover,
  body.post-type-archive-goods .navigation nav .right li.nav_4 a:hover,
  body.single-goods .navigation nav .right li.nav_4 a:hover,
  body.post-type-archive-blog .navigation nav .right li.nav_5 a:hover,
  body.single-blog .navigation nav .right li.nav_5 a:hover,
  body.page-blog .navigation nav .right li.nav_5 a:hover,
  body.single-post .navigation nav .right li.nav_5 a:hover,
  body.page-contact .navigation nav .right li.nav_6 a:hover {
    height: 30px;
    padding: 0;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(45%, rgba(134, 198, 247, 0.8)), color-stop(65%, rgba(108, 173, 223, 0.8)));
    background: -webkit-linear-gradient(rgba(134, 198, 247, 0.8) 45%, rgba(108, 173, 223, 0.8) 65%);
    background: -moz-linear-gradient(rgba(134, 198, 247, 0.8) 45%, rgba(108, 173, 223, 0.8) 65%);
    background: -o-linear-gradient(rgba(134, 198, 247, 0.8) 45%, rgba(108, 173, 223, 0.8) 65%);
    background: -ms-linear-gradient(rgba(134, 198, 247, 0.8) 45%, rgba(108, 173, 223, 0.8) 65%);
    -pie-background: linear-gradient(rgba(134, 198, 247, 0.8) 45%, rgba(108, 173, 223, 0.8) 65%);
    background: linear-gradient(rgba(134, 198, 247, 0.8) 45%, rgba(108, 173, 223, 0.8) 65%);
    -moz-box-shadow: inset #486e8c 0 1px 3px, inset rgba(72, 110, 140, 0.2) 0 3px 3px;
    -webkit-box-shadow: inset #486e8c 0 1px 3px, inset rgba(72, 110, 140, 0.2) 0 3px 3px;
    -o-box-shadow: inset #486e8c 0 1px 3px, inset rgba(72, 110, 140, 0.2) 0 3px 3px;
    box-shadow: inset #486e8c 0 1px 3px, inset rgba(72, 110, 140, 0.2) 0 3px 3px;
    text-shadow: #335d7d 0 1px 1px, rgba(51, 93, 125, 0.75) 0 0 10px;
  }

  /*------------------------------------------------------------------
  Main Content
  ------------------------------------------------------------------*/
  /* line 202, ../sass/_768.scss */
  .main_content_outer {
    padding-left: 3%;
    padding-right: 3%;
  }

  /* line 207, ../sass/_768.scss */
  .main_content {
    background: #e2e2e2;
    background: rgba(255, 255, 255, 0.5);
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
    behavior: url("/PIE.htc");
    position: relative;
  }

  /*------------------------------------------------------------------
  Footer
  ------------------------------------------------------------------*/
  /* line 219, ../sass/_768.scss */
  .footer_wrap {
    padding: 0 3% 0 3%;
  }

  /*
  .lastFMBody {
      border: none;
      margin: 0 auto;
      overflow: hidden;
      width: 100%;
  }
  
  .lastFMBody .itemRow {
      background: none;
      border: none;
      float: left;
      height: 132px;
      margin: 0 6%;
      position: relative;
      width: 132px;
  }
  
  .itemRowWrap {
      border: none;
      display: inline;
  }
  
  .lastFMBody ul li a {
      background-size: 120px 120px;
      background-position: 0px 0px;
      border: 1px solid #fff;    
      height: 120px;
      left: 5px;
      overflow: hidden;
      position: absolute;
      top: 5px;
      width: 120px;
      
      @include border-radius(3px);
      @include box-shadow(rgba(0, 0, 0, .2) 1px 0 5px, inset rgba(0, 0, 0, .5) 0 0 2px);
  }
  
  .lastFMBody ul li a:before {
      background: image-url('overlay_album_shine.png');
      content: "";
      height: 120px;
      left: 0;
      position: absolute;
      top: 0;    
      width: 120px;    
      z-index: 1;
  }
  
  .lastFMBody ul li:hover a {
      border: 6px solid #4ab0ff;
      left: 0;
      top: 0;
      
      @include box-shadow(rgba(0, 0, 0, .5) 1px 0 5px, rgba(108, 173, 223, 1) 0 0 1px);        
  }
  
  
  .lastFMBody ul li a img {
      height: 120px;
      width: 120px;
      
      @include opacity(0);
  }
  
  .lastFMBody .itemName {
      border: none;
      font-size: 10px;
      line-height: 12px;
      height: 132px;   
      position: absolute;
      text-align: center;
      width: 132px;
      
      @include background(radial-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .7) 40px));
      @include border-radius(6px);      
  }
  
  .lastFMBody .itemName a {
      border-color: transparent;
      color: #fff;  
      height: 38px;
      overflow: hidden;  
      padding: 78px 15px 4px 15px;
      width: 90px;    
      z-index: 4;
      
      @include text-shadow(rgba(0, 0, 0, 1) 0 1px 1px);        
  }
  
  .lastFMBody .itemName a em {
      display: block;
      font-style: normal;
      height: 38px;
      overflow: hidden;
  }
  
  .lastFMBody .itemName a:before {
      background: none;
  }
  
  .lastFMBody .itemArtist {
      color: #fff;
      font-size: 13px;
      height: 34px;
      left: 0; 
      overflow: hidden;
      padding: 20px 15px 0 15px;   
      position: absolute;
      text-align: center;
      top: 0;
      width: 102px;
      z-index: 3;
      
      @include text-shadow(rgba(0, 0, 0, 1) 0 1px 1px);        
  }
  
  .lastFMBody .itemName,
  .lastFMBody .itemArtist {
      @include opacity(0);
  }
  
  .lastFMBody .itemRow:hover .itemName,
  .lastFMBody .itemRow:hover .itemArtist {
      @include opacity(1);
      @include transition-property(opacity);
      @include transition-duration(0.5s);
  }*/
  /* line 356, ../sass/_768.scss */
  .lastFMBody ul {
    border-top: none;
  }

  /* line 360, ../sass/_768.scss */
  .lastFMBody ul .itemRow {
    background: none;
    border: none;
    float: left;
    height: 132px;
    margin: 50px;
    position: relative;
    width: 132px;
  }

  /* line 370, ../sass/_768.scss */
  .lastFMBody ul .itemRow a {
    display: block;
    height: 122px;
    left: 5px;
    overflow: visible;
    position: relative;
    top: 5px;
    width: 122px;
  }

  /* line 380, ../sass/_768.scss */
  .lastFMBody ul .itemRow a .artWrap {
    background-repeat: no-repeat;
    background-size: 120px 120px;
    border: 1px solid #fff;
    color: #fff;
    height: 120px;
    top: 0;
    left: 0;
    position: relative;
    width: 120px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 0 5px, inset rgba(0, 0, 0, 0.5) 0 0 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 0 5px, inset rgba(0, 0, 0, 0.5) 0 0 2px;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 1px 0 5px, inset rgba(0, 0, 0, 0.5) 0 0 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 0 5px, inset rgba(0, 0, 0, 0.5) 0 0 2px;
  }

  /* line 395, ../sass/_768.scss */
  .lastFMBody ul .itemRow a .artWrap:before {
    background: url('../images/overlay_album_shine.png?1311391074');
    content: "";
    height: 120px;
    left: 0;
    position: absolute;
    top: 0;
    width: 120px;
    z-index: 1;
  }

  /* line 406, ../sass/_768.scss */
  .lastFMBody ul .itemRow a .artWrap img {
    height: 120px;
    width: 120px;
  }

  /* line 411, ../sass/_768.scss */
  .lastFMBody ul .itemRow a .track_info {
    background: rgba(0, 0, 0, 0.7);
    left: 6px;
    position: absolute;
    top: 6px;
    height: 120px;
    width: 120px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  /* line 422, ../sass/_768.scss */
  .lastFMBody ul .itemRow a .track_info p {
    color: #fff;
    height: 120px;
    padding: 0;
    text-align: center;
    width: 120px;
    text-shadow: black 0 1px 1px;
  }

  /* line 433, ../sass/_768.scss */
  .lastFMBody ul .itemRow a .track_info p .itemName,
  .lastFMBody ul .itemRow a .track_info p .itemArtist {
    font-size: 11px;
    font-weight: normal;
    overflow: hidden;
    padding: 0 12px;
  }

  /* line 440, ../sass/_768.scss */
  .lastFMBody ul .itemRow a .track_info p .itemName {
    height: 50px;
  }

  /* line 445, ../sass/_768.scss */
  .lastFMBody ul .itemRow a:hover {
    left: 0;
    top: 0;
  }

  /* line 450, ../sass/_768.scss */
  .lastFMBody ul .itemRow a:hover .artWrap {
    border: 6px solid #4ab0ff;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 0 5px, #6caddf 0 0 1px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 1px 0 5px, #6caddf 0 0 1px;
    -o-box-shadow: rgba(0, 0, 0, 0.5) 1px 0 5px, #6caddf 0 0 1px;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 0 5px, #6caddf 0 0 1px;
  }

  /* line 456, ../sass/_768.scss */
  .lastFMBody ul .itemRow a:hover .track_info {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -moz-transition-property: opacity;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
}
@media only screen and (min-width: 992px) {
  /* line 4, ../sass/_992.scss */
  .main_content_outer,
  .before_header,
  .navigation,
  .footer_wrap {
    padding-left: 5%;
    padding-right: 5%;
  }

  /* line 9, ../sass/_992.scss */
  .before_header ul {
    margin-right: 5%;
  }
}
@media only screen and (min-width: 1150px) {
  /* line 4, ../sass/_1150.scss */
  .logo_wrap,
  .main_content_outer,
  .navigation,
  .footer_wrap {
    padding-left: 7%;
    padding-right: 7%;
  }

  /* line 9, ../sass/_1150.scss */
  .max_width {
    margin: 0 auto;
    max-width: 1200px;
  }

  /* line 17, ../sass/_1150.scss */
  .logo_wrap {
    margin: 0 auto;
    max-width: 1200px;
  }

  /* line 22, ../sass/_1150.scss */
  .logo_inner_wrap {
    position: relative;
  }

  /* line 26, ../sass/_1150.scss */
  h1 {
    top: 23px;
    left: 0;
    margin-right: 0;
  }

  /* line 32, ../sass/_1150.scss */
  .navigation .max_width nav {
    float: right;
    margin-right: -2px;
  }

  /* line 37, ../sass/_1150.scss */
  .navigation nav ul.left {
    margin-left: 0;
    width: 223px;
  }

  /* line 42, ../sass/_1150.scss */
  .navigation nav ul.right {
    margin-right: 0;
    width: 241px;
  }

  /* line 47, ../sass/_1150.scss */
  .navigation .max_width nav ul.left li.nav_1 {
    margin-right: 7px;
    width: 65px;
  }

  /* line 48, ../sass/_1150.scss */
  .navigation .max_width nav ul.left li.nav_2 {
    margin-right: 7px;
    width: 71px;
  }

  /* line 49, ../sass/_1150.scss */
  .navigation .max_width nav ul.left li.nav_3 {
    width: 66px;
  }

  /* line 50, ../sass/_1150.scss */
  .navigation .max_width nav ul.right li.nav_4 {
    margin-right: 7px;
    width: 74px;
  }

  /* line 51, ../sass/_1150.scss */
  .navigation .max_width nav ul.right li.nav_5 {
    margin-right: 7px;
    width: 61px;
  }

  /* line 52, ../sass/_1150.scss */
  .navigation .max_width nav ul.right li.nav_6 {
    width: 90px;
  }

  /* line 59, ../sass/_1150.scss */
  .navigation .max_width nav ul.left li.nav_1 a,
  .navigation .max_width nav ul.left li.nav_2 a,
  .navigation .max_width nav ul.left li.nav_3 a,
  .navigation .max_width nav ul.right li.nav_4 a,
  .navigation .max_width nav ul.right li.nav_5 a,
  .navigation .max_width nav ul.right li.nav_6 a {
    float: left;
  }

  /* line 63, ../sass/_1150.scss */
  .before_header {
    padding: 0 7%;
    max-width: 1200px;
    margin: 0 auto;
  }

  /* line 69, ../sass/_1150.scss */
  .before_header ul {
    float: right;
    position: relative;
    margin-right: -2px;
  }

  /* line 75, ../sass/_1150.scss */
  .before_header_inner {
    position: relative;
  }

  /* line 79, ../sass/_1150.scss */
  .charter {
    font-size: 11px;
    position: absolute;
    left: 63px;
    top: 54px;
  }
}
